#reportFilters select {
  width: 250px; }

.spreportshighchart-portlet {
  max-width: 1220px;
  margin: 0 auto;
  padding: 40px; }
  .spreportshighchart-portlet .rsvpbox-title {
    text-align: center; }

