.portlet-blogs {
    padding: 40px;
}

#spblogs-stream {
    height: 800px;
    margin-bottom: 1.25em;
    padding: 0 0 .75em;
    position: absolute;
    top: 0;
    width: 325px;
    z-index: 80;
}

#spblogs-stream.spblogs-abs {
    position: absolute !important;
    bottom: 0;
    top: auto;
    height: auto;
}

#spblogs-stream.spblogs-fixed {
    position: fixed;
    top: 0;
    bottom: 0;
}

.spblogs-portlet {
	max-width: 1220px;
    margin: 0 auto;
    .spblogs-article-title {
        margin-bottom: 10px;
    }
    .span3.lfr-discussion-details{
    	width:10%;
    }
    
    .user-profile-image{
    	width:auto;
    	height:50px;
    	img{
    		width:auto;
    	height:50px;
    	}
    }
    
    .taglib-user-display{
    	margin-bottom: 10px;
    	.user-name{
	    	font-size: 10px;
	    	font-weight: normal;
	    }
    }
    
    .taglib-discussion .lfr-discussion-form-container .lfr-discussion-form{
    	background: transparent;
    }
    .spblogs-stream-container {
        position: relative;
    }
    .spblogs-stream {
        width: 300px;
        z-index: 10;
        #spblogs-stream-list {
            overflow-y: scroll;
            ul {
                li {
                    cursor: pointer;
                    .spblogs-thumb {
                        width: 25%;
                        a {
                            display: block;
                            img {
                                width: 100%;
                            }
                        }
                    }
                    .spblogs-body {
                        width: 75%;
                    }
                }
            }
        }
        .spblogs-stream-load-more {
            padding: 20px;
        }
    }
    .spblogs-highlight-wrapper {
        height: auto;
        min-height: 514px;
        overflow-y: hidden;
        max-width: 100%;
        padding-top: 0;
    }
    #spblogs-content {
        padding-left: 345px;
        z-index: 9;
        min-height: 1000px;
        .spblogs-hilight-loadmore-container {
            padding: 20px 0;
            .spblogs-horizontal {
                -webkit-column-count: 3;
                -webkit-column-gap: 15px;
                -webkit-column-fill: auto;
                -moz-column-count: 3;
                -moz-column-gap: 15px;
                column-count: 3;
                column-gap: 15px;
                column-fill: auto;
                opacity: 1;
                &:hover {
                    li {
                        opacity: .5;
                    }
                }
                li {
                    display: inline-block;
                    *display: inline;
                    zoom: 1;
                    margin: 0 2px 15px;
                    opacity: 1;
                    &:hover {
                        opacity: 1;
                    }
                    .spblogs-main-image {
                        width: 100%;
                        overflow: hidden;
                        text-align: center;
                        a {
                            display: block;
                            height: 100%;
                            img {
                                width: 100%;
                                display: inline-block;
                                *display: inline;
                                zoom: 1;
                            }
                        }
                    }
                    .spblogs-main-content-head {
                        padding: 10px;
                        >a {
                            display: block;
                            padding-top: 10px;
                        }
                    }
                }
            }
        }
        .view-more-link {
            padding: 10px;
        }
    }
    .spblogs-main-article {
        height: 100%;
        .spblogs-main-content {
            width: 100%;
            height: 100%;
            .spblogs-main-content-image {
                a {
                    display: block;
                    font-size: 0;
                    img {
                        width: 100%;
                    }
                }
            }
            .spblogs-main-content-head {
                padding: 20px;
                padding-bottom: 0;
                a {
                    padding-bottom: 10px;
                }
                >a {
                    display: block;
                    /* padding-top: 10px; */
                }
            }
            .main-content-excerpt {
                padding: 20px;
                padding-top: 0;
                p {
                    line-height: 16pt;
                    a {
                        display: inline-block;
                        *display: inline;
                        zoom: 1;
                    }
                }
            }
        }
    }
    .spblogs-main-content-right {
        position: absolute;
        top: 0;
        right: 5px;
        width: 23%;
        display: inline-block;
        zoom: 1;
        .spblogs-main {
            width: 100%;
            margin-bottom: 15px;
            overflow: hidden;
            .spblogs-main-image {
                line-height: 0;
                height: 126px;
                overflow: hidden;
                a {
                    display: block;
                    img {
                        width: 100%;
                    }
                }
            }
            .spblogs-main-content-head {
                padding: 5px 20px 10px;
                >a {
                    display: block;
                    padding-top: 10px;
                    
                }
            }
        }
    }
    .spblogs-content-author {
        a {
            display: inline-block !important;
            *display: inline;
            zoom: 1;
        }
    }
    #spblogs-article-wrapper {
        .spblogs-article {
            overflow: hidden;
        }
        .spblogs-article-more {
            .loopPostWrap {
                -webkit-column-count: 3;
                -webkit-column-gap: 15px;
                -webkit-column-fill: auto;
                -moz-column-count: 3;
                -moz-column-gap: 15px;
                column-count: 3;
                column-gap: 15px;
                column-fill: auto;
                -moz-column-fill: balance!important;
                opacity: 1;
                &:hover {
                    .spblogs-loop-post {
                        opacity: .5;
                    }
                }
                .spblogs-loop-post {
                    display: inline-block;
                    *display: inline;
                    zoom: 1;
                    margin: 0 2px 15px;
                    -webkit-column-break-inside: avoid;
                    -moz-column-break-inside: avoid;
                    column-break-inside: avoid;
                    page-break-inside: avoid;
                    opacity: 1;
                    &:hover {
                        opacity: 1;
                    }
                    .spblogs-loop-post-content {
                        display: block;
                        width: 100%;
                        .spblogs-loop-post-image {
                            width: 100%;
                            line-height: 0;
                            a {
                                display: block;
                                width: 100%;
                                img {
                                    width: 100%;
                                }
                            }
                        }
                        h2 {
                            padding: 10px;
                        }
                    }
                }
            }
            h3 {
                display: block;
                padding-bottom: 20px;
                width: 100%;
            }
        }
    }
}

//Blog Templates

.blog_contents{
	ol li{
		list-style: decimal;
		display: list-item!important;
	}
}

li.blog_content_text {
    margin-bottom: 5px!important;
}

.blog_container {
    display: block;
    .quoteText_r {
        float: right;
        margin-left: 20px;
        width: 300px;
    	margin-bottom: 20px;
    }
    .quoteText_l {
        float: left;
        margin-right: 20px;
        width: 300px;
    }
    .quotedFrom {
	    text-align: right;
	    margin-top: 10px;
	}
	.blog_img {
	    width: 340px;
	    margin: 5px 5px;
	    display: inline-block;
	    zoom: 1;
	}
	
	.blog_img_title {
	    margin-bottom: 10px;
	    text-align: left;
	}
	.blog_content_img_l {
	    width: 340px;
	    float: left;
	    margin: 10px 30px 20px 0px;
	}
	.blog_content_img_r {
	    width: 340px;
	    float: right;
	    margin: 10px 0px 20px 30px;
	}
    .blog_wrap {
        display: block;
        .blog_headerImage {
            display: block;
            width: 100%;
            max-height: 500px;
            overflow: hidden;
            line-height: 0;
            img {
                width: 100%;
            }
        }
        .blog_contents {
                margin-top: 40px;
            .blog_content_head {
                display: block;
                margin-bottom: 20px;
            }
            .blog_content_text {
                margin-bottom: 20px;
                display: block;
            }
            ul {
            list-style: disc outside;
                    padding-left: 10px;
                    li {
                        display: list-item!important;
                        list-style: disc outside;
                    }
                &.blog-lists {
                    list-style: disc outside;
                    margin-left: 20px;
                    padding-left: 10px;
                    li {
                        display: list-item!important;
                        list-style: disc outside;
                    }
                }
                clear: both;
            }
            ol {
            list-style: decimal outside;
                    padding-left: 10px;
                    li {
                        list-style: decimal outside;
                    }
                &.blog-list-num {
                    list-style: decimal outside;
                    margin-left: 20px;
                    padding-left: 10px;
                    li {
                        list-style: decimal outside;
                    }
                }
            }
            .fLeft {
                float: left;
                padding-right: 20px;
                padding-bottom: 10px;
                width: 25%;
                display: block;
            }
            .fRight {
                float: right;
                padding-left: 20px;
                padding-bottom: 10px;
                width: 25%;
                display: block;
            }
            figure {
                &.figure {
                    width: 300px;
                    padding: 15px;
                    margin: 0;
                    padding-top: 0;
                    &.fLeft {
                        padding-left: 0;
                    }
                    &.fRight {
                        padding-right: 0;
                    }
                    img {
                        width: 100%;
                    }
                    figcaption {
                        padding: 10px;
                        font-size: 8pt;
                        display: block;
                    }
                }
            }
        }
    }
}

.blog_container-template2{
	.blog_contents {
        .blog_content_head,.blog_content_text  {
			clear:inherit!important;
		}
	}
}

@media screen and (max-width: 768px) and (min-width: 320px){
.blog_content_head {
	clear:both;
	}
}
@media screen and (max-width: 767px) and (min-width: 320px){
	.portlet-blogs{
		padding:20px;
	}
	
	.blog_container .quoteText_r{
			float: none;
		    margin-left: 0;
		    width: auto;
		}
	
		.blog_container .blog_content_img_l {
		    width: auto;
		    float: none;
		    margin: 10px 0px 20px 0;
		}
		
		.blog_container .blog_content_img_r {
		    width: auto;
		    float: none;
		    margin: 10px 0px 20px 0;
		}
		
		.blog_container .blog_img {
    		width: auto;
		}
		
    .spblogs-portlet {
        .spblogs-stream {
            display: none!important;
        }
        .spblogs-article-more {
            text-align: center;
        }
        #spblogs-content {
            padding: 0!important;
            .spblogs-main-article {
                width: 100%;
            }
            .spblogs-main-content-right {
                width: 100%;
                position: relative;
                padding-top: 15px;
            }
            .spblogs-hilight-loadmore-container {
                .spblogs-horizontal {
                    -webkit-column-count: 1;
                    -webkit-column-gap: 15px;
                    -webkit-column-fill: auto;
                    -moz-column-count: 1;
                    -moz-column-gap: 15px;
                    column-count: 1;
                    column-gap: 15px;
                    column-fill: auto;
                    li {
                        min-width: 50%;
                    }
                }
            }
        }
        #spblogs-article-wrapper {
            .spblogs-article {
                .spblogs-article-head {
                    padding: 20px;
                }
                .spblogs-article-body-wrapper {
                    padding: 20px;
                }
                img {
                    width: 100%;
                    height: auto !important;
                }
            }
            .spblogs-article-more {
                .loopPostWrap {
                    -webkit-column-count: 1;
                    -webkit-column-gap: 15px;
                    -webkit-column-fill: auto;
                    -moz-column-count: 1;
                    -moz-column-gap: 15px;
                    column-count: 1;
                    column-gap: 15px;
                    column-fill: auto;
                    -moz-column-fill: balance;
                    .spblogs-loop-post {
                        min-width: 50%;
                        .spblogs-loop-post-image img {
                            height: 100%;
                        }
                    }
                }
            }
        }
        //DONE BY KARTHIK
        .spblogs-main-content-right {
            position: absolute;
            top: 0;
            right: 0;
            width: 300px;
            display: inline-block;
            zoom: 1;
            .spblogs-main {
                width: 100%;
                margin-bottom: 15px;
                overflow: hidden;
                .spblogs-main-image {
                    line-height: 0;
                    height: 126px;
                    overflow: hidden;
                    a {
                        display: block;
                        img {
                            width: 100%;
                        }
                    }
                }
                .spblogs-main-content-head {
                    padding: 5px 20px 10px;
                    a {
                        text-transform: none;
                    }
                    >a {
                        display: block;
                        padding-top: 10px;
                        
                    }
                }
            }
        }
    }
    .blog_container {
        .blog_wrap {
            .blog_contents {
                .blog_content_head {
                    padding: 20px 0;
                }
                .fLeft {
                    float: none;
                    clear: both;
                    width: 100%;
                }
                .fRight {
                    float: none;
                    clear: both;
                    width: 100%;
                }
                figure {
                    &.figure {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1100px) and (min-width: 768px) {
    .spblogs-portlet {
        .spblogs-stream {
            display: none!important;
        }
        .spblogs-article-more {
            text-align: center;
        }
       	.blog_container .quoteText_r{
			float: none;
		    margin-left: 0;
		    width: auto;
		}
	
		.blog_container .blog_content_img_l {
		    width: auto;
		    float: none;
		    margin: 10px 0px 20px 0;
		}
		
		.blog_container .blog_content_img_r {
		    width: auto;
		    float: none;
		    margin: 10px 0px 20px 0;
		}
		.blog_container .blog_img {
    		width: 340px;
		}
		
        #spblogs-content {
            padding: 0!important;
            .spblogs-main-article {
                width: 100%;
            }
            .spblogs-main-content-right {
                width: 100%;
                right: 0;
                position: relative;
                padding-top: 15px;
            }
            .spblogs-hilight-loadmore-container {
                .spblogs-horizontal {
                    -webkit-column-count: 2;
                    -webkit-column-gap: 15px;
                    -webkit-column-fill: auto;
                    -moz-column-count: 2;
                    -moz-column-gap: 15px;
                    column-count: 2;
                    column-gap: 15px;
                    column-fill: auto;
                    li {
                        min-width: 50%;
                    }
                }
            }
        }
        #spblogs-article-wrapper {
            .spblogs-article {
                .spblogs-article-head {
                    padding: 20px;
                }
                .spblogs-article-body-wrapper {
                    padding: 20px;
                }
            }
            .spblogs-article-more {
                .loopPostWrap {
                    -webkit-column-count: 2;
                    -webkit-column-gap: 15px;
                    -webkit-column-fill: auto;
                    -moz-column-count: 2;
                    -moz-column-gap: 15px;
                    column-count: 2;
                    column-gap: 15px;
                    column-fill: auto;
                    -moz-column-fill: balance;
                    .spblogs-loop-post {
                        min-width: 50%;
                    }
                }
            }
        }
    }
    .blog_container {
        .blog_wrap {
            .blog_contents {
                .blog_content_head {
                    padding: 20px 0;
                }
                .fLeft {
                    float: none;
                    clear: both;
                    width: 100%;
                }
                .fRight {
                    float: none;
                    clear: both;
                    width: 100%;
                }
                figure {
                    &.figure {
                        width: 100%;
                    }
                }
            }
        }
    }
    .as-stream-rfloat {
        display: inline-block;
        float: right;
        padding: 30px 0 0 0;
    }
}

@media screen and (max-width: 1100px) and (min-width: 768px){
    .spblogs-portlet {
        .spblogs-stream {
            width: 240px;
        }
        #spblogs-content {
            .spblogs-hilight-loadmore-container {
                .spblogs-horizontal {
                    li {
                        min-width: 121px;
                    }
                }
            }
        }
        .spblogs-main-content-right {
            width: 250px;
            padding-right: 20px;
        }
        #spblogs-article-wrapper {
            .spblogs-article-more {
                .loopPostWrap {
                -moz-column-fill: balance;
                    .spblogs-loop-post {
                        min-width: 121px;
                    }
                }
            }
        }
        .as-stream-rfloat {
            display: inline-block;
            float: right;
            padding: 30px 0 0 0;
        }
    }
}

.aui .navbar-search{
	right:8%;
}
@media (min-width: 1281px) {
    
    .spblogs-portlet #spblogs-article-wrapper .spblogs-article-more .loopPostWrap{
    	margin-right:20px;
    }
}
