//text-align
$textcenter:center;
$textleft:left;
$textright:right;
$textjustify:justify;
//Display & position
$display-inlineblock:inline-block;
$display-block:block;
$display-none:none;
$position-relative:relative;
$position-absolute:absolute;
$position-fixed:fixed;
$position-static:static;
//Margins
$margin-xs: 5px;
$margin-s: 10px;
$margin-m: 20px;
$margin-l: 40px;
$margin-xl:80px;
//Wrapper width
$widthFlex:100%;
$mainContainer:1280px;
$width18andHalf: 18.5%;
$width78andHalf: 78.5%;
$width79: 79%;
$MediumContainer:950px;
$span-W5:5%;
$span-W10:10%;
$span-W15:15%;
$span-W20:20%;
$span-W25:25%;
$span-W30:30%;
$span-W35:35%;
$span-W40:40%;
$span-W45:45%;
$span-W50:50%;
$span-W55:55%;
$span-W60:60%;
$span-W65:65%;
$span-W70:70%;
$span-W75:75%;
$span-W80:80%;
$span-W85:85%;
$span-W90:90%;
$span-W95:95%;
$span-W100:100%;
//VerticalAlign
$v-top:top;
$v-middle:middle;
$v-bottom:bottom;
$imgpath: /SPProcessEngine-portlet;
