@import "Enrollment_variables";
@import "Enrollment_Common";

.aui{
	.paymentMode{
		    width: 40%;
	    margin: 0 auto;
	    input[type='radio']{
		width: 1em;
		    vertical-align: middle;
		}
		label{
		padding:0;
		    margin-bottom: 0;
		}
	}
	
	.radioFields {
		    padding: 10px;
		input,label {
		display:inline-block;
		vertical-align: sub;
		}
		label{
		padding:0;
		}
		input[type='radio']{
		width: 1em;
		}
	}
	
	.stripe-button-el{
		    margin-top: 10px;
	}
	
	.paymentModeDiv{
	    border: 1px solid #ccc;
	        margin-bottom: 10px;
            padding-bottom:11px;
	}
}

#confirmation_container{
	    width: 50%;
    text-align: center;
    margin: 0 auto;
}


/** Harini - for additional data - fee detail screen **/


.feeRowCol {
    width: 24%;
    display: inline-block;
}

.feeRowCol.col1,
.Div_Head_row .col1 {
    width: 10%;
    border-right: 1px solid #e8dee4;
    padding: 20px 10px;
    text-align: left;
    display select {
        width: 100%;
    }
}

.feeRowCol.col2,
.feeRowCol.col3,
.Div_Head_row .col2,
.Div_Head_row .col3 {
    width: 28.6%;
    border-right: 1px solid #e8dee4;
    padding: 10px;
}

.feeRowCol.col4,
.Div_Head_row .col4 {
    text-align: left;
    padding: 0 0 0 20px;
    input {
        width: 60%!important;
    }
}

.feeRowContainer {
    .Div_Head_row .col1 {
        margin-left: -71px;
    }
    .Div_Head_row .col2,
    .Div_Head_row .col3 {
        width: 31.6%;
    }
}

.Div_Head_row {
    .col1 {
        display: inline-block;
        width: 8%;
        text-align: left;
        margin-left: -31px;
        padding-left: 0;
    }
    .col2 {
        display: inline-block;
        text-align: left;
    }
    .col3 {
        display: inline-block;
        text-align: left;
    }
    .col4 {
        display: inline-block;
        padding: 0 0 0 20px;
    }
}

.finstmntRowWrap {
    .Div_Head_row {
        .col1 {
            display: inline-block;
            width: 34%;
            text-align: left;
            margin-left: -13px;
            padding: 20px 30px;
        }
        .col2,
        .col3 {
            display: inline-block;
            width: 33%;
            text-align: left;
            padding-left: 24px;
        }
        .col3 {
            border-right: none;
        }
    }
}

.feeRowInstCol.col1,
.feeRowInstCol.col2,
.feeRowInstCol.col3 {
    display: inline-block;
    text-align: left;
    width: 32.9%;
    padding: 10px 19px;
    border-right: 1px solid #e8dee4;
}

.feeRowInstCol.col2,
.feeRowInstCol.col3 {
    input {
        width: 50%!important;
    }
}

.feeRowInstCol.col3 {
    border-right: none;
}

.form-inner {
    padding: 10px 10px 10px 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    width: 90%;
    margin: 0 auto 50px auto;
}

.bg_title {
    background-color: #f6f7f8;
}

.Border {
    border: 1px solid;
    border-color: #e0e7ee;
}

.wrapperInput {
    width: 500px;
    margin: 0 auto;
    padding: 0 0 20px 0;
}

.Div_Head_row {
    width: 100%;
    display: inline-block;
    position: relative;
    border: 1px solid #e8dee4;
    background-color: #faf3f7;
    font-size: 14px;
    color: #000;
    font-weight: 600;
    text-align: center;
}

.Div_Col_row {
    width: 100%;
    display: inline-block;
    cursor: move;
    position: relative;
    border: 1px solid #e8dee4;
    background-color: #faf3f7;
    font-size: 14px;
    color: #333333;
    font-weight: 400;
    transition: all 0.5s ease;
}

.Input_Fullwidth {
    width: 100%;
    display: inline-block;
    position: relative;
    vertical-align: top;
}

.addFeeFunding-button {
    text-align: center;
    margin-bottom: -40px !important;
}

.Add_button a {
    font-size: 11px !important;
    color: #ffffff !important;
    text-decoration: none !important;
}

.Button-green {
    background-image: linear-gradient(-180deg, #9cd174 0%, #62a540 100%);
    border: 1px solid #62a540;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    border-radius: 2px;
    padding: 6px 20px;
    text-decoration: none;
    color: #ffffff !important;
    font-size: 11px;
    display: inline-block;
    margin: 15px 0;
}

.close_button {
    position: relative;
    display: inline-block;
    text-align: right;
    top: -22px;
    right: -22px;
    cursor: pointer;
}

.instSelectContainer {
    margin: 50px;
    span {
        display: inline-block;
        margin-right: 20px;
        font-weight: 600;
    }
    select {
        width: 10%!important;
    }
}

.SelectedProduct {
    font-size: 11pt;
    font-weight: 400;
    color: #555;
}

.has-float-label .portlet-msg-error {
    background-color: transparent;
    padding: 0;
    border: 0;
    font-size: 10pt;
    color: red;
}

.dowload_image
{
    span{
    font-size: 12px;
    font-weight: bold;
    margin-right: 15px;
    }
    a{
    font-size: 14px;
    color: black !important;
    }
}


/** -- **/

.ie .Stage {
    right: 0px;
    margin-top: 17px;
}

.ie {
    .Search-Icon,
    .SearchBar-Container .Searchdiv .Icon-Search {
        height: 37px;
    }
}

.ie {
    .Calendar-Icon,
    .SearchBar-Container .Calendar-From .Icon-calendar,
    .SearchBar-Container .Calendar-To .Icon-calendar {
        height: 37px;
    }
}

.enrollmentContainer {
    .enrollmentSelBtnContainer {
        position: absolute;
        right: 0;
        top: 35%;
        margin-right: 140px;
        margin-top: -9px;
    }
    .enrollmentRow {
        @extend .Enrollment-formfield;
	@mixin float-label-container {
            display: block;
            position: relative;
        }
        @mixin float-label {
            label {
                position: absolute !important;
                left: 0 !important;
                top: 0 !important;
                cursor: text !important;
                font-size: 9pt!important;
                opacity: 1 !important;
                transition: all .2s !important;
		padding: 0;
                @content;
            }
            .download_label {
                position: absolute !important;
                left: 105px !important;
                top: 0 !important;
                padding: 5px 0;
                cursor: text !important;
               
                font-size: 10pt!important;
                opacity: 1 !important;
                transition: all .2s !important;
                color: #555;
                width: 80%;
                @content;
            }
        }
        @mixin float-label-input {
            &::placeholder {
                opacity: 0 !important;
                transition: all .2s !important;
            }
            &:placeholder-shown:not(:focus)::placeholder {
                opacity: 0 !important;
            }
        }
        @mixin float-label-scaled {
            &:placeholder-shown:not(:focus) + * {
                font-size: 100% !important;
                opacity: .5 !important;
                outline: none !important;
                font-size: 11pt !important;
                @content;
            }
        }
        /* Default styling
 * https://github.com/tonystar/float-label-css/blob/master/scss/float-label.scss
 */
        .has-float-label {
            @include float-label-container;
            @include float-label;
            select {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
            }
            input,
            select {
                @include float-label-input;
                font-size: inherit !important;
                padding-top: 1.5em !important;
                margin-bottom: 10px !important;
                border: 0 !important;
                outline: none !important;
                padding-left: 0;
                border-radius: 0;
                border-bottom: 2px solid rgba(0, 0, 0, .1) !important;
                font-size: 10pt;
                font-weight: 400;
                width: 100%;
                @include float-label-scaled {
                    top: 1.25em !important;
                }
                &:focus {
                    outline: none!important;
                    box-shadow: none;
                    border-color: rgb(150, 31, 99) !important;
                    border-radius: 0;
                }
            }
            select {
                padding-right: 1em;
                background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23333' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .5em bottom .25em;
                background-size: 8px 10px;
            }
            button.material-btn {
                /* padding: 1.36em 2.1em !important; */
                padding: 1.18em 2.1em !important;
                font-size: 14px !important;
                font-weight: 400 !important;
                color: #fff;
                font-style: normal !important;
                line-height: 0.7rem !important;
                border-radius: 0px !important;
                min-width: 100px !important;
                background: #f59807 !important;
                margin-right: 30px;
                &:hover {
                    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
                }
            }
            button.choose-btn {
                padding: 8px 12px !important;
                font-size: 12px !important;
                font-weight: 400 !important;
                color: #fff;
                font-style: normal !important;
                line-height: 0.7rem !important;
                border-radius: 0px !important;
                min-width: 100px !important;
                background: #f59807 !important;
                &:hover {
                    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, .18), 0 4px 15px 0 rgba(0, 0, 0, .15);
                }
            }
            &.marginBottom10 {
                margin-bottom: 10px;
            }
            &.marginTop30 {
                margin-top: 30px;
            }
             &.marginTop20 {
                margin-top: 20px;
            }
            .Icon-Search{
            	display: inline-block;
    			width: 17px;
    			height: 17px;
    			margin-top: 0;
    			top: 10px;
    			right: 10px;
    			position: absolute;
            }
        }
        /*Leftsidebar*/
        .sidebarNavigation {
            width: $width18andHalf;
            display: $display-inlineblock;
            position: $position-relative;
            vertical-align: $v-top;
            margin-right: 10px;
            @extend .Leftsul !optional;
        }
        /*Leftsidebar End*/
        /*RightcontentWrapper*/
        .maincontentRight {
            margin: 0 0 0 10px;
            @include padding(0);
            width: $width79;
            display: $display-inlineblock;
            vertical-align: $v-top;
            position: $position-relative;
            .mainContentContainer {
                min-height: 400px;
                position: $position-relative
            }
        }
        .DragcontentRight {
            margin: 0 0 0 10px;
            @include padding(0);
            width: $width78andHalf;
            display: $display-inlineblock;
            vertical-align: $v-top;
            position: $position-relative;
            .DragContentContainer {
                min-height: 400px;
                position: $position-relative
            }
        }
    }
}

//Process Header
.SectionHeader {
    .HeaderContainer {
        width: 100%;
        max-width: $mainContainer;
        margin: 0 auto;
        .HeaderRow {
            position: $position-relative;
            margin: 0 20px;
            .ProcessHeader {
                display: $display-inlineblock;
                position: $position-relative;
                width: $widthFlex;
                @include margin(6px 0);
                .ProcessBack {
                    position: $position-absolute;
                    top: 12px;
                    left: 10px;
                    a {
                        display: $display-block;
                        position: $position-relative;
                        @include padding(0 40px);
                        z-index: 10;
                    }
                    img {
                        width: 15px;
                        position: $position-absolute;
                        left: 15px;
                    }
                }
                .ProcessTitle {
                    text-align: center;
                    @include margin(0 auto);
                    position: $position-relative;
                    img {
                        width: 15px;
                        position: $position-absolute;
                        top: 13px;
                        left: 50%;
                        margin-left: -45px;
                    }
                }
                .ProcessLink {
                    position: $position-absolute;
                    top: 0;
                    right: 20px;
                    .ProcessNotify {
                        display: $display-inlineblock;
                        @include padding(10px);
                        a {
                            text-decoration: none;
                            outline: none;
                            img {
                                width: 15px;
                            }
                        }
                    }
                    .ProcessDropdown {
                        display: $display-inlineblock;
                        @include padding(10px);
                        a {
                            text-decoration: none;
                            outline: none;
                            img {
                                width: 13px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.Section-ProcessNav {
    @include padding(20px 0);
    width: 100%;
    margin: 0;
    padding: 0;
    .ProcessNav-Container {
        width: 100%;
        max-width: $mainContainer;
        margin: 0 auto;
        .ProcessNavRow {
            position: $position-relative;
            @include margin(0 40px);
            .ProcessNav-Notes {
                display: $display-inlineblock;
                width: $span-W30;
                vertical-align: top;
                margin-top: 20px;
                p {
                    width: 300px;
                }
            }
            .ProcessNav-Link {
                display: $display-inlineblock;
                width: $span-W40;
                vertical-align: top;
                ul {
                    text-decoration: none;
                    list-style: none;
                    width: 460px;
                    @include margin(0 auto);
                    li {
                        display: $display-inlineblock;
                        text-align: $textcenter;
                        height: 123px;
                        vertical-align: top;
                        a {
                            display: $display-inlineblock;
                            width: 146px;
                            height: 123px;
                            text-decoration: none;
                            outline: none;
                            @include padding(30px);
                            img {
                                width: 37px;
                            }
                            p {
                                text-align: $textcenter;
                                @include padding(10px 0);
                            }
                            &.active {
                                position: $position-relative;
                                &:after {
                                    position: $position-absolute;
                                    width: 0;
                                    height: 0;
                                    margin-left: -1em;
                                    bottom: -1.3em;
                                    left: 50%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

//Process Header End
.done-icon {
    width: 48px;
    height: 48px;
    object-fit: contain;
    text-align: center;
    margin: 30px auto 15px;
}

.success-msg-title {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    text-align: center;
    color: #1eac47;
    margin-bottom: 5px;
}

.success-msg {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    text-align: center;
    color: #333333;
}

//AO SCREEN Updated by karthik
#feeRowContainer .Div_Head_row .col1 {
    margin-left: -90px;
}

#feeRowContainer .Div_Head_row .col2,
#feeRowContainer .Div_Head_row .col3 {
    width: 31.6%;
}

#feeRowContainer .feeRowCol.col2,
#feeRowContainer .feeRowCol.col3 {
    width: 31.6%;
}

#feeRowContainer .close_button {
       right: 5px;
    position: absolute;
    top: 50%;
    margin-top: -15px;
       width: 15px;
    height: 23px;
    img{
        width: 100%;
    }
}

#threedot {
    position: absolute;
    left: 50%;
    top: 0;
    margin-top: 6px;
    margin-left: -17px;
    width: 32px;
    height: 37px;
    background-image: url(/SPProduct-portlet/images/Product_create/3dot.png);
    background-repeat: no-repeat;
    background-position: 15px 11px;
}

.conextMenuDiv {
    display: inline-block;
    position: relative;
    width: 200px;
    padding: 0;
    height: auto;
    position: absolute;
    right: 40px;
    top: 17px;
    z-index: 100;
    background-color: #FFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid;
    border-color: #e0e7ee;
}

.conextMenuDiv ul li {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
}

.conextMenuDiv ul li:hover {
    background-color: #eee;
    border-bottom: 1px solid #e0e7ee;
}

.conextMenuDiv ul li a {
    color: #5f6e7d;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    width: 100%;
    padding: 8px 20px;
    display: block;
}

.conextMenuDiv ul li a img {
    width: 25px;
    height: 25px;
    padding: 0px 10px 0 0;
    vertical-align: middle;
}

.lead {
    background: -moz-radial-gradient(center, circle cover, #50EDE0 0%, #2C80E3 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #50EDE0), color-stop(100%, #2C80E3));
    background: -webkit-radial-gradient(center, circle cover, #50EDE0 0%, #2C80E3 100%);
    background: -o-radial-gradient(center, circle cover, #50EDE0 0%, #2C80E3 100%);
    background: -ms-radial-gradient(center, circle cover, #50EDE0 0%, #2C80E3 100%);
    background: radial-gradient(center, circle cover, #50EDE0 0%, #2C80E3 100%);
}

.won {
    background: -moz-radial-gradient(center, circle cover, #82F3A3 0%, #26A94A 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #82F3A3), color-stop(100%, #26A94A));
    background: -webkit-radial-gradient(center, circle cover, #82F3A3 0%, #26A94A 100%);
    background: -o-radial-gradient(center, circle cover, #82F3A3 0%, #26A94A 100%);
    background: -ms-radial-gradient(center, circle cover, #82F3A3 0%, #26A94A 100%);
    background: radial-gradient(center, circle cover, #82F3A3 0%, #26A94A 100%);
}

.lost {
    background: -moz-radial-gradient(center, circle cover, #FF8B8B 0%, #CE3535 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #FF8B8B), color-stop(100%, #CE3535));
    background: -webkit-radial-gradient(center, circle cover, #FF8B8B 0%, #CE3535 100%);
    background: -o-radial-gradient(center, circle cover, #FF8B8B 0%, #CE3535 100%);
    background: -ms-radial-gradient(center, circle cover, #FF8B8B 0%, #CE3535 100%);
    background: radial-gradient(center, circle cover, #FF8B8B 0%, #CE3535 100%);
}

//END
#_processstatelisting_WAR_SPProcessEngineportlet_approve {
    background: -moz-linear-gradient(271deg, #7EBF56 31%, #6BB24D 45%, #55A243 62%, #25802D 100%);
    /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(31%, #7EBF56), color-stop(45%, #6BB24D), color-stop(62%, #55A243), color-stop(100%, #25802D));
    /* safari4+,chrome */
    background: -webkit-linear-gradient(271deg, #7EBF56 31%, #6BB24D 45%, #55A243 62%, #25802D 100%);
    /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(271deg, #7EBF56 31%, #6BB24D 45%, #55A243 62%, #25802D 100%);
    /* opera 11.10+ */
    background: -ms-linear-gradient(271deg, #7EBF56 31%, #6BB24D 45%, #55A243 62%, #25802D 100%);
    /* ie10+ */
    background: linear-gradient(179deg, #7EBF56 31%, #6BB24D 45%, #55A243 62%, #25802D 100%);
    /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7EBF56', endColorstr='#25802D', GradientType=0);
    /* ie6-9 */
    color: #fff;
    text-shadow: none;
    border: medium none;
    border-radius: 3px;
    padding: 10px 30px;
    border: solid 1px #62a540;
    font-size: 9pt;
    font-weight: 600;
    line-height: 1.36;
}

#_processstatelisting_WAR_SPProcessEngineportlet_reject {
    background: -moz-linear-gradient(269deg, rgba(219, 42, 65, 1) 0%, rgba(160, 0, 32, 1) 100%);
    /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(219, 42, 65, 1)), color-stop(100%, rgba(160, 0, 32, 1)));
    /* safari4+,chrome */
    background: -webkit-linear-gradient(269deg, rgba(219, 42, 65, 1) 0%, rgba(160, 0, 32, 1) 100%);
    /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(269deg, rgba(219, 42, 65, 1) 0%, rgba(160, 0, 32, 1) 100%);
    /* opera 11.10+ */
    background: -ms-linear-gradient(269deg, rgba(219, 42, 65, 1) 0%, rgba(160, 0, 32, 1) 100%);
    /* ie10+ */
    background: linear-gradient(181deg, rgba(219, 42, 65, 1) 0%, rgba(160, 0, 32, 1) 100%);
    /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#DB2A41', endColorstr='#A00020', GradientType=0);
    /* ie6-9 */
    color: #fff;
    text-shadow: none;
    border: medium none;
    border-radius: 3px;
    padding: 10px 30px;
    font-size: 9pt;
    font-weight: 600;
    line-height: 1.36;
    border: solid 1px #d0011b;
}

.tooltipText {
    width: 200px;
    z-index: 1;
    position: absolute;
    background-color: #f5f8fb;
    font-size: 9pt;
    padding: 10px;
    text-align: left;
    top: 0;
    left: 0;
    margin-top: -59px;
    border: 1px solid #d9dce3;
    border-radius: 4px;
    margin-left: -50px;
}

.Stage .tooltipText {
    display: none;
}

.Stage:hover .tooltipText {
    display: block;
}

.msg {
    padding: 30px;
    margin: 0 auto;
    text-align: center;
    font-size: 12pt;
    font-weight: 700;
}

$duration: 200ms;
$border-color: hsl(0,
0%,
90%);
$text-color: hsl(0,
0%,
40%);
$background-color: white;
$active-color: hsl(209,
82%,
54%);

//AUTO COMPLETE





/** ADDED BY KARTHIK **/
.dragging {
         background: transparent;
         border:1px solid #e8dee4;
         
        
           .feeRowCol
            {
                visibility: hidden;
            }
            .close_button
            {
                 visibility: hidden;

            }
        

           
         
}
.drag_Icon_Fee
{
    &:before{
        content: '';
    position: absolute;
    left: 3px;
    top: 50%;
    margin-top: -5px;
    background-image: url(/SPProcessEngine-portlet/images/drag-sec.svg);
    width: 20px;
    height: 20px;
    background-size: 100%;

    }
     &.active {
         background: #FFFFFF;
         opacity: 0.9;
         border:2px  dotted #e8dee4;
         border-radius: 3px;
         padding: 10px 0;
         margin: 2px 0;

           
      }
}


 [draggable] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#feeRowContainer
{
    .feeRowCol.col1{
        padding: 20px 10px 20px 25px;
    }
}
