//@include fontcolor-size(green, 12px);
@function calculateRem($size) {
    $remSize: $size / 12pt;
    @return $remSize * 1rem;
}
/** SP Mixins **/

@mixin vendor-prefix($name, $argument) {
    -webkit-#{$name}: #{$argument};
    -ms-#{$name}: #{$argument};
    -moz-#{$name}: #{$argument};
    -o-#{$name}: #{$argument};
    #{$name}: #{$argument};
}

@mixin animate-cubic($time) {
    @include vendor-prefix(transition, all cubic-bezier(.06, .76, .25, .96) #{$time});
}

@mixin animate {
    @include vendor-prefix(transition, all ease-in-out .5s);
}

@mixin CTAButton {
    padding: 15px 20px;
    @include vendor-prefix(border-radius, 3px);
    text-transform: uppercase;
    font-weight: bold;
    font-family: $fontFamily;
    display: inline-block;
    *display: inline;
    zoom: 1;
}

@mixin primary {
    background: #f4f4f4;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f4f4f4 0%, #e5e5e5 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, #e5e5e5));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f4f4f4 0%, #e5e5e5 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f4f4f4 0%, #e5e5e5 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f4f4f4 0%, #e5e5e5 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #f4f4f4 0%, #e5e5e5 100%);
    /* W3C */
    //filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#e5e5e5', GradientType=0);
    /* IE6-9 */
    font-family: $fontFamily;
    border: 1px solid #a8a8a8;
}

@mixin primary-hover {
    background: #bcbcbc;
    /* Old browsers */
    background: -moz-linear-gradient(top, #e2e2e2 0%, #cccccc 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e2e2e2), color-stop(100%, #cccccc));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e2e2e2 0%, #cccccc 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e2e2e2 0%, #cccccc 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e2e2e2 0%, #cccccc 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #e2e2e2 0%, #cccccc 100%);
    /* W3C */
    // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#cccccc', GradientType=0);
    /* IE6-9 */
    font-family: $fontFamily;
    border: 1px solid #a8a8a8;
}

@mixin callout {
    background: #0a8bd6;
    /* Old browsers */
    background: -moz-linear-gradient(top, #0a8bd6 0%, #15549b 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0a8bd6), color-stop(100%, #15549b));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #0a8bd6 0%, #15549b 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #0a8bd6 0%, #15549b 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #0a8bd6 0%, #15549b 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #0a8bd6 0%, #15549b 100%);
    /* W3C */
    //  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#0a8bd6', endColorstr='#15549b', GradientType=0);
    /* IE6-9 */
    color: #fff;
    font-family: $fontFamily;
    border: 1px solid #a8a8a8;
}

@mixin callout-hover {
    background: #bcbcbc;
    /* Old browsers */
    background: -moz-linear-gradient(top, #bcbcbc 0%, #e2e2e2 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bcbcbc), color-stop(100%, #e2e2e2));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #bcbcbc 0%, #e2e2e2 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #bcbcbc 0%, #e2e2e2 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #bcbcbc 0%, #e2e2e2 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #bcbcbc 0%, #e2e2e2 100%);
    /* W3C */
    // filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#bcbcbc', endColorstr='#e2e2e2', GradientType=0);
    /* IE6-9 */
    font-family: $fontFamily;
    border: 1px solid #a8a8a8;
}

@mixin remove {
    background: #fc4b72;
    /* Old browsers */
    background: -moz-linear-gradient(top, #fc4b72 0%, #ce4663 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fc4b72), color-stop(100%, #ce4663));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fc4b72 0%, #ce4663 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fc4b72 0%, #ce4663 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fc4b72 0%, #ce4663 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #fc4b72 0%, #ce4663 100%);
    /* W3C */
    //filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fc4b72', endColorstr='#ce4663', GradientType=0);
    /* IE6-9 */
    font-family: $fontFamily;
    color: #fff;
}

@mixin hr-gradient {
    border: none;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #ffffff, #dcdcdc 50%, #ffffff);
    background-image: linear-gradient(to right, #ffffff, #dcdcdc 50%, #ffffff);
    background-repeat: no-repeat;
    //filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff', GradientType=1);
    // filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffdcdcdc', endColorstr='#ffdcdcdc', GradientType=1);
    margin-top: 23px;
    margin-bottom: 23px;
    font-family: $fontFamily;
}

@mixin font-size($size) {
    font-size: $size;
    font-size: calculateRem($size);
}

@mixin fontsize-weight ( $size, $weight) {
    font-size: $size, ;
    font-weight: $weight;
}

//@include fontcolor-size-weight(green, 12px, 600);
@mixin fontcolor-size-weight ($color-1, $size-1, $weight-1) {
    color: $color-1;
    font-size: $size-1;
    font-weight: $weight-1;
}

@mixin fontcolor-weight ($color, $weight-2) {
    color: $color;
    font-weight: $weight-2;
}

//Linear Gradient
//Linear Gradient
@mixin linearGradient($top, $bottom) {
    background: $top;
    /* Old browsers */
    background: -moz-linear-gradient(top, $top 0%, $bottom 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $top), color-stop(100%, $bottom));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, $top 0%, $bottom 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, $top 0%, $bottom 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, $top 0%, $bottom 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, $top 0%, $bottom 100%);
    /* W3C */
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#000000", GradientType=0);
    /* IE6-9 */
}

@mixin linearGradientLeft($right, $left) {
    background: $right;
    /* Old browsers */
    background: -moz-linear-gradient(right, $right 0%, $left 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left right, left left, color-stop(0%, $right), color-stop(100%, $left));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(right, $right 0%, $left 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(right, $right 0%, $left 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(right, $right 0%, $left 100%);
    /* IE10+ */
    background: linear-gradient(to left, $right 0%, $left 100%);
    /* W3C */
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0);
    /* IE6-9 */
}

//@include radial-gradient(#555A5F, #000);
@mixin radial-gradient($from, $to) {
    background: -moz-radial-gradient(center, circle cover, $from 0%, $to 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, $from), color-stop(100%, $to));
    background: -webkit-radial-gradient(center, circle cover, $from 0%, $to 100%);
    background: -o-radial-gradient(center, circle cover, $from 0%, $to 100%);
    background: -ms-radial-gradient(center, circle cover, $from 0%, $to 100%);
    background: radial-gradient(center, circle cover, $from 0%, $to 100%);
    background-color: $from;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

//borders
@mixin border( $coordinates: 0 0 0 0, $colour: #000000, $style: solid) {
    $top: nth($coordinates, 1);
    $right: nth($coordinates, 2);
    $bottom: nth($coordinates, 3);
    $left: nth($coordinates, 4);
    @if not(unitless($top)) {
        border-top: $top $style $colour;
    }
    @if not(unitless($right)) {
        border-right: $right $style $colour;
    }
    @if not(unitless($bottom)) {
        border-bottom: $bottom $style $colour;
    }
    @if not(unitless($left)) {
        border-left: $left $style $colour;
    }
}

//@include box-sizing(border-box);
@mixin box-sizing($box-model) {
    -webkit-box-sizing: $box-model; // Safari <= 5
    -moz-box-sizing: $box-model; // Firefox <= 19
    box-sizing: $box-model;
}

//Button
@mixin button-bg($bg) {
    background: $bg;
    &:hover {
        background: darken($bg, 8%);
        transition: all 0.3s ease;
    }
    &:active {
        background: darken($bg, 25%);
    }
}

//template mixins
@mixin linx ($link, $visit, $hover, $active) {
    a {
        color: $link;
        &:visited {
            color: $visit;
        }
        &:hover {
            color: $hover;
        }
        &:active {
            color: $active;
        }
    }
}

@mixin padding($padding) {
    padding: $padding;
}

@mixin margin($margin) {
    margin: $margin;
}

//@include opacity(0.8);
@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie); //IE8
}

// @include center-block;
@mixin center-block {
    display: $display-block;
    margin-left: auto;
    margin-right: auto;
}

//@include abs-pos(10px, 10px, 5px, 15px);
@mixin abs-pos ($top: auto, $right: auto, $bottom: auto, $left: auto) {
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    position: $position-absolute;
}

//@include rel-pos(10px, 10px, 5px, 15px);
@mixin rel-pos ($top: auto, $right: auto, $bottom: auto, $left: auto) {
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    position: $position-relative;
}

//LANDING PAGE
@mixin transition($transition...) {
    -moz-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
}

@mixin transition-property($property...) {
    -moz-transition-property: $property;
    -o-transition-property: $property;
    -webkit-transition-property: $property;
    transition-property: $property;
}

@mixin transition-duration($duration...) {
    -moz-transition-property: $duration;
    -o-transition-property: $duration;
    -webkit-transition-property: $duration;
    transition-property: $duration;
}

@mixin transition-timing-function($timing...) {
    -moz-transition-timing-function: $timing;
    -o-transition-timing-function: $timing;
    -webkit-transition-timing-function: $timing;
    transition-timing-function: $timing;
}

@mixin transition-delay($delay...) {
    -moz-transition-delay: $delay;
    -o-transition-delay: $delay;
    -webkit-transition-delay: $delay;
    transition-delay: $delay;
}

//FLEX BOX
@mixin flexbox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

@mixin inline-flex {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

// Flexbox Direction
@mixin flex-direction($value: row) {
    @if $value==row-reverse {
        -webkit-box-direction: reverse;
        -webkit-box-orient: horizontal;
    }
    @else if $value==column {
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
    }
    @else if $value==column-reverse {
        -webkit-box-direction: reverse;
        -webkit-box-orient: vertical;
    }
    @else {
        -webkit-box-direction: normal;
        -webkit-box-orient: horizontal;
    }
    -webkit-flex-direction: $value;
    -moz-flex-direction: $value;
    -ms-flex-direction: $value;
    flex-direction: $value;
}

// Shorter version:
@mixin flex-dir($args...) {
    @include flex-direction($args...);
}

//----------------------------------------------------------------------
// Flexbox Wrap
@mixin flex-wrap($value: nowrap) {
    // No Webkit Box fallback.
    -webkit-flex-wrap: $value;
    -moz-flex-wrap: $value;
    @if $value==nowrap {
        -ms-flex-wrap: none;
    }
    @else {
        -ms-flex-wrap: $value;
    }
    flex-wrap: $value;
}

//----------------------------------------------------------------------
// Flexbox Flow (shorthand)
@mixin flex-flow($values: (row nowrap)) {
    // No Webkit Box fallback.
    -webkit-flex-flow: $values;
    -moz-flex-flow: $values;
    -ms-flex-flow: $values;
    flex-flow: $values;
}

//----------------------------------------------------------------------
// Flexbox Order
@mixin order($int: 0) {
    -webkit-box-ordinal-group: $int + 1;
    -webkit-order: $int;
    -moz-order: $int;
    -ms-flex-order: $int;
    order: $int;
}

//----------------------------------------------------------------------
// Flexbox Grow
@mixin flex-grow($int: 0) {
    -webkit-box-flex: $int;
    -webkit-flex-grow: $int;
    -moz-flex-grow: $int;
    -ms-flex-positive: $int;
    flex-grow: $int;
}

//----------------------------------------------------------------------
// Flexbox Shrink
@mixin flex-shrink($int: 1) {
    -webkit-flex-shrink: $int;
    -moz-flex-shrink: $int;
    -ms-flex-negative: $int;
    flex-shrink: $int;
}

//----------------------------------------------------------------------
// Flexbox Basis
@mixin flex-basis($value: auto) {
    -webkit-flex-basis: $value;
    -moz-flex-basis: $value;
    -ms-flex-preferred-size: $value;
    flex-basis: $value;
}

//----------------------------------------------------------------------
// Flexbox "Flex" (shorthand)
@mixin flex($fg: 1, $fs: null, $fb: null) {
    // Set a variable to be used by box-flex properties
    $fg-boxflex: $fg;
    // Box-Flex only supports a flex-grow value so let's grab the
    // first item in the list and just return that.
    @if type-of($fg)=='list' {
        $fg-boxflex: nth($fg, 1);
    }
    -webkit-box-flex: $fg-boxflex;
    -webkit-flex: $fg $fs $fb;
    -moz-box-flex: $fg-boxflex;
    -moz-flex: $fg $fs $fb;
    -ms-flex: $fg $fs $fb;
    flex: $fg $fs $fb;
}

//----------------------------------------------------------------------
// Flexbox Justify Content
@mixin justify-content($value: flex-start) {
    @if $value==flex-start {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
    }
    @else if $value==flex-end {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
    }
    @else if $value==space-between {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
    }
    @else if $value==space-around {
        -ms-flex-pack: distribute;
    }
    @else {
        -webkit-box-pack: $value;
        -ms-flex-pack: $value;
    }
    -webkit-justify-content: $value;
    -moz-justify-content: $value;
    justify-content: $value;
}

// Shorter version:
@mixin flex-just($args...) {
    @include justify-content($args...);
}

//----------------------------------------------------------------------
// Flexbox Align Items
@mixin align-items($value: stretch) {
    @if $value==flex-start {
        -webkit-box-align: start;
        -ms-flex-align: start;
    }
    @else if $value==flex-end {
        -webkit-box-align: end;
        -ms-flex-align: end;
    }
    @else {
        -webkit-box-align: $value;
        -ms-flex-align: $value;
    }
    -webkit-align-items: $value;
    -moz-align-items: $value;
    align-items: $value;
}

//----------------------------------
// Flexbox Align Self
@mixin align-self($value: auto) {
    // No Webkit Box Fallback.
    -webkit-align-self: $value;
    -moz-align-self: $value;
    @if $value==flex-start {
        -ms-flex-item-align: start;
    }
    @else if $value==flex-end {
        -ms-flex-item-align: end;
    }
    @else {
        -ms-flex-item-align: $value;
    }
    align-self: $value;
}

//----------------------------------------------------------------------
// Flexbox Align Content
// Values: flex-start | flex-end | center | space-between | space-around | stretch
// Default: stretch
@mixin align-content($value: stretch) {
    // No Webkit Box Fallback.
    -webkit-align-content: $value;
    -moz-align-content: $value;
    @if $value==flex-start {
        -ms-flex-line-pack: start;
    }
    @else if $value==flex-end {
        -ms-flex-line-pack: end;
    }
    @else {
        -ms-flex-line-pack: $value;
    }
    align-content: $value;
}

//NAVIGATION

/*********************

RESPONSIVE BREAKPOINT
**********************/

@mixin breakpoint($point) {
    @if $point==1024 {
        @media (max-width: 1024px) {
            @content;
        }
    }
    @else if $point==another-break-point {
        @media (max-width: 0) {
            @content;
        }
    }
}

//TRANSFORM
@mixin transform-style($style) {
    transform-style: $style;
    -moz-transform-style: $style;
    -o-transform-style: $style;
    -ms-transform-style: $style;
    -webkit-transform-style: $style;
}

//TRANSITIONS
@mixin transition($transition...) {
    -moz-transition: $transition;
    -o-transition: $transition;
    -webkit-transition: $transition;
    transition: $transition;
}

@mixin transition-property($property...) {
    -moz-transition-property: $property;
    -o-transition-property: $property;
    -webkit-transition-property: $property;
    transition-property: $property;
}

@mixin transition-duration($duration...) {
    -moz-transition-property: $duration;
    -o-transition-property: $duration;
    -webkit-transition-property: $duration;
    transition-property: $duration;
}

@mixin transition-timing-function($timing...) {
    -moz-transition-timing-function: $timing;
    -o-transition-timing-function: $timing;
    -webkit-transition-timing-function: $timing;
    transition-timing-function: $timing;
}

@mixin transition-delay($delay...) {
    -moz-transition-delay: $delay;
    -o-transition-delay: $delay;
    -webkit-transition-delay: $delay;
    transition-delay: $delay;
}

//TRANSFORM
// generic transform
@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

// rotate
@mixin rotate ($deg) {
    @include transform(rotate(#{$deg}deg));
}

// scale
@mixin scale($scale) {
    @include transform(scale($scale));
}

// translate
@mixin translate ($x, $y) {
    @include transform(translate($x, $y));
}

// skew
@mixin skew ($x, $y) {
    @include transform(skew(#{$x}deg, #{$y}deg));
}

//transform origin
@mixin transform-origin ($origin) {
    moz-transform-origin: $origin;
    -o-transform-origin: $origin;
    -ms-transform-origin: $origin;
    -webkit-transform-origin: $origin;
    transform-origin: $origin;
}

@mixin full-image($image-url) {
    position: relative;
    display: inline-block;
    width: 100%;
    background: url($image-url) no-repeat center center fixed !important;
    background-size: cover;
}

@mixin padding($padding) {
    padding: $padding;
}

@mixin margin($margin) {
    margin: $margin;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

//POSITIONS
@mixin center($pos:both) {
    position: absolute;
    @if ($pos==both) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
    }
    @else if ($pos==top) {
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 2;
    }
    @else if ($pos==left) {
        top: 50%;
        transform: translate(0, -50%);
        z-index: 2;
    }
    @else if ($pos==right) {
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
        z-index: 2;
    }
    @else if ($pos==bottom) {
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 2;
    }
}


@mixin blendy($img, $blend) {
    background-image: url('#{$img}');
    mix-blend-mode: $blend;
}







