@import "sp_media-queries";
@import "sp_mixins";


.paddingLeftRight40 {
    @include padding(0 40px);
}


img[data-object-fit="contain"] {
    object-fit: contain;
}

img[data-object-fit="cover"] {
    object-fit: cover;
}

//Banner Cover Section 
.aui {
    .bannerCoverWrapper {
        width: 100%;
        margin: 0;
        padding: 0;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            /*  background-image: linear-gradient(263deg, #ed5565, #d62739), linear-gradient(#ffffff, #ffffff); This style Moved into Template */
            mix-blend-mode: multiply;
        }
    }
    &.ie {
        .bannerCoverWrapper::after {
            opacity: 0.9;
        }
    }
    &.safari {
        .bannerCoverWrapper::after {
            opacity: 0.9;
        }
    }
    &.MS-Edge {
        .bannerCoverWrapper::after {
            opacity: 0.9;
        }
    }

    .bannerCoverContainer {

        @include flexbox();
        @include flex-direction(row);
        @include justify-content(flex-start);
        @include align-items(center);
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .bannerCoverContainer {

        .bcIconWrap {
            width: 126px;
            height: 126px;
            z-index: 1;
                margin-right: 40px;
            img {
                width: 126px;
                height: 126px;
                line-height: normal;
                margin: 0;
                padding: 0;
                object-fit: contain;
            }
        }
    }

    .bannerCoverContainer {
        .bcContentWrap {
            width: 100%;
            
            z-index: 1;
            h2.bcTitle {

                font-size: 36px;
                font-weight: 600;
                line-height: normal;
                text-align: left;
                color: #ffffff;
                margin: 0;
                padding: 0;
                text-shadow: 0 0 1px #5f7b4b;
                padding-bottom: 5px;
            }
            p.bcDescription {

                font-size: 14px;
                font-weight: 400;
                line-height: normal;
                text-align: left;
                color: #ffffff;
                margin: 0;
                padding: 0;
                text-shadow: 0 0 1px #5f7b4b;
            }
        }
    }
}


@include screen (320px,
768px) {
    .aui {
        .bannerCoverContainer {
            @include flex-direction(column);
        }
        .bannerCoverContainer {
            padding-top: 50px;
            padding-bottom: 50px;
        }
        .bannerCoverContainer .bcIconWrap
        {
           margin-right: 0;
        }

        .bannerCoverContainer {
            .bcContentWrap {
                padding-left: 0;

                h2.bcTitle {


                    text-align: center;
                    padding-bottom: 10px;
                    padding-top: 20px;
                }
                p.bcDescription {


                    text-align: center;
                }
            }
        }
    }
}

@include screen(767px, 1024px, portrait) {
    .aui .bannerCoverWrapper {
        margin-top: 62px;
        padding: 0 40px;
    }
}

@include screen(767px, 1024px, landscape) {
  
    .aui .bannerCoverWrapper {
        margin-top: 25px;
        padding: 0 20px;
    }
}
