/** profile_form_navigation -- additional text **/
/** sp_custom.scss **/
/** main wrapper bg color -- declared as variable in sp_custom.scss **/
/** main navigation list bg & on hover color **/
/** signed in menu list on hover bg color & aui-dialog - header bg color **/
/** footer bg color, spchallenges .navBar **/
/** signed-in menu li hover bg **/
/** signed-in menu li a text color  **/
/** signed-in menu li a action icons border color **/
/** signed-in menu li ul bg color, form group field border, form_section_content - bg & border, profileimagewrapper- bg **/
/** register buton text color **/
/** .section_box - border **/
/** video bg **/
/** page status bg color in gradient - along with #e0e0e0 **/
/** .innerPage_header **/
/** .innerPage_header - gratient bg **/
/** .innerPage_header - gratient bg **/
/** .form-title **/
/** form validator error color **/
/** input field border **/
/** input, textarea border bottom **/
/** select field text color **/
/** .pi-or-hr text color , .pi-drop-text text color **/
/** .bulleted-square-title - title **/
/** .bulleted-square-title - title **/
/** .bulleted-square-title - title **/
/** .bulleted-square-title - title **/
/** .bulleted-square-title - title **/
/** .bulleted-square-title - title **/
/** adminCtrls a bg color**/
/** .emphaTxt text color**/
/** documnet library **/
/** .document-library-breadcrumb **/
/** .aui-paginator-container **/
/** .lfr-discussion-message **/
/** sp_events **/
/** .event-maindiv-title bg **/
/** .event-maindiv,.event-detail-table1 **/
/** .event-maindiv - border **/
/** a.urlLink:hover **/
/** .event-detail-rightRow1 **/
/** sp_feeds **/
/** .sp-af-comment-entry-container li border **/
/** .sp-feeds-activity-filter li bg**/
/** .sp-feeds-activity-filter li border**/
/** .sp-feeds-tabs b **/
/** sp_filter **/
/** figure, .result_item_image bg gradient**/
/** figure, .result_item_image bg gradient**/
/** .result_item_title **/
/** .result_item_desc **/
/** .sp_filter  /.profile_form_navigation - bg**/
/** sp_gallery **/
/** #spAssetDetailViewListDiv / .yt-uix-slider-prev - bg**/
/** #spAssetDetailViewListDiv / .yt-uix-slider-prev - border **/
/** .menu-steps a - text color  **/
/** sp_user-profile **/
/** button border **/
/** sp_groups **/
/** .sp-group-member **/
/** .sp-group-nav li text color **/
/** .ip-si-x text color**/
/** &.mobileSignOut **/
/** inbox.css **/
/** #mailsTable tr border **/
/** &.msgUnread bg color **/
/** .sp-login-new-user border **/
/** sp_mobile **/
/** .dl-menu-sub-title - bg **/
/** .dl-menu-sub-title - text color **/
/** .menu_back_btn **/
/** footer box - text color **/
/** startup profile mobile **/
/** navigation .mobileNavSelect **/
/** startup profile **/
/** .avatar_container border **/
/** .avatar_cta input border **/
/** .avatar_cta input bg **/
/** separatot line **/
/** .avatar_cta cancel button  bg **/
/** .avatar_cta cancel button  border **/
/** section.profile_content / .profile_forms_wrap - bg**/
/** .tab_helpText - bg**/
/**  .icon_helpText - border **/
/**  .icon_helpText - text color **/
/** .title_helpText - text color **/
/** drag drop .fd_container - border**/
/** .col_section_item{ -border **/
/** #toggler a-active bg & text color **/
/** user profile **/
/** profile header border **/
/** profile header border **/
/** input field text colot**/
/** .callout-counter -gradient bg **/
/** .callout-counter -gradient bg **/
/** forms input bg **/
/**  forms input text color**/
/** table striped bg **/
/** table header bg **/
/** alert success bg **/
/** alert success text color **/
/** alert failed bg **/
/** alert failed text color **/
/** alert update bg **/
/** alert failed text color **/
/** #spblogs-stream-list ul li border **/
/** ip-sb-options bg **/
/** .header-circle  border **/
/** .innerPage_header_social_cta bradient bg **/
/** .main-header bg **/
/** .aui .dshHeadWrap .dsh_greeting **/
/** .main-navigation ul li hover border **/
/** startup_list{ **/
/** .closePop **/
/** .aui-dialog box-shadow **/
/** .portlet-content box-shadow **/
/** #spblogs-stream-list ul li border **/
/** input focus & hover **/
/** .aui-field-input-text - bg **/
/** .sp-af-comment-entry-container **/
/** .sp-activity-like-comment-stat **/
/** **/
/** .ip-sb{ hover **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/*startupprofile*/
/** profile_form_navigation -- additional text **/
/** sp_custom.scss **/
/** main wrapper bg color -- declared as variable in sp_custom.scss **/
/** main navigation list bg & on hover color **/
/** signed in menu list on hover bg color & aui-dialog - header bg color **/
/** footer bg color, spchallenges .navBar **/
/** signed-in menu li hover bg **/
/** signed-in menu li a text color  **/
/** signed-in menu li a action icons border color **/
/** signed-in menu li ul bg color, form group field border, form_section_content - bg & border, profileimagewrapper- bg **/
/** register buton text color **/
/** .section_box - border **/
/** video bg **/
/** page status bg color in gradient - along with #e0e0e0 **/
/** .innerPage_header **/
/** .innerPage_header - gratient bg **/
/** .innerPage_header - gratient bg **/
/** .form-title **/
/** form validator error color **/
/** input field border **/
/** input, textarea border bottom **/
/** select field text color **/
/** .pi-or-hr text color , .pi-drop-text text color **/
/** .bulleted-square-title - title **/
/** .bulleted-square-title - title **/
/** .bulleted-square-title - title **/
/** .bulleted-square-title - title **/
/** .bulleted-square-title - title **/
/** .bulleted-square-title - title **/
/** adminCtrls a bg color**/
/** .emphaTxt text color**/
/** documnet library **/
/** .document-library-breadcrumb **/
/** .aui-paginator-container **/
/** .lfr-discussion-message **/
/** sp_events **/
/** .event-maindiv-title bg **/
/** .event-maindiv,.event-detail-table1 **/
/** .event-maindiv - border **/
/** a.urlLink:hover **/
/** .event-detail-rightRow1 **/
/** sp_feeds **/
/** .sp-af-comment-entry-container li border **/
/** .sp-feeds-activity-filter li bg**/
/** .sp-feeds-activity-filter li border**/
/** .sp-feeds-tabs b **/
/** sp_filter **/
/** figure, .result_item_image bg gradient**/
/** figure, .result_item_image bg gradient**/
/** .result_item_title **/
/** .result_item_desc **/
/** .sp_filter  /.profile_form_navigation - bg**/
/** sp_gallery **/
/** #spAssetDetailViewListDiv / .yt-uix-slider-prev - bg**/
/** #spAssetDetailViewListDiv / .yt-uix-slider-prev - border **/
/** .menu-steps a - text color  **/
/** sp_user-profile **/
/** button border **/
/** sp_groups **/
/** .sp-group-member **/
/** .sp-group-nav li text color **/
/** .ip-si-x text color**/
/** &.mobileSignOut **/
/** inbox.css **/
/** #mailsTable tr border **/
/** &.msgUnread bg color **/
/** .sp-login-new-user border **/
/** sp_mobile **/
/** .dl-menu-sub-title - bg **/
/** .dl-menu-sub-title - text color **/
/** .menu_back_btn **/
/** footer box - text color **/
/** startup profile mobile **/
/** navigation .mobileNavSelect **/
/** startup profile **/
/** .avatar_container border **/
/** .avatar_cta input border **/
/** .avatar_cta input bg **/
/** separatot line **/
/** .avatar_cta cancel button  bg **/
/** .avatar_cta cancel button  border **/
/** section.profile_content / .profile_forms_wrap - bg**/
/** .tab_helpText - bg**/
/**  .icon_helpText - border **/
/**  .icon_helpText - text color **/
/** .title_helpText - text color **/
/** drag drop .fd_container - border**/
/** .col_section_item{ -border **/
/** #toggler a-active bg & text color **/
/** user profile **/
/** profile header border **/
/** profile header border **/
/** input field text colot**/
/** .callout-counter -gradient bg **/
/** .callout-counter -gradient bg **/
/** forms input bg **/
/**  forms input text color**/
/** table striped bg **/
/** table header bg **/
/** alert success bg **/
/** alert success text color **/
/** alert failed bg **/
/** alert failed text color **/
/** alert update bg **/
/** alert failed text color **/
/** #spblogs-stream-list ul li border **/
/** ip-sb-options bg **/
/** .header-circle  border **/
/** .innerPage_header_social_cta bradient bg **/
/** .main-header bg **/
/** .aui .dshHeadWrap .dsh_greeting **/
/** .main-navigation ul li hover border **/
/** startup_list{ **/
/** .closePop **/
/** .aui-dialog box-shadow **/
/** .portlet-content box-shadow **/
/** #spblogs-stream-list ul li border **/
/** input focus & hover **/
/** .aui-field-input-text - bg **/
/** .sp-af-comment-entry-container **/
/** .sp-activity-like-comment-stat **/
/** **/
/** .ip-sb{ hover **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/*startupprofile*/
/** SP Mixins **/
.lfr-textarea {
  max-width: 100% !important; }

input#txtFilterName {
  width: 40% !important; }

div#secondFilterDiv {
  margin-top: -6px;
  margin-right: 10px; }

div#_20_ocerSearchContainer {
  border: 1px solid #CCC; }

.portlet-document-library {
  margin: 0 40px; }

.portlet-document-library .lfr-app-column-view {
  border: 0px solid #C9C9C9;
  padding-bottom: 20px; }

.portlet-document-library .lfr-app-column-view .aui-column::before {
  border-right: none;
  margin-left: 0; }

.portlet-document-library .lfr-header-row {
  border: none;
  min-height: 50px;
  height: 50px;
  display: block;
  background: none;
  background-color: #e7e7e7; }

.portlet-document-library .lfr-header-row .lfr-header-row-content {
  height: 100%;
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

.portlet-document-library .lfr-header-row .lfr-header-row-content .toolbar {
  float: none !important; }

.portlet-document-library .lfr-header-row .lfr-header-row-content .toolbar .select-documents {
  border: none;
  float: none !important; }

.portlet-document-library .lfr-header-row .lfr-header-row-content .toolbar .tool-item {
  padding: 5px;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

.portlet-document-library .lfr-header-row .lfr-header-row-content .toolbar .aui-toolbar-item {
  height: 32px !important;
  width: 32px !important;
  padding: 0;
  display: inline-block;
  *display: inline;
  zoom: 1;
  position: relative;
  float: none;
  border: none;
  margin: 0 5px;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

.portlet-document-library .lfr-header-row .lfr-header-row-content .toolbar .aui-toolbar-item .aui-icon-display-icon {
  display: block;
  position: relative;
  margin: 0 auto; }

.portlet-document-library .lfr-header-row .lfr-header-row-content .lfr-actions.lfr-extended {
  margin: 0;
  border: none;
  padding: 8px; }

.portlet-document-library .lfr-header-row .lfr-header-row-content .lfr-actions.show-arrow.direction-down .lfr-trigger strong a {
  background-position: 98% -3px !important; }

.portlet-document-library .lfr-header-row .lfr-header-row-content .add-button {
  float: none !important; }

.portlet-document-library .lfr-header-row .lfr-header-row-content .document-toolbar {
  float: none !important; }

.portlet-document-library .lfr-header-row .lfr-header-row-content .document-search .lfr-search-combobox {
  float: none;
  margin: 0;
  border: none; }

.portlet-document-library .lfr-header-row .lfr-header-row-content .document-search .aui-layout-content {
  font-size: 0; }

.portlet-document-library .lfr-header-row .lfr-header-row-content .document-search .aui-layout-content .aui-column {
  float: none !important;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle; }

.portlet-document-library .lfr-header-row .lfr-header-row-content .document-search .aui-layout-content .aui-column::before {
  border-right: none;
  margin-left: 0; }

.portlet-document-library .lfr-header-row .lfr-header-row-content .document-search .aui-layout-content .aui-column.aui-w70 .aui-column-content {
  float: none !important; }

.portlet-document-library .lfr-header-row .lfr-header-row-content .document-search .aui-layout-content .aui-column.aui-w70 .aui-column-content .lfr-search-combobox-item {
  margin-right: 0;
  border-radius: 0; }

.portlet-document-library .lfr-header-row .lfr-header-row-content .document-search .aui-layout-content .aui-column.aui-w70 .aui-column-content .lfr-search-combobox-item .aui-field-content {
  float: none !important; }

.portlet-document-library .lfr-header-row .lfr-header-row-content .document-search .aui-layout-content .aui-column.aui-w70 .aui-column-content .lfr-search-combobox-item .aui-field-content .aui-field-element {
  position: relative;
  display: block;
  width: 100%; }

.portlet-document-library .lfr-header-row .lfr-header-row-content .document-search .aui-layout-content .aui-column.aui-w30 .aui-column-content {
  display: block;
  width: 100%; }

.portlet-document-library .lfr-header-row .lfr-header-row-content .document-search .aui-layout-content .aui-column.aui-w30 .aui-column-content .lfr-search-combobox-item {
  margin-right: 0 !important;
  float: none !important;
  margin: 0 !important;
  display: block !important; }

.portlet-document-library .lfr-header-row .lfr-header-row-content .document-search .aui-layout-content .aui-column.aui-w30 .aui-column-content .lfr-search-combobox-item .aui-button-content {
  display: block; }

.portlet-document-library .lfr-header-row .lfr-header-row-content .document-search .aui-layout-content .aui-column.aui-w30 .aui-column-content .lfr-search-combobox-item .aui-button-content .aui-button-input {
  border: none;
  border-bottom: 1px solid #ffffff;
  padding: 8px;
  display: block;
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0px 4px 4px 0px;
  -ms-border-radius: 0px 4px 4px 0px;
  -moz-border-radius: 0px 4px 4px 0px;
  -o-border-radius: 0px 4px 4px 0px;
  border-radius: 0px 4px 4px 0px; }

.portlet-document-library .lfr-header-row .lfr-header-row-content .document-search .aui-layout-content .aui-column .aui-column-content {
  border-right: 0; }

.portlet-document-library .lfr-header-row .lfr-header-row-content .document-search .aui-field-input-text {
  -webkit-border-radius: 0;
  -ms-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.7);
  border: none !important;
  border-radius: 0 !important; }

.portlet-document-library .lfr-header-row .lfr-header-row-content .select-button .select-documents .aui-field-element {
  border: none; }

.portlet-document-library .aui-layout-content {
  font-size: 0; }

.portlet-document-library .aui-layout-content .navigation-pane {
  float: none !important;
  clear: both;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  border: none;
  position: relative; }

.portlet-document-library .aui-layout-content .navigation-pane .folder-display-style .folder {
  margin-top: 0; }

.portlet-document-library .aui-layout-content .navigation-pane .folder-display-style .folder.selected {
  background-color: #f9f9f9; }

.portlet-document-library .aui-layout-content .navigation-pane .folder-display-style .folder.selected a {
  color: #333333; }

.portlet-document-library .aui-layout-content .navigation-pane .aui-paginator-current-page-report {
  display: inline-block;
  *display: inline;
  zoom: 1; }

.portlet-document-library .aui-layout-content .navigation-pane .aui-paginator-total {
  display: inline-block;
  *display: inline;
  zoom: 1; }

.portlet-document-library .aui-layout-content .navigation-pane .aui-paginator-rows-per-page {
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: auto;
  padding-right: 30px; }

.portlet-document-library .aui-layout-content .context-pane {
  float: none !important;
  clear: both;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  margin-left: 0;
  border: none;
  position: relative; }

.portlet-document-library .aui-layout-content .context-pane .context-pane-content {
  border: none; }

.portlet-document-library .aui-layout-content .context-pane .document-container {
  padding: 20px;
  text-align: left;
  background-color: #f1f1f1; }

.portlet-document-library .aui-layout-content .context-pane .document-display-style.display-icon {
  display: inline-block;
  *display: inline;
  zoom: 1;
  float: none;
  height: 200px;
  vertical-align: top; }

.portlet-document-library .aui-layout-content .context-pane .document-display-style .document-thumbnail img {
  background: #ffffff; }

.portlet-document-library .document-entries-paginator .aui-paginator-rows-per-page {
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: auto;
  padding-right: 30px; }

.portlet-document-library .document-library-breadcrumb {
  background: none !important;
  background-color: #EBEBEB !important; }

.portlet-document-library .aui-paginator-container {
  background: none !important;
  background-color: #d9d9d9 !important; }

.portlet-document-library .view {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

.portlet-document-library .view .aui-column {
  float: none !important;
  display: inline-block !important;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 12pt; }

.portlet-document-library .view .aui-layout-content .context-pane {
  width: 30%; }

.portlet-document-library .document-info {
  background-color: #f1f1f1 !important; }

.portlet-document-library .taglib-ratings.stars {
  background: none !important;
  background-color: transparent !important;
  border: none !important; }

.portlet-document-library .taglib-ratings.stars:hover .liferay-rating-vote {
  background: none !important;
  background-color: transparent !important;
  border: none !important; }

.portlet-document-library .aui-rating {
  display: inline-block;
  *display: inline;
  zoom: 1;
  left: 0 !important;
  right: auto !important;
  position: relative !important; }

.portlet-document-library .aui-rating-disabled {
  display: none !important; }

.portlet-document-library .taglib-header {
  max-width: 1280px;
  margin: 0 auto;
  padding-right: 30px;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  border: none; }

#_20_documentLibraryContainer {
  font-size: 10pt;
  letter-spacing: 1px;
  margin: 40px;
  background: #fff none repeat scroll 0 0 !important; }

#_20_documentLibraryContainer .lfr-preview-file-image-overlay {
  top: 0px !important;
  position: fixed;
  height: 100% !important; }

#_20_documentLibraryContainer .aui-image-viewer-close {
  top: 40px; }

#_20_documentLibraryContainer .lfr-app-column-view {
  border: 0px solid #C9C9C9; }

#_20_documentLibraryContainer .entry-action .btn-group {
  background-color: transparent; }

#_20_documentLibraryContainer .span2 {
  width: 19%; }

#_20_documentLibraryContainer .span10 {
  margin-left: 0 !important;
  width: 81% !important;
  border: 0px solid #bfbfbf; }

#_20_documentLibraryContainer .nav-header {
  padding: 13px; }

#_20_documentLibraryContainer .entry-thumbnail {
  height: auto !important; }

#_20_documentLibraryContainer .app-view-entry-taglib.entry-display-style.display-icon {
  display: inline-block;
  margin: 5px 5px 15px 5px;
  padding: 0;
  width: 210px;
  height: 185px; }

#_20_documentLibraryContainer .portlet-document-library .document-entries-pagination, #_20_documentLibraryContainer .portlet-document-library-display .document-entries-pagination {
  margin: 30px 20px; }

#_20_documentLibraryContainer .app-view-entry-taglib.entry-display-style.display-icon .folder-action, #_20_documentLibraryContainer .app-view-entry-taglib.entry-display-style.display-icon .entry-action {
  top: 0px; }

#_20_documentLibraryContainer .nav-item-label {
  line-height: 18px;
  word-wrap: inherit;
  white-space: normal; }

#_20_documentLibraryContainer dl, #_20_documentLibraryContainer .dl-title {
  font-size: inherit; }

#_20_documentLibraryContainer .app-view-entry .entry-title {
  word-wrap: break-word;
  white-space: inherit; }

#portlet_20 .control-group {
  margin-bottom: 10px !important; }

#portlet_20 .table .table-sort-liner a, #portlet_20 .table th {
  font-weight: 500 !important;
  text-decoration: none; }

#portlet_20 .well {
  background: transparent;
  border: none;
  padding-top: 0; }

#portlet_20 .dropdown-toggle {
  background: none;
  border: none; }

#portlet_20 .navbar-inner .dropdown-toggle {
  top: 10px; }

#portlet_20 .lfr-icon-menu {
  margin: 0;
  background: transparent;
  border: none; }

#portlet_20 .table-striped {
  border: 0px solid #bfbfbf; }

#portlet_20 #_20_tiym_column1_0_menu {
  /** need to check this in ui copied from adv.styling -- harini**/
  margin-top: 8px;
  border: none; }

#share_details input[type="text"] {
  color: #333 !important; }

#_20_documentLibraryContainer .document-selector .aui-field-content .aui-field-input {
  width: auto !important; }

div#share_details {
  position: relative !important;
  top: 0 !important;
  padding-left: 0 !important;
  width: 100% !important;
  text-align: center;
  font-size: 0; }

.user_item {
  margin: 20px 0 !important;
  padding: 20px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background: #ddd;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-size: 8pt; }

.sp-group-of-ten {
  width: 10%;
  vertical-align: middle;
  display: inline-block !important; }

.sp-group-nonuple-column.sp-group-of-ten {
  width: 90%;
  vertical-align: middle;
  display: inline-block; }

#share_details .accor_list > li > a {
  text-transform: uppercase !important;
  text-align: left;
  font-size: 2em;
  color: #000;
  font-weight: bold; }

#share_details .accor_list > li > a::after {
  content: "+";
  position: relative;
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 5px 0;
  padding-left: 60px; }

#share_details .accor_list > li > a.clicked::after {
  content: "-";
  position: relative;
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 5px 0;
  padding-left: 60px; }

#share_details .accor_list > li > a:hover {
  color: #bf2340; }

.share_title {
  font-size: 12pt !important; }

#share_details form {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  text-align: center; }

#share_details .aui-textfield-content input {
  width: 260px; }

#extShare_user_list, #intShare_user_list {
  margin-top: 10px; }

#share_details #intShare_div, #share_details #extShare_div {
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 10px 0; }

.sharedFiles-table {
  width: 100% !important;
  background: #fff; }

.sharedFiles-table {
  width: 100% !important; }

.sharedFiles-table tr {
  border-bottom: 1px solid #ccc; }

.sharedFiles-table tr:last-child {
  border-bottom: none; }

.sharedFiles-table tr:first-child td {
  background: #4d5d63;
  color: #FFF;
  text-transform: uppercase;
  font-weight: 400 !important; }

.sharedFiles-table tr td {
  padding: 15px 20px;
  font-family: "Open Sans";
  font-size: 11pt;
  letter-spacing: 1px;
  border-right: 1px solid #333;
  max-width: 100px;
  text-align: left;
  color: #000;
  word-wrap: break-word;
  background: #fff; }

.sharedFiles-table tr td:last-child {
  border-right: none; }

#share_details .ip-sb {
  background: none repeat scroll 0 0 #ffffff;
  border-color: #E4E4E4;
  border-style: solid;
  border-width: 0 1px 1px;
  height: 160px;
  position: relative; }

#share_details .ip-sb-c {
  background: url("../images/x.png") no-repeat scroll 0 0 transparent;
  cursor: pointer;
  height: 20px;
  position: absolute;
  right: 16px;
  top: 10px;
  width: 20px;
  z-index: 1; }

#share_details .ip-sb-options {
  left: 0;
  overflow-y: scroll;
  position: static;
  top: 3px;
  width: 100%;
  z-index: 10;
  padding-bottom: 0;
  padding-top: 0;
  max-height: 160px;
  text-align: left; }

#share_details .ip-sb-option {
  color: #333;
  cursor: pointer;
  list-style: none outside none;
  margin: 0;
  padding: 8px 32px 8px 16px;
  position: relative;
  white-space: nowrap; }

#share_details .ip-sb-option.hover {
  background-color: #f8f8f8;
  border-color: #eee;
  border-style: dotted;
  border-width: 1px 0;
  padding-top: 7px;
  padding-bottom: 7px; }

#share_details .sp-group-clearfix {
  zoom: 1; }

#share_details .sp-group-clearfix:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden; }

#share_details .sp-group-mrm {
  margin-right: 10px; }

#share_details .sp-group-lfloat {
  float: left; }

#share_details img.sp-group-thumb_32 {
  width: 40px;
  height: 40px; }

#share_details .sp-group-ui-oh {
  overflow: hidden; }

#share_details .sp-group-ui-dib {
  display: inline-block; }

#share_details .sp-group-ui-vam {
  vertical-align: middle; }

#share_details .sp-group-fwb {
  font-weight: bold;
  text-align: left; }

#share_details .ip-to {
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #CFCFCF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
  color: #404040;
  max-height: 310px;
  overflow-y: auto;
  padding: 3px; }

#share_details .ip-si-x {
  background: url("../images/x_light.png") no-repeat scroll 0 0 transparent;
  cursor: pointer;
  height: 27px;
  width: 27px;
  display: inline-block;
  vertical-align: middle; }

#share_details input[type="text"].ip-to-input {
  background-color: transparent;
  border: 0 none;
  box-shadow: none;
  font-size: inherit;
  height: 33px;
  left: 0;
  outline: 0 none;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%; }

#share_details .sp-group-maxs {
  margin: 2px; }

#share_details form.s1 .fieldset, #share_details .form.s1 .fieldset {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
  padding: 0 0 20px; }

#_20_documentLibraryContainer .aui-w20 {
  float: left !important; }

#_20_documentLibraryContainer .aui-w80 {
  float: left !important; }

.ltr .aui-column.aui-w50 {
  float: left !important; }

.ltr .aui-column.aui-w65, .ltr .aui-column.aui-w35 {
  float: left !important; }

.ltr .aui-column.aui-w70, .ltr .aui-column.aui-w30 {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  float: none !important; }

.ltr .aui-column.aui-w70 {
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 60%;
  vertical-align: middle; }

.ltr .aui-column.aui-w30 {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle; }

.portlet-document-library .taglib-ratings.stars .liferay-rating-vote {
  position: relative; }

.lfr-header-row {
  background: none !important;
  background-color: #62486d !important;
  min-height: 51px; }

.lfr-panel.lfr-extended .lfr-panel-titlebar {
  background: none !important;
  background-color: #e2e2e2 !important; }

.lfr-app-column-view .aui-column:before {
  border-right: none !important;
  margin-left: 0 !important; }

.portlet-document-library .lfr-header-row-content,
.portlet-document-library-display .lfr-header-row-content {
  padding: 0; }

.portlet-document-library .lfr-header-row-content .add-button,
.portlet-document-library .aui-field-choice {
  float: none !important;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle; }

.portlet-document-library .add-button,
.portlet-document-library .sort-button,
.portlet-document-library .manage-button {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle; }

.lfr-header-row .lfr-actions.lfr-extended {
  padding: 10px 5px !important; }

.portlet-document-library .select-documents .aui-field-element, .portlet-document-library-display .select-documents .aui-field-element {
  border: none !important;
  padding: 10px !important; }

.lfr-header-row .aui-toolbar .aui-toolbar-item {
  padding: 10px; }

.portlet-document-library .lfr-header-row .aui-button-input {
  color: #333 !important;
  background: #fff !important;
  font-size: 10pt !important;
  font-weight: bold !important; }

#_20_documentLibraryContainer .aui-w80 {
  margin-left: 0 !important; }

#_20_documentLibraryContainer .aui-w80 .context-pane-content {
  padding: 0 !important; }

#_20_documentLibraryContainer .aui-w80 .context-pane-content .lfr-header-row-content {
  padding: 5px !important; }

.ltr .aui-column-last {
  margin: 0 !important; }

.breadcrumbs li span {
  display: block;
  padding: 5px; }

.portlet-document-library .lfr-header-row-content .parent-folder-title,
.portlet-document-library-display .lfr-header-row-content .parent-folder-title {
  font-size: 12pt;
  padding: 14px 15px;
  text-shadow: none; }

#documentLibraryAssetPanelContainer {
  padding: 10px;
  background: #f3f3f3; }

.portlet-document-library .common-file-metadata-container.selected,
.portlet-document-library-display .common-file-metadata-container.selected {
  background-color: #e9e9e9 !important; }

.portlet-content-container .aui-paginator-page-container a {
  color: #333 !important; }

#_20_documentLibraryContainer .lfr-search-combobox .aui-button {
  margin-left: 0 !important;
  margin-right: 0 !important; }

.lfr-header-row .lfr-actions.lfr-extended,
.lfr-header-row .lfr-search-combobox {
  border: none !important; }

.lfr-header-row .lfr-search-combobox {
  padding: 2px; }

.toolbar .select-documents {
  display: none; }

.shareSelect {
  background-color: #DEE7F8 !important;
  border-radius: none;
  border: none !important; }

.yui3-widget-content-expanded {
  height: 700px;
  overflow: scroll;
  z-index: 99999; }

#share_details input {
  color: #000000 !important;
  letter-spacing: 1px !important;
  text-transform: none !important;
  font-weight: 400 !important;
  padding: 10px 15px !important;
  border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  -ms-border-radius: 5px !important;
  border: 0 !important;
  text-shadow: none !important;
  transition: all ease-out .5s;
  -webkit-transition: all ease-out .5s;
  -moz-transition: all ease-out .5s;
  -moz-transition: all ease-out .5s;
  -o-transition: all ease-out .5s;
  margin: 0 5px; }

.share_user_box, .share_user_list {
  vertical-align: middle; }

.sharedFiles-table tr td {
  font-size: 10pt; }

.sharedFiles-table tr td:last-child {
  text-align: center; }

.sharedFiles-table tr td:last-child a {
  float: none !important;
  clear: none;
  line-height: 0;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle; }

.sharedFiles-table tr td:last-child div {
  float: none !important;
  clear: none;
  padding: 0 !important;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle; }

.sharedFiles-table tr td:last-child div span:last-child {
  padding-left: 5px; }

#share_details .ip-si {
  display: inline-block;
  *display: inline;
  zoom: 1;
  background-color: #DEE7F8;
  border-right: 1px solid #CAD8F3;
  border-bottom: 1px solid #CAD8F3;
  width: auto; }

#share_details .ip-to-input-outer {
  width: 30%;
  display: inline-block;
  height: 33px;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  text-align: left; }

.sharedFiles-table tr td img {
  vertical-align: middle; }

.sharedFiles-table tr td:first-child img {
  width: 15px; }

.ext_icon img {
  width: 15px; }

.remove_icon img {
  width: 15px; }

.portlet-document-library .document-display-style.display-icon, .portlet-document-library-display .document-display-style.display-icon {
  height: 180px; }

.lfr-app-column-view .aui-column-content {
  border-right: 0; }

#_20_documentLibraryContainer h3 {
  margin: 5px 15px; }

.portlet-document-library .lfr-list-view-content li a,
.portlet-document-library-display .lfr-list-view-content li a {
  padding: 12px; }

.portlet-document-library .folder-display-style li .overlay.document-action,
.portlet-document-library-display .folder-display-style li .overlay.document-action {
  top: 30%; }

.portlet-document-library .body-row,
.portlet-document-library-display .body-row {
  height: 100%;
  max-height: 607px;
  overflow: hidden;
  overflow-y: scroll;
  position: relative;
  width: 100%; }

.portlet-document-library .document-container,
.portlet-document-library-display .document-container {
  max-height: 100%; }

.portlet-document-library .lfr-list-view-content ul .expand-folder .expand-folder-arrow,
.portlet-document-library-display .lfr-list-view-content ul .expand-folder .expand-folder-arrow {
  top: 23%; }

.lfr-header-row .lfr-actions.show-arrow.direction-down .lfr-trigger strong a {
  background-position: 100% -3px; }

.document-container .lfr-actions.show-arrow.direction-down .lfr-trigger strong a {
  background-position: 98% -2px !important; }

.accor_list, .accor_list ul, .accor_list a, .accor_list span {
  margin: 0;
  padding: 0;
  border: none;
  outline: none; }

.accor_list li {
  list-style: none;
  border-radius: 5px;
  margin-bottom: 12px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 100%; }

.accor_list > li > a {
  display: inline-block;
  position: relative;
  padding: 20px 25px;
  color: #333333;
  vertical-align: middle;
  font-size: 15px;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

.accor_subContent_Img {
  display: inline-block;
  padding: 22px 0 22px 22px;
  vertical-align: top;
  width: auto; }

.accor_list li.accor_list_item > a:after {
  position: absolute;
  top: 32%;
  right: 4%;
  content: '+';
  font-weight: bold;
  font-size: 15px; }

.accor_list li.accordion_enable > a:after {
  position: absolute;
  top: 32%;
  right: 5%;
  content: '-';
  font-weight: bold;
  font-size: 15px; }

.accor_list li .accor_subContent {
  height: 0;
  overflow: hidden;
  margin: 0 20px 20px 20px;
  -webkit-transition: height .4s ease-in-out;
  -moz-transition: height .4s ease-in-out;
  -o-transition: height .4s ease-in-out;
  -ms-transition: height .4s ease-in-out;
  transition: height .4s ease-in-out;
  margin-bottom: 0;
  background: transparent; }

.accor_list li.accordion_enable .accor_subContent {
  height: auto;
  overflow: auto;
  border-top: 1px solid #ef4035;
  padding: 20px 0;
  font-size: 16px; }

.accor_list li .accor_subContent p {
  font-size: 16px;
  padding: 2em 0;
  color: #333333; }

.accor_list li .accor_subContent a {
  color: #333333;
  text-decoration: none; }

.accor_list_item table {
  width: 100%;
  border: 1px solid #b0b0b0;
  margin-bottom: 20px; }

.accor_list_item table th, .accor_list_item table td {
  margin: 0;
  padding: 20px 30px; }

.accor_list_item table th {
  background: #d5d5d5;
  font-family: "PT Sans";
  font-size: 14pt;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center; }

.accor_list_item table td {
  background: #efefef;
  width: 50%;
  border-bottom: 1px solid #d5d5d5;
  font-family: "PT Sans";
  font-size: 14pt;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: left; }

.accor_subContent ul {
  list-style: disc outside;
  margin: 0 20px; }

.accor_subContent ul li {
  font-size: 12pt;
  color: #000;
  list-style: disc outside;
  margin: 10px 10px;
  display: list-item; }

@media screen and (min-width: 320px) and (max-width: 767px) {
  #_20_documentLibraryContainer {
    margin: 20px !important; }

  #_20_documentLibraryContainer .span10 {
    width: 100%; }

  #_20_documentLibraryContainer .span2 {
    width: 100%; }

  .portlet-document-library {
    margin: 0; }

  .portlet-document-library .document-library-wrap {
    padding: 10px; }

  .portlet-document-library .document-library-wrap .aui-layout-content .navigation-pane {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; }

  .portlet-document-library .document-library-wrap .aui-layout-content .context-pane {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; }

  .portlet-document-library .document-library-wrap .aui-layout-content .context-pane .document-container {
    padding: 20px 10px; }

  .portlet-document-library .document-library-wrap .aui-layout-content .context-pane .document-display-style.display-icon {
    width: 100px;
    height: auto; }

  .portlet-document-library .document-library-wrap .aui-layout-content .context-pane .document-display-style.display-icon .document-link img {
    width: 100% !important;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; }

  .portlet-document-library .lfr-header-row {
    height: auto; }

  .portlet-document-library .lfr-header-row .lfr-header-row-content .toolbar-left {
    width: 100%;
    display: block; }

  .portlet-document-library .lfr-header-row .lfr-header-row-content .toolbar-right {
    width: 100%;
    display: block;
    text-align: center;
    padding: 5px 0; }

  .portlet-document-library .lfr-header-row .lfr-header-row-content .document-search {
    width: 100%; }

  .portlet-document-library .lfr-header-row .lfr-header-row-content .document-search .aui-layout-content .aui-column.aui-w70 .aui-column-content .lfr-search-combobox-item .aui-field-content {
    width: 100%; } }
@media screen and (min-width: 768px) and (max-width: 1100px) and (orientation: portrait) {
  .portlet-document-library .document-library-wrap {
    padding: 10px; }

  .portlet-document-library .document-library-wrap .aui-layout-content .navigation-pane {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; }

  .portlet-document-library .document-library-wrap .aui-layout-content .context-pane {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; }

  .portlet-document-library .document-library-wrap .aui-layout-content .context-pane .document-container {
    padding: 20px 10px; }

  .portlet-document-library .document-library-wrap .aui-layout-content .context-pane .document-display-style.display-icon {
    width: 100px;
    height: auto; }

  .portlet-document-library .document-library-wrap .aui-layout-content .context-pane .document-display-style.display-icon .document-link img {
    width: 100% !important;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; }

  .portlet-document-library .lfr-header-row {
    height: auto; }

  .portlet-document-library .lfr-header-row .lfr-header-row-content .toolbar-left {
    width: 100%;
    display: block; }

  .portlet-document-library .lfr-header-row .lfr-header-row-content .toolbar-right {
    width: 100%;
    display: block;
    text-align: center;
    padding: 5px 0; }

  .portlet-document-library .lfr-header-row .lfr-header-row-content .document-search {
    width: 100%; }

  .portlet-document-library .lfr-header-row .lfr-header-row-content .document-search .aui-layout-content .aui-column.aui-w70 .aui-column-content .lfr-search-combobox-item .aui-field-content {
    width: 100%; } }
@media screen and (min-width: 768px) and (max-width: 1100px) and (orientation: landscape) {
  .vp2 .portlet-document-library {
    padding-top: 40px; }

  .vp2 .portlet-document-library .lfr-header-row .lfr-header-row-content .document-search .aui-layout-content .aui-column.aui-w30 .aui-column-content .lfr-search-combobox-item .aui-button-content .aui-button-input {
    font-size: 8pt; } }
/*# sourceMappingURL=sp_documentLibrary.css.map */

