/** profile_form_navigation -- additional text **/
/** sp_custom.scss **/
/** main wrapper bg color -- declared as variable in sp_custom.scss **/
/** main navigation list bg & on hover color **/
/** signed in menu list on hover bg color & aui-dialog - header bg color **/
/** footer bg color, spchallenges .navBar **/
/** signed-in menu li hover bg **/
/** signed-in menu li a text color  **/
/** signed-in menu li a action icons border color **/
/** signed-in menu li ul bg color, form group field border, form_section_content - bg & border, profileimagewrapper- bg **/
/** register buton text color **/
/** .section_box - border **/
/** video bg **/
/** page status bg color in gradient - along with #e0e0e0 **/
/** .innerPage_header **/
/** .innerPage_header - gratient bg **/
/** .innerPage_header - gratient bg **/
/** .form-title **/
/** form validator error color **/
/** input field border **/
/** input, textarea border bottom **/
/** select field text color **/
/** .pi-or-hr text color , .pi-drop-text text color **/
/** .bulleted-square-title - title **/
/** .bulleted-square-title - title **/
/** .bulleted-square-title - title **/
/** .bulleted-square-title - title **/
/** .bulleted-square-title - title **/
/** .bulleted-square-title - title **/
/** adminCtrls a bg color**/
/** .emphaTxt text color**/
/** documnet library **/
/** .document-library-breadcrumb **/
/** .aui-paginator-container **/
/** .lfr-discussion-message **/
/** sp_events **/
/** .event-maindiv-title bg **/
/** .event-maindiv,.event-detail-table1 **/
/** .event-maindiv - border **/
/** a.urlLink:hover **/
/** .event-detail-rightRow1 **/
/** sp_feeds **/
/** .sp-af-comment-entry-container li border **/
/** .sp-feeds-activity-filter li bg**/
/** .sp-feeds-activity-filter li border**/
/** .sp-feeds-tabs b **/
/** sp_filter **/
/** figure, .result_item_image bg gradient**/
/** figure, .result_item_image bg gradient**/
/** .result_item_title **/
/** .result_item_desc **/
/** .sp_filter  /.profile_form_navigation - bg**/
/** sp_gallery **/
/** #spAssetDetailViewListDiv / .yt-uix-slider-prev - bg**/
/** #spAssetDetailViewListDiv / .yt-uix-slider-prev - border **/
/** .menu-steps a - text color  **/
/** sp_user-profile **/
/** button border **/
/** sp_groups **/
/** .sp-group-member **/
/** .sp-group-nav li text color **/
/** .ip-si-x text color**/
/** &.mobileSignOut **/
/** inbox.css **/
/** #mailsTable tr border **/
/** &.msgUnread bg color **/
/** .sp-login-new-user border **/
/** sp_mobile **/
/** .dl-menu-sub-title - bg **/
/** .dl-menu-sub-title - text color **/
/** .menu_back_btn **/
/** footer box - text color **/
/** startup profile mobile **/
/** navigation .mobileNavSelect **/
/** startup profile **/
/** .avatar_container border **/
/** .avatar_cta input border **/
/** .avatar_cta input bg **/
/** separatot line **/
/** .avatar_cta cancel button  bg **/
/** .avatar_cta cancel button  border **/
/** section.profile_content / .profile_forms_wrap - bg**/
/** .tab_helpText - bg**/
/**  .icon_helpText - border **/
/**  .icon_helpText - text color **/
/** .title_helpText - text color **/
/** drag drop .fd_container - border**/
/** .col_section_item{ -border **/
/** #toggler a-active bg & text color **/
/** user profile **/
/** profile header border **/
/** profile header border **/
/** input field text colot**/
/** .callout-counter -gradient bg **/
/** .callout-counter -gradient bg **/
/** forms input bg **/
/**  forms input text color**/
/** table striped bg **/
/** table header bg **/
/** alert success bg **/
/** alert success text color **/
/** alert failed bg **/
/** alert failed text color **/
/** alert update bg **/
/** alert failed text color **/
/** #spblogs-stream-list ul li border **/
/** ip-sb-options bg **/
/** .header-circle  border **/
/** .innerPage_header_social_cta bradient bg **/
/** .main-header bg **/
/** .aui .dshHeadWrap .dsh_greeting **/
/** .main-navigation ul li hover border **/
/** startup_list{ **/
/** .closePop **/
/** .aui-dialog box-shadow **/
/** .portlet-content box-shadow **/
/** #spblogs-stream-list ul li border **/
/** input focus & hover **/
/** .aui-field-input-text - bg **/
/** .sp-af-comment-entry-container **/
/** .sp-activity-like-comment-stat **/
/** **/
/** .ip-sb{ hover **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/*startupprofile*/
/** profile_form_navigation -- additional text **/
/** sp_custom.scss **/
/** main wrapper bg color -- declared as variable in sp_custom.scss **/
/** main navigation list bg & on hover color **/
/** signed in menu list on hover bg color & aui-dialog - header bg color **/
/** footer bg color, spchallenges .navBar **/
/** signed-in menu li hover bg **/
/** signed-in menu li a text color  **/
/** signed-in menu li a action icons border color **/
/** signed-in menu li ul bg color, form group field border, form_section_content - bg & border, profileimagewrapper- bg **/
/** register buton text color **/
/** .section_box - border **/
/** video bg **/
/** page status bg color in gradient - along with #e0e0e0 **/
/** .innerPage_header **/
/** .innerPage_header - gratient bg **/
/** .innerPage_header - gratient bg **/
/** .form-title **/
/** form validator error color **/
/** input field border **/
/** input, textarea border bottom **/
/** select field text color **/
/** .pi-or-hr text color , .pi-drop-text text color **/
/** .bulleted-square-title - title **/
/** .bulleted-square-title - title **/
/** .bulleted-square-title - title **/
/** .bulleted-square-title - title **/
/** .bulleted-square-title - title **/
/** .bulleted-square-title - title **/
/** adminCtrls a bg color**/
/** .emphaTxt text color**/
/** documnet library **/
/** .document-library-breadcrumb **/
/** .aui-paginator-container **/
/** .lfr-discussion-message **/
/** sp_events **/
/** .event-maindiv-title bg **/
/** .event-maindiv,.event-detail-table1 **/
/** .event-maindiv - border **/
/** a.urlLink:hover **/
/** .event-detail-rightRow1 **/
/** sp_feeds **/
/** .sp-af-comment-entry-container li border **/
/** .sp-feeds-activity-filter li bg**/
/** .sp-feeds-activity-filter li border**/
/** .sp-feeds-tabs b **/
/** sp_filter **/
/** figure, .result_item_image bg gradient**/
/** figure, .result_item_image bg gradient**/
/** .result_item_title **/
/** .result_item_desc **/
/** .sp_filter  /.profile_form_navigation - bg**/
/** sp_gallery **/
/** #spAssetDetailViewListDiv / .yt-uix-slider-prev - bg**/
/** #spAssetDetailViewListDiv / .yt-uix-slider-prev - border **/
/** .menu-steps a - text color  **/
/** sp_user-profile **/
/** button border **/
/** sp_groups **/
/** .sp-group-member **/
/** .sp-group-nav li text color **/
/** .ip-si-x text color**/
/** &.mobileSignOut **/
/** inbox.css **/
/** #mailsTable tr border **/
/** &.msgUnread bg color **/
/** .sp-login-new-user border **/
/** sp_mobile **/
/** .dl-menu-sub-title - bg **/
/** .dl-menu-sub-title - text color **/
/** .menu_back_btn **/
/** footer box - text color **/
/** startup profile mobile **/
/** navigation .mobileNavSelect **/
/** startup profile **/
/** .avatar_container border **/
/** .avatar_cta input border **/
/** .avatar_cta input bg **/
/** separatot line **/
/** .avatar_cta cancel button  bg **/
/** .avatar_cta cancel button  border **/
/** section.profile_content / .profile_forms_wrap - bg**/
/** .tab_helpText - bg**/
/**  .icon_helpText - border **/
/**  .icon_helpText - text color **/
/** .title_helpText - text color **/
/** drag drop .fd_container - border**/
/** .col_section_item{ -border **/
/** #toggler a-active bg & text color **/
/** user profile **/
/** profile header border **/
/** profile header border **/
/** input field text colot**/
/** .callout-counter -gradient bg **/
/** .callout-counter -gradient bg **/
/** forms input bg **/
/**  forms input text color**/
/** table striped bg **/
/** table header bg **/
/** alert success bg **/
/** alert success text color **/
/** alert failed bg **/
/** alert failed text color **/
/** alert update bg **/
/** alert failed text color **/
/** #spblogs-stream-list ul li border **/
/** ip-sb-options bg **/
/** .header-circle  border **/
/** .innerPage_header_social_cta bradient bg **/
/** .main-header bg **/
/** .aui .dshHeadWrap .dsh_greeting **/
/** .main-navigation ul li hover border **/
/** startup_list{ **/
/** .closePop **/
/** .aui-dialog box-shadow **/
/** .portlet-content box-shadow **/
/** #spblogs-stream-list ul li border **/
/** input focus & hover **/
/** .aui-field-input-text - bg **/
/** .sp-af-comment-entry-container **/
/** .sp-activity-like-comment-stat **/
/** **/
/** .ip-sb{ hover **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/*startupprofile*/
/** SP Mixins **/
.aui .btn-primary:hover,
.aui .btn-primary:focus,
.aui .btn-primary:active,
.aui .btn-primary.active,
.aui .btn-primary.disabled,
.aui .btn-primary[disabled] {
  color: #333333 !important; }

.aui input[type="button"], .aui input[type="submit"], .aui input[type="reset"], .aui input[type="cancel"], .aui input[type="button"].cancel {
  font-size: 10pt;
  font-weight: 400;
  text-transform: uppercase;
  width: auto;
  font-family: "Open Sans";
  padding: 4px 12px;
  display: inline-block;
  cursor: pointer;
  background-color: #f1f1f1;
  border: 1px solid #bfbfbf;
  color: #333333;
  -webkit-transition: all cubic-bezier(0.06, 0.76, 0.25, 0.96) 0.4s;
  -ms-transition: all cubic-bezier(0.06, 0.76, 0.25, 0.96) 0.4s;
  -moz-transition: all cubic-bezier(0.06, 0.76, 0.25, 0.96) 0.4s;
  -o-transition: all cubic-bezier(0.06, 0.76, 0.25, 0.96) 0.4s;
  transition: all cubic-bezier(0.06, 0.76, 0.25, 0.96) 0.4s;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none; }

.aui input[type="button"]:hover, .aui input[type="submit"]:hover, .aui input[type="reset"]:hover, .aui input[type="cancel"]:hover, .aui input[type="button"].cancel:hover {
  background-color: #e2e2e2; }

.aui input[type="button"].active, .aui input[type="button"]:active, .aui input[type="submit"].active, .aui input[type="submit"]:active, .aui input[type="reset"].active, .aui input[type="reset"]:active, .aui input[type="cancel"].active, .aui input[type="cancel"]:active, .aui input[type="button"].cancel.active, .aui input[type="button"].cancel:active {
  background-color: #f1f1f1; }

.aui input[type="button"]:focus, .aui input[type="submit"]:focus, .aui input[type="reset"]:focus, .aui input[type="cancel"]:focus, .aui input[type="button"].cancel:focus {
  outline: none !important;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.8) !important; }

.aui input[type=text], .aui input[type="password"], .aui input[type="file"] {
  outline: none;
  border: 1px solid #bfbfbf;
  background: #fafafa;
  display: inline-block;
  zoom: 1;
  width: 100%;
  max-width: 100% !important;
  padding: 10px 20px;
  font-size: 10pt;
  letter-spacing: 1px;
  margin: 0;
  color: #333333;
  height: auto;
  text-transform: none;
  -webkit-transition: all cubic-bezier(0.06, 0.76, 0.25, 0.96) 0.4s;
  -ms-transition: all cubic-bezier(0.06, 0.76, 0.25, 0.96) 0.4s;
  -moz-transition: all cubic-bezier(0.06, 0.76, 0.25, 0.96) 0.4s;
  -o-transition: all cubic-bezier(0.06, 0.76, 0.25, 0.96) 0.4s;
  transition: all cubic-bezier(0.06, 0.76, 0.25, 0.96) 0.4s;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

.aui input[type=text]:focus, .aui input[type="password"]:focus, .aui input[type="file"]:focus {
  box-shadow: 0px 0 0px rgba(0, 0, 0, 0.8) !important;
  border: 1px solid rgba(0, 0, 0, 0.8) !important;
  outline: none !important; }

.aui input[type="image"] {
  background: transparent none;
  border: none;
  padding: 0; }

.aui .aui-button-input,
.aui button,
.aui .aui-buttonitem-content,
.aui a.genCTA,
.aui .aui-dialog-bd button,
.aui .aui-button-input-cancel {
  font-size: 10pt;
  font-weight: 400;
  text-transform: uppercase;
  width: auto;
  padding: 4px 12px;
  display: inline-block;
  cursor: pointer;
  background-color: #f1f1f1;
  border: 1px solid #bfbfbf;
  color: #333333;
  -webkit-transition: all cubic-bezier(0.06, 0.76, 0.25, 0.96) 0.4s;
  -ms-transition: all cubic-bezier(0.06, 0.76, 0.25, 0.96) 0.4s;
  -moz-transition: all cubic-bezier(0.06, 0.76, 0.25, 0.96) 0.4s;
  -o-transition: all cubic-bezier(0.06, 0.76, 0.25, 0.96) 0.4s;
  transition: all cubic-bezier(0.06, 0.76, 0.25, 0.96) 0.4s;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none; }

.aui .aui-button-input:hover,
.aui button:hover,
.aui .aui-buttonitem-content:hover,
.aui a.genCTA:hover,
.aui .aui-dialog-bd button:hover,
.aui .aui-button-input-cancel:hover {
  background-color: #e2e2e2; }

.aui .aui-button-input.active, .aui .aui-button-input:active,
.aui button.active,
.aui button:active,
.aui .aui-buttonitem-content.active,
.aui .aui-buttonitem-content:active,
.aui a.genCTA.active,
.aui a.genCTA:active,
.aui .aui-dialog-bd button.active,
.aui .aui-dialog-bd button:active,
.aui .aui-button-input-cancel.active,
.aui .aui-button-input-cancel:active {
  background-color: #f1f1f1; }

.aui textarea,
.aui .textarea,
.aui .textedit-input,
.aui .text-field {
  outline: none;
  border: 1px solid #bfbfbf;
  background: #fafafa;
  display: inline-block;
  zoom: 1;
  width: 100%;
  padding: 10px 20px;
  font-size: 10pt;
  letter-spacing: 1px;
  margin: 0;
  color: #333333;
  height: auto;
  text-transform: none;
  -webkit-transition: all cubic-bezier(0.06, 0.76, 0.25, 0.96) 0.4s;
  -ms-transition: all cubic-bezier(0.06, 0.76, 0.25, 0.96) 0.4s;
  -moz-transition: all cubic-bezier(0.06, 0.76, 0.25, 0.96) 0.4s;
  -o-transition: all cubic-bezier(0.06, 0.76, 0.25, 0.96) 0.4s;
  transition: all cubic-bezier(0.06, 0.76, 0.25, 0.96) 0.4s;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

.aui textarea:focus,
.aui .textarea:focus,
.aui .textedit-input:focus,
.aui .text-field:focus {
  box-shadow: 0px 0 0px rgba(0, 0, 0, 0.8) !important;
  border: 1px solid rgba(0, 0, 0, 0.8) !important;
  outline: none !important; }

.aui textarea .noResize,
.aui .textarea .noResize,
.aui .textedit-input .noResize,
.aui .text-field .noResize {
  resize: none; }

.aui select,
.aui .select,
.aui .aui-field-input-select,
.aui .aui-datepicker-select-wrapper select {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  border: 1px solid #bfbfbf;
  color: #333333;
  margin: 0;
  padding-left: 10px;
  padding-right: 20px;
  width: auto;
  height: 40px;
  font-size: 10pt;
  font-weight: 400;
  overflow: hidden;
  background: #fafafa url("@theme_image_path@/content/select-arrows.svg") no-repeat;
  background-position: 98% center;
  background-position: right 10px center;
  -webkit-transition: all cubic-bezier(0.06, 0.76, 0.25, 0.96) 0.4s;
  -ms-transition: all cubic-bezier(0.06, 0.76, 0.25, 0.96) 0.4s;
  -moz-transition: all cubic-bezier(0.06, 0.76, 0.25, 0.96) 0.4s;
  -o-transition: all cubic-bezier(0.06, 0.76, 0.25, 0.96) 0.4s;
  transition: all cubic-bezier(0.06, 0.76, 0.25, 0.96) 0.4s;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

/*# sourceMappingURL=sp_forms.css.map */

