
//text-align
$textcenter:center;
$textleft:left;
$textright:right;
$textjustify:justify;
//Display & position
$display-inlineblock:inline-block;
$display-block:block;
$display-none:none;
$position-relative:relative;
$position-absolute:absolute;
$position-fixed:fixed;
$position-static:static;

//screen-sizes
$mobile-small:	240px;
$mobile-large:	320px;
$tablet-small:	480px;
$tablet-large:	768px;
$screen-small:	1024px;
$screen-large:	1280px;


