@import
	url("https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600")
	;

.aui .text-right {
	text-align: right;
}

.aui button {
	border: 0;
}

.aui div#popoverId img {
	height: 16px;
}

.aui .Pop-Action {
	position: absolute;
	width: 198px;
	background: #fff;
}

.aui .Pop-Action ul {
	padding: 10px 0;
}

.aui .Pop-Action ul li {
	padding: 0 15px;
}

.aui .Pop-Action ul li img {
	width: 16px;
	height: 16px;
}

.aui .Pop-Action ul li a {
	color: #265ba1;
	font-weight: 500;
	font-size: 14px;
	padding: 8px 15px;
	display: inline-block;
	border-bottom: 0;
}

.aui .Pop-Action ul li a:hover {
	background: #f5f7fa;
	text-decoration: none;
}

.aui .control-group input[type=text] {
	background: none;
}

.aui .control-group input[type=password] {
	background: none;
}

.aui .control-group input[type=datetime] {
	background: none;
}

.aui .control-group input[type=datetime-local] {
	background: none;
}

.aui .control-group input[type=date] {
	background: none;
}

.aui .control-group input[type=month] {
	background: none;
}

.aui .control-group input[type=time] {
	background: none;
}

.aui .control-group input[type=week] {
	background: none;
}

.aui .control-group input[type=number] {
	background: none;
}

.aui .control-group input[type=email] {
	background: none;
}

.aui .control-group input[type=url] {
	background: none;
}

.aui .control-group input[type=search] {
	background: none;
}

.aui .control-group input[type=tel] {
	background: none;
}

.aui .control-group input[type=color] {
	background: none;
}

table.aui {
	border: 1px solid #dcdcdc;
	width: 100%;
	padding: 10px;
}

table.aui tr {
	border-bottom: 1px solid #dcdcdc;
}

table.aui th {
	padding: 0 10px;
	text-align: left;
	background-color: #f5f7fa;
	height: 48px;
	color: #333333;
	font: 500 14px "Work Sans", sans-serif;
	border-top: 1px solid #dfe3e6;
}

table.aui td {
	padding: 10px;
	text-align: left;
	font: 400 14px "Work Sans", sans-serif;
}

.aui .btn, .aui .formContainer .btn-primary {
	background: #158cb8;
	color: #fff;
	border: 0;
	padding: 10px 20px;
	text-shadow: none;
	margin-bottom: 15px;
}

.aui .container h2 {
	margin-bottom: 15px;
	color: #158cb8;
	font: 600 34px "Work Sans", sans-serif;
}

.aui .container label {
	font: 500 13px "Work Sans", sans-serif;
}

table.aui td .control-group {
	margin-bottom: 0;
}

/***************************Column Filter Form ****************/
.aui {
	/*******Tax Code*********/
	/**************Modal Pop up**************/
	/*.modalpopupBox*/
	/****bootstrap ****/
	/*******************End**********************/
	/******************Schedule Form ****************/
	
}

.aui .dataListing {
	font: 400 14px "Work Sans", sans-serif;
	position: relative;
}

.aui .dataListing .search-container .control-group {
	margin-bottom: 0;
}

.aui .dataListing .search-container .search-icon {
	font-size: 20px;
	font-weight: 300;
	border: 0;
	background: url(../images/search-icon.png) no-repeat;
	margin-left: 40px;
	background-position: 1px 15px;
	padding-left: 30px;
}

.aui .dataListing .search-container .search-icon:focus {
	box-shadow: none;
}

.aui .dataListing .search-container:before {
	content: "";
}

.aui .dataListing .search-container .toggler-content {
	position: absolute;
}

.aui .dataListing .search-container .span10 .control-group {
	margin-bottom: 0;
}

.aui .dataListing .search-container .span4 button {
	display: inline-block;
	font: 500 14px "Work Sans", sans-serif;
	margin: 14px 13px;
	float: left;
	background-color: none;
	border: 0;
	outline: 0;
}

.aui .dataListing .search-container .order {
	background: url(../images/sort.png) no-repeat;
	width: 16px;
	height: 22px;
	background-position: 0 5px;
}

.aui .dataListing .search-container .setting {
	background: url(../images/setting.png) no-repeat;
	width: 24px;
	height: 24px;
	position: relative;
	background-position: 1px 6px;
}

.aui .dataListing .search-container .toggler-header-expanded:after {
	content: "";
	position: absolute;
	background: url(../images/top-arrow.jpg) no-repeat;
	width: 22px;
	height: 9px;
	margin-top: 26px;
	left: 0;
	z-index: 1;
}

.aui .dataListing .search-container .more {
	background: url(../images/big.png) no-repeat;
	width: 3px;
	height: 20px;
	background-position: 0 5px;
}

.aui .dataListing .search-container .addNew {
	width: 110px;
	border-radius: 3px;
	background-color: #0f9f1c;
	color: #fff;
	margin-top: 6px;
	margin-right: 40px;
}

.aui .dataListing .search, .aui .dataListing .reset, .aui .dataListing .btn.btn-primary.reset,
	.aui .dataListing .formContainer .btn-primary.reset, .aui .formContainer .dataListing .btn-primary.reset,
	.aui .dataListing .search.btn.btn-primary, .aui .dataListing .formContainer .search.btn-primary,
	.aui .formContainer .dataListing .search.btn-primary {
	width: 150px;
	height: 40px;
	border-radius: 3px;
	background: #0f349f;
	color: #fff;
	border: 0;
	font: 500 14px "Work Sans", sans-serif;
	margin-right: 10px;
}

.aui .dataListing .reset {
	background-color: #ededf6;
	color: #0f349f;
	margin-left: 10px;
}

.aui .dataListing .control-label {
	display: none;
}

.aui .dataListing select {
	width: 90%;
	height: 50px;
	border-radius: 3px;
	background-color: #ffffff;
	border: solid 1px #b1bed7;
}

.aui .dataListing .choose-col {
	max-width: 545px;
	border-radius: 20px;
	background-color: #000;
	padding: 5px 0 5px 8px;
	position: relative;
	color: #fff;
	margin: 25px auto;
	font-size: 12px;
	box-sizing: border-box;
}

.aui .dataListing .choose-col i {
	background: url(../images/info.png) no-repeat;
	width: 18px;
	height: 18px;
	position: absolute;
	display: block;
	left: 3px;
	top: 3px;
}

.aui .dataListing .column-list {
	background-image: linear-gradient(to top, #ffffff, #f3f5fa);
	padding: 50px 0;
	border-top: 1px solid #dbdeee;
	box-shadow: inset 0 12px 20px 0 rgba(37, 38, 94, 0.07);
}

.aui .dataListing .column-list form {
	max-width: 800px;
	width: 100%;
	margin: auto;
}

.aui .dataListing .column-list .control-label {
	float: left;
	width: 10%;
	margin-top: 17px;
	display: block;
}

.aui .dataListing .data-lising {
	overflow: auto;
	padding: 30px 40px;
	background-image: linear-gradient(to top, #ffffff, #f3f5fa);
	border-top: 1px solid #dbdeee;
	box-shadow: inset 0 12px 20px 0 rgba(37, 38, 94, 0.07);
}

.aui .dataListing .data-lising table {
	width: 100%;
	box-shadow: 0 0 15px 0 #e1e6eb;
}

.aui .dataListing .data-lising table td {
	font-size: 14px;
	padding: 10px 15px;
	background: #fff;
	color: #333;
}

.aui .dataListing .pagination {
	background-color: #f1f4fc;
	padding: 14px 20px 5px 10px;
	width: 100%;
	margin: 0;
}

.aui .dataListing .pagination .pagination.pagination-large {
	padding: 0;
	margin: 0;
}

.aui .dataListing .pagination ul {
	box-shadow: none;
}

.aui .dataListing .pagination ul li {
	display: inline-block;
}

.aui .dataListing .pagination ul li a {
	color: #59647b;
	padding: 4px 10px;
	background: none;
	border: 0;
	font: 400 14px "Work Sans", sans-serif;
}

.aui .dataListing .pagination ul li a.active {
	width: 24px;
	height: 24px;
	border-radius: 2px;
	background-color: #0f349f;
	color: #fff;
}

.aui .dataListing .pagination ul li .first, .aui .dataListing .pagination ul li .last
	{
	background: url(../images/first.png) no-repeat;
	width: 12px;
	height: 12px;
	height: 20px;
	background-position: 0 3px;
}

.aui .dataListing .pagination ul li .last {
	background: url(../images/last.png) no-repeat;
	background-position: 0 3px;
}

.aui .dataListing .pagination ul li .prev, .aui .dataListing .pagination ul li .next
	{
	background: url(../images/prev.png) no-repeat;
	width: 8px;
	height: 12px;
	height: 17px;
	background-position: 0 1px;
}

.aui .dataListing .pagination ul li .next {
	background: url(../images/next.png) no-repeat;
	background-position: 0 1px;
}

.aui .dataListing .pagination .control-label {
	float: left;
	display: block;
	margin-right: 20px;
	margin-bottom: 0;
}

.aui .dataListing .pagination select {
	float: left;
	width: 10%;
	border: 0;
	background: none;
	height: 18px;
	padding: 0;
	margin-right: 20px;
	color: #3d70b2;
}

.aui .dataListing .pagination .control-group {
	margin-bottom: 0;
	margin-right: 20px;
}

.aui .dataListing .pagination span {
	border-left: 1.5px solid #59647b;
	padding-left: 10px;
	top: 5px;
	position: relative;
}

.aui .portlet-column {
	width: 100% !important;
}

.aui .portlet-column .view-template {
	display: block;
	margin: 15px 20px;
}

.aui .formContainer .formio-component-textfield .form-control {
	height: 50px;
	border: 1px solid #b1bed7;
	background: #f9fafc;
	padding: 10px 15px;
}

.aui .formContainer .formio-component-textarea .form-control {
	height: 100px;
	padding: 10px 15px;
	border: 1px solid #b1bed7;
	background: #f9fafc;
}

.aui .formContainer .formio-choices .form-control {
	height: 50px;
	border: 1px solid #b1bed7;
	background: #fff;
	padding: 10px 15px;
	border-radius: 3px;
	box-shadow: none;
}

.aui .formContainer .formio-component-datetime .form-control {
	height: 50px;
	border: 1px solid #b1bed7;
	background: #f9fafc;
	padding: 10px 15px;
	border-radius: 3px;
	box-shadow: none;
}

.aui .formContainer .formio-component-datetime .input-group-addon {
	background-color: transparent;
	border: 0;
}

.aui .formContainer .formio-component-datetime .glyphicon.glyphicon-calendar
	{
	background: url(../images/calendar.png) no-repeat;
	width: 16px;
	height: 18px;
	z-index: 999;
	top: -4px;
}

.aui .formContainer .formio-component-datetime .glyphicon-calendar:before
	{
	content: "";
}

.aui .formContainer .btn, .aui .formContainer .btn-primary {
	background: #0f349f;
	width: 130px;
	height: 40px;
	border-radius: 3px;
	font-weight: 700;
}

.aui .formContainer .btn, .aui .formContainer .btn-primary {
	width: 150px;
	height: 40px;
	border-radius: 3px;
	background-color: #eff4fb;
	color: #0f349f;
	font-weight: 700;
}

.aui .formContainer .btn:hover, .aui .formContainer .btn-primary:hover {
	background: #0f349f;
	color: #fff;
}

.aui .formContainer .input-group .form-check {
	display: inline-block;
	padding-left: 0;
}

.aui .formContainer .input-group .form-check label {
	padding-left: 0;
	margin-right: 20px;
	margin-bottom: 10px;
}

.aui .formContainer .input-group .form-check label input[type=radio] {
	opacity: 0;
}

.aui .formContainer .input-group .form-check label input[type=radio]:checked+span
	{
	background: url(../images/selected.png) no-repeat;
	padding-left: 25px;
	padding-bottom: 10px;
}

.aui .formContainer .input-group .form-check label input[type=radio]+span
	{
	background: url(../images/un-selected.png) no-repeat;
	padding-left: 25px;
	padding-bottom: 10px;
}

.aui .modalpopupBox.modal {
	margin: auto;
	background-color: transparent !important;
	z-index: 999 !important;
}

.aui .modalpopupBox.modal .modal-header {
	background-color: transparent !important;
}

.aui .modalpopupBox.modal .modal-content {
	position: relative;
	padding: 40px;
	background-color: #fff !important;
	max-width: 424px;
	min-height: 270px;
	margin: auto;
}

.aui .modalpopupBox.modal .modal-content .formContainer .btn, .aui .modalpopupBox.modal .modal-content .formContainer .btn-primary
	{
	margin-top: 20px;
}

.aui .modalpopupBox.modal .modal-content .or {
	text-align: center;
	margin-top: 20px;
}

.aui .modalpopupBox.modal .modal-content .or .btn.cancel, .aui .modalpopupBox.modal .modal-content .or .formContainer .cancel.btn-primary,
	.aui .formContainer .modalpopupBox.modal .modal-content .or .cancel.btn-primary
	{
	width: auto;
	background-color: #f5f5f6 !important;
	color: #787878 !important;
}

.aui .modalpopupBox.modal .modal-content .facility-content {
	text-align: center;
	padding: 15px 0;
	border: 1px solid #dde1e6;
	margin-top: 25px;
	border-radius: 3px;
}

.aui .modalpopupBox.modal .modal-content .facility-content a {
	color: #004f83;
	display: block;
}

.aui .modalpopupBox.modal .modal-content .facility-content h4 {
	position: relative;
	margin-top: 50px;
	padding-bottom: 15px;
	margin-bottom: 20px;
	border-bottom: 1px solid #dbe2ec;
	display: inline-block;
}

.aui .modalpopupBox.modal .modal-content .facility-content h4:before {
	background: url(../images/facility.png) no-repeat;
	background-position: center;
	width: 43px;
	height: 43px;
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: -50px;
}

.aui .modalpopupBox.modal .modal-content .bluebtn {
	float: none;
	text-align: center;
	display: block;
	margin: 20px auto 0 auto;
}

.aui .modalpopupBox.modal .modal-content h3 {
	position: relative;
	color: #333333;
	text-align: center;
	font-weight: 500;
	margin-top: 50px;
	font-size: 22px;
}

.aui .modalpopupBox.modal .modal-content h3:before {
	background: url(../images/success.png) no-repeat;
	background-position: center;
	padding: 10px;
	content: "";
	width: 45px;
	height: 45px;
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
	margin: auto;
	top: -50px;
}

.aui .modalpopupBox.modal .modal-content .btn, .aui .modalpopupBox.modal .modal-content .formContainer .btn-primary,
	.aui .formContainer .modalpopupBox.modal .modal-content .btn-primary {
	width: 150px;
	height: 40px;
	font-size: 14px !important;
	text-transform: uppercase;
	font-weight: 500 !important;
	border: 0px solid !important;
}

.aui .modalpopupBox.modal .modal-content .btn:hover, .aui .modalpopupBox.modal .modal-content .formContainer .btn-primary:hover,
	.aui .formContainer .modalpopupBox.modal .modal-content .btn-primary:hover
	{
	color: #fff;
}

.aui .modalpopupBox.modal .modal-content .lightbluebtn {
	background-color: #ededf6 !important;
	color: #0f349f !important;
}

.aui .modalpopupBox.modal .modal-content .bluebtn {
	background-color: #0f349f !important;
	color: #fff !important;
}

.aui .modalpopupBox.modal .modal-content .close {
	background: url(../images/close.png) no-repeat !important;
	position: absolute;
	top: 20px;
	right: 20px;
	background-color: transparent !important;
	height: 18px;
	width: 18px;
	opacity: 1 !important;
	text-indent: -1000px;
	border: 0 !important;
	overflow: hidden;
	box-shadow: none;
}

.aui .modal .modal-content .lightbluebtn {
	background-color: #ededf6 !important;
	color: #0f349f !important;
}

.aui .modal .modal-content .bluebtn {
	background-color: #0f349f !important;
	color: #fff !important;
	float: right;
}

.aui .modal .modal-content p {
	color: #59647b;
	text-align: center;
	font-size: 12px;
	line-height: 18px;
}

.aui .row {
	margin-right: -15px;
	margin-left: -15px;
}

.aui .col-xs-1, .aui .col-sm-1, .aui .col-md-1, .aui .col-lg-1, .aui .col-xs-2,
	.aui .col-sm-2, .aui .col-md-2, .aui .col-lg-2, .aui .col-xs-3, .aui .col-sm-3,
	.aui .col-md-3, .aui .col-lg-3, .aui .col-xs-4, .aui .col-sm-4, .aui .col-md-4,
	.aui .col-lg-4, .aui .col-xs-5, .aui .col-sm-5, .aui .col-md-5, .aui .col-lg-5,
	.aui .col-xs-6, .aui .col-sm-6, .aui .col-md-6, .aui .col-lg-6, .aui .col-xs-7,
	.aui .col-sm-7, .aui .col-md-7, .aui .col-lg-7, .aui .col-xs-8, .aui .col-sm-8,
	.aui .col-md-8, .aui .col-lg-8, .aui .col-xs-9, .aui .col-sm-9, .aui .col-md-9,
	.aui .col-lg-9, .aui .col-xs-10, .aui .col-sm-10, .aui .col-md-10, .aui .col-lg-10,
	.aui .col-xs-11, .aui .col-sm-11, .aui .col-md-11, .aui .col-lg-11,
	.aui .col-xs-12, .aui .col-sm-12, .aui .col-md-12, .aui .col-lg-12 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.aui .col-sm-1, .aui .col-sm-2, .aui .col-sm-3, .aui .col-sm-4, .aui .col-sm-5,
	.aui .col-sm-6, .aui .col-sm-7, .aui .col-sm-8, .aui .col-sm-9, .aui .col-sm-10,
	.aui .col-sm-11, .aui .col-sm-12 {
	float: left;
}

.aui .col-sm-12 {
	width: 100%;
}

.aui .col-sm-11 {
	width: 91.66666667%;
}

.aui .col-sm-10 {
	width: 83.33333333%;
}

.aui .col-sm-9 {
	width: 75%;
}

.aui .col-sm-8 {
	width: 66.66666667%;
}

.aui .col-sm-7 {
	width: 58.33333333%;
}

.aui .col-sm-6 {
	width: 50%;
}

.aui .col-sm-5 {
	width: 41.66666667%;
}

.aui .col-sm-4 {
	width: 33.33333333%;
}

.aui .col-sm-3 {
	width: 25%;
}

.aui .col-sm-2 {
	width: 16.66666667%;
}

.aui .col-sm-1 {
	width: 8.33333333%;
}

.aui .col-sm-pull-12 {
	right: 100%;
}

.aui .col-sm-pull-11 {
	right: 91.66666667%;
}

.aui .col-sm-pull-10 {
	right: 83.33333333%;
}

.aui .col-sm-pull-9 {
	right: 75%;
}

.aui .col-sm-pull-8 {
	right: 66.66666667%;
}

.aui .col-sm-pull-7 {
	right: 58.33333333%;
}

.aui .col-sm-pull-6 {
	right: 50%;
}

.aui .col-sm-pull-5 {
	right: 41.66666667%;
}

.aui .col-sm-pull-4 {
	right: 33.33333333%;
}

.aui .col-sm-pull-3 {
	right: 25%;
}

.aui .col-sm-pull-2 {
	right: 16.66666667%;
}

.aui .col-sm-pull-1 {
	right: 8.33333333%;
}

.aui .col-sm-pull-0 {
	right: auto;
}

.aui .col-sm-push-12 {
	left: 100%;
}

.aui .col-sm-push-11 {
	left: 91.66666667%;
}

.aui .col-sm-push-10 {
	left: 83.33333333%;
}

.aui .col-sm-push-9 {
	left: 75%;
}

.aui .col-sm-push-8 {
	left: 66.66666667%;
}

.aui .col-sm-push-7 {
	left: 58.33333333%;
}

.aui .col-sm-push-6 {
	left: 50%;
}

.aui .col-sm-push-5 {
	left: 41.66666667%;
}

.aui .col-sm-push-4 {
	left: 33.33333333%;
}

.aui .col-sm-push-3 {
	left: 25%;
}

.aui .col-sm-push-2 {
	left: 16.66666667%;
}

.aui .col-sm-push-1 {
	left: 8.33333333%;
}

.aui .col-sm-push-0 {
	left: auto;
}

.aui .col-sm-offset-12 {
	margin-left: 100%;
}

.aui .col-sm-offset-11 {
	margin-left: 91.66666667%;
}

.aui .col-sm-offset-10 {
	margin-left: 83.33333333%;
}

.aui .col-sm-offset-9 {
	margin-left: 75%;
}

.aui .col-sm-offset-8 {
	margin-left: 66.66666667%;
}

.aui .col-sm-offset-7 {
	margin-left: 58.33333333%;
}

.aui .col-sm-offset-6 {
	margin-left: 50%;
}

.aui .col-sm-offset-5 {
	margin-left: 41.66666667%;
}

.aui .col-sm-offset-4 {
	margin-left: 33.33333333%;
}

.aui .col-sm-offset-3 {
	margin-left: 25%;
}

.aui .col-sm-offset-2 {
	margin-left: 16.66666667%;
}

.aui .col-sm-offset-1 {
	margin-left: 8.33333333%;
}

.aui .col-sm-offset-0 {
	margin-left: 0;
}

.aui .form-group {
	margin-bottom: 15px;
}

.aui body div.yui3-skin-sam .yui3-widget-mask {
	z-index: 999 !important;
	background-color: #e6e5eb;
}

.aui body form .yui3-widget-mask {
	z-index: 999 !important;
	background-color: #e6e5eb;
}

.aui body label input[type=checkbox] {
	display: none;
}

.aui body label input[type=checkbox]+span {
	background: url(../images/checkboxInactive.png) no-repeat;
	width: 12px;
	height: 12px;
	float: left;
	margin-top: 4px;
	margin-right: 10px;
}

.aui body label input[type=checkbox]:checked+span {
	background: url(../images/checkboxActive.png) no-repeat;
	width: 12px;
	height: 12px;
	float: left;
	margin-top: 4px;
	margin-right: 10px;
}

.aui body .datepicker-popover {
	z-index: 9999 !important;
}

.aui body .datepicker-popover .popover-content {
	padding: 0;
}

.aui body .yui3-calendar-prevmonth-day, .aui body .yui3-calendar-nextmonth-day,
	.aui body .yui3-calendar-day {
	padding: 10px 10px 10px 15px !important;
	font-weight: 300;
	font-size: 12px;
	border: 1px solid #dfe3e8;
}

.aui body .yui3-calendar-header-label {
	font-size: 14px;
	color: #333;
	font-family: "Work Sans", sans-serif;
	font-weight: 700;
}

.aui body .yui3-calendar-weekday {
	font-family: "Work Sans", sans-serif;
	font-weight: 300;
	font-size: 12px;
	padding-left: 15px;
}

.aui body .yui3-calendar-content {
	border: 1px solid #dfe3e8;
	padding: 16px;
	background: #fff;
}

.aui body .yui3-calendarnav-prevmonth, .aui body .yui3-calendarnav-nextmonth
	{
	background: url(../images/arrow-left.png) no-repeat;
	border: 0;
	width: 20px;
	height: 20px;
	left: 20px;
}

.aui body .yui3-calendarnav-nextmonth {
	background: url(../images/arrow-right.png) no-repeat;
	right: 20px;
	left: inherit;
}

.aui body .yui3-calendar-day-selected {
	background-color: #0f349f;
	color: #fff;
}

.aui .btn.greenbtn, .aui .formContainer .greenbtn.btn-primary {
	background: #0f9f1c !important;
	color: #fff;
	width: 272px !important;
	height: 30px !important;
	border-radius: 16px !important;
	line-height: 12px;
	font-size: 12px;
	position: relative;
	font-weight: 300;
	margin-top: -16px;
}

.aui .greenbtn:before {
	content: "+";
	position: absolute;
	top: 1px;
	left: 0;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	color: #fff;
	background: #077b6c;
	line-height: 26px;
}

.aui .btn.removeBtn, .aui .formContainer .removeBtn.btn-primary {
	background: #f0485d;
	border-radius: 20px;
	height: 30px;
	line-height: 10px;
	width: 90px;
	font-weight: 400;
	color: #fff;
}

.aui .saveIcon, .aui .minusIcon {
	background: url(../images/copy.png) no-repeat;
	width: 19px;
	height: 19px;
	text-indent: 1000px;
	overflow: hidden;
	background-color: transparent;
}

.aui .saveIcon:hover, .aui .minusIcon:hover {
	background-color: transparent !important;
}

.aui .minusIcon {
	background: url(../images/close-minus.png) no-repeat;
	width: 17px;
	height: 18px;
}

.aui .minusIcon:hover {
	background-color: transparent !important;
}

.aui .settlementMethod {
	border: 1px dashed #d9e1f0;
	padding: 15px;
	border-radius: 10px;
	background: #f7f9fe;
}

.aui .settlementMethod h3 {
	color: #2d4eab;
	background: #fff;
	border-left: 4px solid #4f67aa;
	border-top-left-radius: 5px;
	padding: 10px 20px !important;
	font-size: 18px
}

.aui .settlementMethod .settlementMethodContainer {
	border-radius: 5px;
}

.aui .settlementMethod .settlementMethodContainer .settlementMethodContent
	{
	padding: 20px 30px;
	box-shadow: inset 0 12px 20px 0 rgba(37, 38, 94, 0.07);
	background: #fff;
	width: 100%
}

.aui .settlementMethod .settlementMethodContainer .nav {
	float: right;
	margin-bottom: 0;
	padding-top: 0;
	height: 100%;
}

.aui .settlementMethod .settlementMethodContainer .nav li {
	display: inline-block;
	margin-left: 15px;
}

.aui .settlementMethod .settlementMethodContainer .nav {
	padding-top: 3px;
	padding-right: 8px;
}

select {
	-webkit-appearance: menulist-button !important;
}

#loadingDiv {
	width: 100%;
	height: 100%;
	background: #b8b9bf40;
	position: fixed;
	z-index: 9999;
	top: 0;
	display: none
}

.m-blockui {
	border-radius: 4px;
	display: table;
	table-layout: fixed;
}

.m-blockui>span {
	display: table-cell;
	vertical-align: middle;
	padding: 8px 15px;
	font-size: 1rem;
	font-weight: 400;
}

.m-blockui>span>.m-loader, .m-blockui>span>.m-spinner {
	margin-right: 10px;
}

.m-blockui {
	background: #ffffff;
	-webkit-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.1);
	box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.1);
}

.m-blockui.m-blockui-no-shadow {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.m-blockui>span {
	color: #6f727d;
}

.m-blockui.m-blockui--skin-dark {
	background: #2c2e3e;
	-webkit-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.5);
	box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.5);
}

.m-blockui.m-blockui--skin-dark.m-blockui-no-shadow {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.m-blockui.m-blockui--skin-dark>span {
	color: #9093ac;
}

.m-loader.m-loader--brand:before {
	border-top-color: #716aca;
	margin-left: 34px;
}

.m-loader:before {
	width: 1.4rem;
	height: 1.4rem;
	margin-top: -0.7rem;
	margin-left: -0.7rem;
	border-top-width: 2px !important;
	border-right-width: 2px !important;
}

.m-loader:before {
	content: '';
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	border-top: 2px solid #07d;
	border-right: 2px solid transparent;
	border-radius: 50%;
	-webkit-animation: m-loader-rotate 0.6s linear infinite;
	animation: spin 800ms linear infinite !important
}

.red-star {
	color: red !important
}

.feesSection {
	border: 2px solid #eee;
}

.feesHeading {
	background-color: #f5f5f5;
	font-weight: bold;
	font-size: 15px;
	color: #0000008f;
	margin: 0px;
	padding: 8px 8px 1px 17px;
	border-bottom: 2px solid #eee;
}

.feesContent {
	padding: 0px 18px 18px 18px;
}

.sambaashContent select {
	padding-left: 15px !important;
	background: none !important;
}

.aui .newPortlets .modalpopupBox.modal .modal-content #error-msg:before
	{
	background: url(../images/warning.png) no-repeat
}

#status {
	float: right;
	padding: 2px 24px;
	border-radius: 10px;
}

button.reactivateBtn {
	background: #a2ea95 !important;
	color: #115a03 !important;
}

.red-star {
	color: red !important
}

//-----------
-loading
#loadingDiv {
	width: 100%;
	height: 100%;
	background: #b8b9bf40;
	position: fixed;
	z-index: 9999;
	top: 0;
	display: none
}

.m-blockui {
	border-radius: 4px;
	display: table;
	table-layout: fixed;
}

.m-blockui>span {
	display: table-cell;
	vertical-align: middle;
	padding: 8px 15px;
	font-size: 1rem;
	font-weight: 400;
}

.m-blockui>span>.m-loader, .m-blockui>span>.m-spinner {
	margin-right: 10px;
}

.m-blockui {
	background: #ffffff;
	-webkit-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.1);
	box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.1);
}

.m-blockui.m-blockui-no-shadow {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.m-blockui>span {
	color: #6f727d;
}

.m-blockui.m-blockui--skin-dark {
	background: #2c2e3e;
	-webkit-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.5);
	box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.5);
}

.m-blockui.m-blockui--skin-dark.m-blockui-no-shadow {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.m-blockui.m-blockui--skin-dark>span {
	color: #9093ac;
}

.m-loader.m-loader--brand:before {
	border-top-color: #716aca;
	margin-left: 34px;
}

.m-loader:before {
	width: 1.4rem;
	height: 1.4rem;
	margin-top: -0.7rem;
	margin-left: -0.7rem;
	border-top-width: 2px !important;
	border-right-width: 2px !important;
}

.m-loader:before {
	content: '';
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	border-top: 2px solid #07d;
	border-right: 2px solid transparent;
	border-radius: 50%;
	-webkit-animation: m-loader-rotate 0.6s linear infinite;
	animation: spin 800ms linear infinite !important
}

//-----------
-loading
select {
	-webkit-appearance: menulist-button !important;
}

.formStatus {
	width: 90px;
	padding: 2px 10px;
	text-align: center;
	border-radius: 15px;
	float: right;
	top: -25px;
	right: 0;
	font-family: "Work Sans", sans-serif;
	font-size: 15px;
}

.statusLabel {
	width: 90px;
	padding: 2px 10px;
	text-align: center;
	border-radius: 15px;
	float: right;
	top: -25px;
	right: 0;
	font-family: "Work Sans", sans-serif;
	font-size: 15px;
}

.form_active {
	background: #8bdb7c;
}

.form_inactive {
	background: #ffc48b;
}

.form_draft {
	background: #dfe3e8;
}

.form_blacklist {
	background: black;
	color: white;
}

select {
	-webkit-appearance: menulist-button !important;
}