/* ------------------------------ reply comment ------------------------------ */
.sp-comment-section {
  font-size: 11px;
  clear: both; }

.sp-comment-section .small-header {
  margin-bottom: 8px;
  padding-bottom: 10px; }

.sp-comment-composer {
  background-color: #F2F2F2;
  padding: 9px 9px 8px;
  border-top: 1px solid #E2E2E2;
  border-bottom: 1px solid #E2E2E2; }

.sp-comment-composer-inner {
  position: relative; }

.sp-comment-entry-container {
  border-color: #F2F2F2;
  border-style: solid;
  border-width: 0 9px;
  clear: both;
  margin-top: 1px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0; }

.sp-child-entry-container {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0; }

.sp-comment-entry {
  display: block;
  overflow: auto;
  clear: both; }

.sp-comment-entry.level1:first-child {
  margin-top: 0; }

.sp-comment-entry.level1:last-child {
  border: 0 none; }

.sp-comment-entry.level1 {
  border-bottom: 1px solid #E2E2E2;
  margin-top: 1px;
  padding-top: 9px;
  background-color: #F2F2F2; }

.sp-comment-entry.level2 {
  border-top: 1px solid #E2E2E2;
  padding-top: 9px; }

.sp-comment-entry-inner {
  position: relative; }

.sp-comment-content-wrap {
  margin: 0 0 0 58px;
  min-height: 50px; }

.sp-comment-entry .avatar {
  left: 0;
  position: absolute;
  display: block;
  height: 50px;
  width: 50px;
  border: 0 none; }

.sp-comment-textarea-outer {
  background-color: white;
  border: 1px solid #DDDDDD;
  padding: 3px;
  overflow: hidden;
  height: auto; }

.sp-comment-textarea-outer textarea {
  border: 0 none;
  padding: 0;
  margin: 0;
  border-radius: 0 0 0 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  line-height: 14px;
  min-height: 14px;
  width: 100%;
  word-wrap: break-word;
  background: none repeat scroll 0 0 #FFFFFF;
  outline: 0 none;
  resize: none;
  display: block;
  opacity: 1;
  box-shadow: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.sp-comment-textarea-outer textarea:focus {
  border: 0 none;
  background: none repeat scroll 0 0 #FFFFFF; }

.sp-comment-wrap .tip {
  padding-top: 1px;
  color: #808080;
  font-size: 9px; }

.sp-comment-content {
  padding-right: 10px;
  margin-bottom: 8px;
  position: relative;
  min-height: 50px; }

.sp-comment-more a {
  background-color: #F2F2F2;
  border: 1px solid #E2E2E2;
  text-decoration: none;
  padding: 4px 9px;
  cursor: pointer;
  display: block; }

.sp-comment-more a:hover {
  background-color: #EAEAEA; }

.sp-comment-children-more {
  border-top: 1px solid #E2E2E2; }

.sp-comment-children-more a:hover {
  background-color: #EAEAEA; }

.sp-comment-children-more a {
  text-decoration: none;
  padding: 3px 5px;
  cursor: pointer;
  display: block; }

.sp-comment-composer .avatar {
  border: 0 none;
  display: block;
  height: 50px;
  left: 0;
  position: absolute;
  width: 50px; }

.sp-comment-btn.small {
  font-size: 12px;
  padding: 3px 9px 4px; }

/* ------------------------------ base ------------------------------ */
.sp-fss {
  font-size: 10px; }

.sp-fsm {
  font-size: 11px; }

.sp-fsn {
  font-size: 12px; }

.sp-fsl {
  font-size: 13px; }

.sp-fsxl {
  font-size: 16px; }

.sp-fsxxl {
  font-size: 20px; }

.sp-fwn {
  font-weight: 400; }

.sp-fwb {
  font-weight: bold; }

.sp-fcb {
  color: #333333; }

.sp-fcl {
  color: #777777; }

.sp-fcxl {
  color: #999999; }

.sp-fsti {
  font-style: italic; }

.sp-lfloat {
  float: left; }

.sp-rfloat {
  float: right; }

.sp-pas {
  padding: 5px; }

.sp-pam {
  padding: 10px; }

.sp-pal {
  padding: 20px; }

.sp-pts {
  padding-top: 5px; }

.sp-ptm {
  padding-top: 10px; }

.sp-ptl {
  padding-top: 20px; }

.sp-prs {
  padding-right: 5px; }

.sp-prm {
  padding-right: 10px; }

.sp-prl {
  padding-right: 20px; }

.sp-pbs {
  padding-bottom: 5px; }

.sp-pbm {
  padding-bottom: 10px; }

.sp-pbl {
  padding-bottom: 20px; }

.sp-pls {
  padding-left: 5px; }

.sp-plm {
  padding-left: 10px; }

.sp-pll {
  padding-left: 20px; }

.sp-phs {
  padding-left: 5px;
  padding-right: 5px; }

.sp-phm {
  padding-left: 10px;
  padding-right: 10px; }

.sp-phl {
  padding-left: 20px;
  padding-right: 20px; }

.sp-pvs {
  padding-bottom: 5px;
  padding-top: 5px; }

.sp-pvm {
  padding-bottom: 10px;
  padding-top: 10px; }

.sp-pvl {
  padding-bottom: 20px;
  padding-top: 20px; }

.sp-mas {
  margin: 5px; }

.sp-mam {
  margin: 10px; }

.sp-mal {
  margin: 20px; }

.sp-mts {
  margin-top: 5px; }

.sp-mtm {
  margin-top: 10px; }

.sp-mtl {
  margin-top: 20px; }

.sp-mrs {
  margin-right: 5px; }

.sp-mrm {
  margin-right: 10px; }

.sp-mrl {
  margin-right: 20px; }

.sp-mbs {
  margin-bottom: 5px; }

.sp-mbm {
  margin-bottom: 10px; }

.sp-mbl {
  margin-bottom: 20px; }

.sp-mls {
  margin-left: 5px; }

.sp-mlm {
  margin-left: 10px; }

.sp-mll {
  margin-left: 20px; }

.sp-mhs {
  margin-left: 5px;
  margin-right: 5px; }

.sp-mhm {
  margin-left: 10px;
  margin-right: 10px; }

.sp-mhl {
  margin-left: 20px;
  margin-right: 20px; }

.sp-mvs {
  margin-bottom: 5px;
  margin-top: 5px; }

.sp-mvm {
  margin-bottom: 10px;
  margin-top: 10px; }

.sp-mvl {
  margin-bottom: 20px;
  margin-top: 20px; }

.sp-ui-relative {
  position: relative; }

.sp-ui-absolute {
  position: absolute; }

.sp-respective-comment {
  float: left;
  max-height: 255px;
  margin-left: 30px;
  overflow-y: scroll;
  width: 36%; }

