/** profile_form_navigation -- additional text **/
/** sp_custom.scss **/
/** main wrapper bg color -- declared as variable in sp_custom.scss **/
/** main navigation list bg & on hover color **/
/** signed in menu list on hover bg color & aui-dialog - header bg color **/
/** footer bg color, spchallenges .navBar **/
/** signed-in menu li hover bg **/
/** signed-in menu li a text color  **/
/** signed-in menu li a action icons border color **/
/** signed-in menu li ul bg color, form group field border, form_section_content - bg & border, profileimagewrapper- bg **/
/** register buton text color **/
/** .section_box - border **/
/** video bg **/
/** page status bg color in gradient - along with #e0e0e0 **/
/** .innerPage_header **/
/** .innerPage_header - gratient bg **/
/** .innerPage_header - gratient bg **/
/** .form-title **/
/** form validator error color **/
/** input field border **/
/** input, textarea border bottom **/
/** select field text color **/
/** .pi-or-hr text color , .pi-drop-text text color **/
/** .bulleted-square-title - title **/
/** .bulleted-square-title - title **/
/** .bulleted-square-title - title **/
/** .bulleted-square-title - title **/
/** .bulleted-square-title - title **/
/** .bulleted-square-title - title **/
/** adminCtrls a bg color**/
/** .emphaTxt text color**/
/** documnet library **/
/** .document-library-breadcrumb **/
/** .aui-paginator-container **/
/** .lfr-discussion-message **/
/** sp_events **/
/** .event-maindiv-title bg **/
/** .event-maindiv,.event-detail-table1 **/
/** .event-maindiv - border **/
/** a.urlLink:hover **/
/** .event-detail-rightRow1 **/
/** sp_feeds **/
/** .sp-af-comment-entry-container li border **/
/** .sp-feeds-activity-filter li bg**/
/** .sp-feeds-activity-filter li border**/
/** .sp-feeds-tabs b **/
/** sp_filter **/
/** figure, .result_item_image bg gradient**/
/** figure, .result_item_image bg gradient**/
/** .result_item_title **/
/** .result_item_desc **/
/** .sp_filter  /.profile_form_navigation - bg**/
/** sp_gallery **/
/** #spAssetDetailViewListDiv / .yt-uix-slider-prev - bg**/
/** #spAssetDetailViewListDiv / .yt-uix-slider-prev - border **/
/** .menu-steps a - text color  **/
/** sp_user-profile **/
/** button border **/
/** sp_groups **/
/** .sp-group-member **/
/** .sp-group-nav li text color **/
/** .ip-si-x text color**/
/** &.mobileSignOut **/
/** inbox.css **/
/** #mailsTable tr border **/
/** &.msgUnread bg color **/
/** .sp-login-new-user border **/
/** sp_mobile **/
/** .dl-menu-sub-title - bg **/
/** .dl-menu-sub-title - text color **/
/** .menu_back_btn **/
/** footer box - text color **/
/** startup profile mobile **/
/** navigation .mobileNavSelect **/
/** startup profile **/
/** .avatar_container border **/
/** .avatar_cta input border **/
/** .avatar_cta input bg **/
/** separatot line **/
/** .avatar_cta cancel button  bg **/
/** .avatar_cta cancel button  border **/
/** section.profile_content / .profile_forms_wrap - bg**/
/** .tab_helpText - bg**/
/**  .icon_helpText - border **/
/**  .icon_helpText - text color **/
/** .title_helpText - text color **/
/** drag drop .fd_container - border**/
/** .col_section_item{ -border **/
/** #toggler a-active bg & text color **/
/** user profile **/
/** profile header border **/
/** profile header border **/
/** input field text colot**/
/** .callout-counter -gradient bg **/
/** .callout-counter -gradient bg **/
/** forms input bg **/
/**  forms input text color**/
/** table striped bg **/
/** table header bg **/
/** alert success bg **/
/** alert success text color **/
/** alert failed bg **/
/** alert failed text color **/
/** alert update bg **/
/** alert failed text color **/
/** #spblogs-stream-list ul li border **/
/** ip-sb-options bg **/
/** .header-circle  border **/
/** .innerPage_header_social_cta bradient bg **/
/** .main-header bg **/
/** .aui .dshHeadWrap .dsh_greeting **/
/** .main-navigation ul li hover border **/
/** startup_list{ **/
/** .closePop **/
/** .aui-dialog box-shadow **/
/** .portlet-content box-shadow **/
/** #spblogs-stream-list ul li border **/
/** input focus & hover **/
/** .aui-field-input-text - bg **/
/** .sp-af-comment-entry-container **/
/** .sp-activity-like-comment-stat **/
/** **/
/** .ip-sb{ hover **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/*startupprofile*/
/** profile_form_navigation -- additional text **/
/** sp_custom.scss **/
/** main wrapper bg color -- declared as variable in sp_custom.scss **/
/** main navigation list bg & on hover color **/
/** signed in menu list on hover bg color & aui-dialog - header bg color **/
/** footer bg color, spchallenges .navBar **/
/** signed-in menu li hover bg **/
/** signed-in menu li a text color  **/
/** signed-in menu li a action icons border color **/
/** signed-in menu li ul bg color, form group field border, form_section_content - bg & border, profileimagewrapper- bg **/
/** register buton text color **/
/** .section_box - border **/
/** video bg **/
/** page status bg color in gradient - along with #e0e0e0 **/
/** .innerPage_header **/
/** .innerPage_header - gratient bg **/
/** .innerPage_header - gratient bg **/
/** .form-title **/
/** form validator error color **/
/** input field border **/
/** input, textarea border bottom **/
/** select field text color **/
/** .pi-or-hr text color , .pi-drop-text text color **/
/** .bulleted-square-title - title **/
/** .bulleted-square-title - title **/
/** .bulleted-square-title - title **/
/** .bulleted-square-title - title **/
/** .bulleted-square-title - title **/
/** .bulleted-square-title - title **/
/** adminCtrls a bg color**/
/** .emphaTxt text color**/
/** documnet library **/
/** .document-library-breadcrumb **/
/** .aui-paginator-container **/
/** .lfr-discussion-message **/
/** sp_events **/
/** .event-maindiv-title bg **/
/** .event-maindiv,.event-detail-table1 **/
/** .event-maindiv - border **/
/** a.urlLink:hover **/
/** .event-detail-rightRow1 **/
/** sp_feeds **/
/** .sp-af-comment-entry-container li border **/
/** .sp-feeds-activity-filter li bg**/
/** .sp-feeds-activity-filter li border**/
/** .sp-feeds-tabs b **/
/** sp_filter **/
/** figure, .result_item_image bg gradient**/
/** figure, .result_item_image bg gradient**/
/** .result_item_title **/
/** .result_item_desc **/
/** .sp_filter  /.profile_form_navigation - bg**/
/** sp_gallery **/
/** #spAssetDetailViewListDiv / .yt-uix-slider-prev - bg**/
/** #spAssetDetailViewListDiv / .yt-uix-slider-prev - border **/
/** .menu-steps a - text color  **/
/** sp_user-profile **/
/** button border **/
/** sp_groups **/
/** .sp-group-member **/
/** .sp-group-nav li text color **/
/** .ip-si-x text color**/
/** &.mobileSignOut **/
/** inbox.css **/
/** #mailsTable tr border **/
/** &.msgUnread bg color **/
/** .sp-login-new-user border **/
/** sp_mobile **/
/** .dl-menu-sub-title - bg **/
/** .dl-menu-sub-title - text color **/
/** .menu_back_btn **/
/** footer box - text color **/
/** startup profile mobile **/
/** navigation .mobileNavSelect **/
/** startup profile **/
/** .avatar_container border **/
/** .avatar_cta input border **/
/** .avatar_cta input bg **/
/** separatot line **/
/** .avatar_cta cancel button  bg **/
/** .avatar_cta cancel button  border **/
/** section.profile_content / .profile_forms_wrap - bg**/
/** .tab_helpText - bg**/
/**  .icon_helpText - border **/
/**  .icon_helpText - text color **/
/** .title_helpText - text color **/
/** drag drop .fd_container - border**/
/** .col_section_item{ -border **/
/** #toggler a-active bg & text color **/
/** user profile **/
/** profile header border **/
/** profile header border **/
/** input field text colot**/
/** .callout-counter -gradient bg **/
/** .callout-counter -gradient bg **/
/** forms input bg **/
/**  forms input text color**/
/** table striped bg **/
/** table header bg **/
/** alert success bg **/
/** alert success text color **/
/** alert failed bg **/
/** alert failed text color **/
/** alert update bg **/
/** alert failed text color **/
/** #spblogs-stream-list ul li border **/
/** ip-sb-options bg **/
/** .header-circle  border **/
/** .innerPage_header_social_cta bradient bg **/
/** .main-header bg **/
/** .aui .dshHeadWrap .dsh_greeting **/
/** .main-navigation ul li hover border **/
/** startup_list{ **/
/** .closePop **/
/** .aui-dialog box-shadow **/
/** .portlet-content box-shadow **/
/** #spblogs-stream-list ul li border **/
/** input focus & hover **/
/** .aui-field-input-text - bg **/
/** .sp-af-comment-entry-container **/
/** .sp-activity-like-comment-stat **/
/** **/
/** .ip-sb{ hover **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/*startupprofile*/
/** SP Mixins **/
.portlet-calendar .portlet-content-container {
  background-color: #f1f1f1;
  min-height: 800px; }

.event-cta {
  display: inline-block; }

.event-detail-cta {
  text-align: right; }

.event-detail-title title {
  display: inline-block; }

a.sp-event-loadmore.bar-link.btn-bar {
  width: 100%;
  text-align: center;
  background-color: #f1f1f1;
  display: inline-block;
  cursor: pointer; }

.calendar-portlet-wrapper .yui3-widget-bd {
  position: relative; }
.calendar-portlet-wrapper .scheduler-event-recorder-form .yui3-widget-bd {
  position: inherit; }

.calendar-portlet #drop-zone {
  width: 25%; }
.calendar-portlet .aui .state.state-success {
  width: 25%;
  font-size: 12pt; }
.calendar-portlet .state-error {
  font-size: 12pt; }
.calendar-portlet .file-preview img {
  width: 200px;
  height: 200px; }
.calendar-portlet .popover.scheduler-event-recorder-popover {
  z-index: 10000 !important; }

.event-detail-table.border-all {
  border: none; }

.event-detail-right {
  width: 53%; }

.SPEvent-portlet,
.portlet-calendar {
  background: #f1f1f1; }
  .SPEvent-portlet .event-detail-table .event-detail-left,
  .portlet-calendar .event-detail-table .event-detail-left {
    max-width: 560px;
    height: 374px;
    overflow: hidden; }
    .SPEvent-portlet .event-detail-table .event-detail-left div img,
    .portlet-calendar .event-detail-table .event-detail-left div img {
      width: 100%;
      height: 100%; }
  .SPEvent-portlet .event-detail-table .event-detail-right,
  .portlet-calendar .event-detail-table .event-detail-right {
    padding: 0;
    max-width: 655px;
    padding-left: 20px;
    width: 53%; }
    .SPEvent-portlet .event-detail-table .event-detail-right table tr td,
    .portlet-calendar .event-detail-table .event-detail-right table tr td {
      padding: 10px 20px;
      border-top: none;
      background: transparent; }
    .SPEvent-portlet .event-detail-table .event-detail-right table tr:nth-child(2) td,
    .portlet-calendar .event-detail-table .event-detail-right table tr:nth-child(2) td {
      padding: 0; }
    .SPEvent-portlet .event-detail-table .event-detail-right table tr:nth-child(1) td,
    .portlet-calendar .event-detail-table .event-detail-right table tr:nth-child(1) td {
      padding-top: 20px;
      padding-bottom: 20px; }
    .SPEvent-portlet .event-detail-table .event-detail-right tr:nth-child(2) td,
    .portlet-calendar .event-detail-table .event-detail-right tr:nth-child(2) td {
      font-size: 0; }
    .SPEvent-portlet .event-detail-table .event-detail-right tr:nth-child(1) td,
    .portlet-calendar .event-detail-table .event-detail-right tr:nth-child(1) td {
      font-size: 0; }
    .SPEvent-portlet .event-detail-table .event-detail-right tr:nth-child(4) td .width-95,
    .portlet-calendar .event-detail-table .event-detail-right tr:nth-child(4) td .width-95 {
      width: 93%; }
    .SPEvent-portlet .event-detail-table .event-detail-right tr:nth-child(5) td,
    .portlet-calendar .event-detail-table .event-detail-right tr:nth-child(5) td {
      text-align: left; }
      .SPEvent-portlet .event-detail-table .event-detail-right tr:nth-child(5) td .event-cta,
      .portlet-calendar .event-detail-table .event-detail-right tr:nth-child(5) td .event-cta {
        display: inline-block;
        zoom: 1;
        margin-right: 10px;
        font-size: 0; }
        .SPEvent-portlet .event-detail-table .event-detail-right tr:nth-child(5) td .event-cta:last-child a,
        .portlet-calendar .event-detail-table .event-detail-right tr:nth-child(5) td .event-cta:last-child a {
          margin-left: 0; }
    .SPEvent-portlet .event-detail-table .event-detail-right .event-detail-title,
    .portlet-calendar .event-detail-table .event-detail-right .event-detail-title {
      padding-left: 10px; }
      .SPEvent-portlet .event-detail-table .event-detail-right .event-detail-title h2,
      .portlet-calendar .event-detail-table .event-detail-right .event-detail-title h2 {
        font-size: 14pt;
        font-weight: 600; }
    .SPEvent-portlet .event-detail-table .event-detail-right .event-detail-icon,
    .portlet-calendar .event-detail-table .event-detail-right .event-detail-icon {
      display: inline-block;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      font-weight: 400;
      padding-right: 10px;
      width: 20px; }
      .SPEvent-portlet .event-detail-table .event-detail-right .event-detail-icon:before,
      .portlet-calendar .event-detail-table .event-detail-right .event-detail-icon:before {
        font-size: 10pt; }
      .SPEvent-portlet .event-detail-table .event-detail-right .event-detail-icon.icon-details,
      .portlet-calendar .event-detail-table .event-detail-right .event-detail-icon.icon-details {
        vertical-align: middle; }
      .SPEvent-portlet .event-detail-table .event-detail-right .event-detail-icon img,
      .portlet-calendar .event-detail-table .event-detail-right .event-detail-icon img {
        display: none; }
  .SPEvent-portlet .event-detail-text,
  .portlet-calendar .event-detail-text {
    font-size: 11pt;
    font-weight: 400; }
  .SPEvent-portlet .event-detail-add-cta a,
  .portlet-calendar .event-detail-add-cta a {
    font-size: 0; }
  .SPEvent-portlet .description-title,
  .portlet-calendar .description-title {
    padding-top: 20px;
    padding-top: 20px; }
    .SPEvent-portlet .description-title h2,
    .portlet-calendar .description-title h2 {
      font-size: 14pt;
      font-weight: 600; }
  .SPEvent-portlet .lfr-panel-titlebar .lfr-panel-title,
  .portlet-calendar .lfr-panel-titlebar .lfr-panel-title {
    font-size: 14pt;
    font-weight: 600; }
  .SPEvent-portlet .event-filter .filter-dropdown,
  .portlet-calendar .event-filter .filter-dropdown {
    width: 250px; }
  .SPEvent-portlet .event-filter .filter-textInput,
  .portlet-calendar .event-filter .filter-textInput {
    width: 300px; }
  .SPEvent-portlet .event_wrap .month-title,
  .portlet-calendar .event_wrap .month-title {
    color: #333333;
    text-transform: none;
    font-size: 14pt;
    font-weight: 600; }
  .SPEvent-portlet .event-box,
  .portlet-calendar .event-box {
    -webkit-transition: all cubic-bezier(0.06, 0.76, 0.25, 0.96) 0.6s;
    -ms-transition: all cubic-bezier(0.06, 0.76, 0.25, 0.96) 0.6s;
    -moz-transition: all cubic-bezier(0.06, 0.76, 0.25, 0.96) 0.6s;
    -o-transition: all cubic-bezier(0.06, 0.76, 0.25, 0.96) 0.6s;
    transition: all cubic-bezier(0.06, 0.76, 0.25, 0.96) 0.6s; }
    .SPEvent-portlet .event-box *,
    .portlet-calendar .event-box * {
      -webkit-transition: all cubic-bezier(0.06, 0.76, 0.25, 0.96) 0.6s;
      -ms-transition: all cubic-bezier(0.06, 0.76, 0.25, 0.96) 0.6s;
      -moz-transition: all cubic-bezier(0.06, 0.76, 0.25, 0.96) 0.6s;
      -o-transition: all cubic-bezier(0.06, 0.76, 0.25, 0.96) 0.6s;
      transition: all cubic-bezier(0.06, 0.76, 0.25, 0.96) 0.6s; }
    .SPEvent-portlet .event-box .event-box-head,
    .portlet-calendar .event-box .event-box-head {
      height: 66px;
      max-height: 66px;
      -webkit-border-top-left-radius: 5px;
      -ms-border-top-left-radius: 5px;
      -moz-border-top-left-radius: 5px;
      -o-border-top-left-radius: 5px;
      border-top-left-radius: 5px;
      -webkit-border-top-right-radius: 5px;
      -ms-border-top-right-radius: 5px;
      -moz-border-top-right-radius: 5px;
      -o-border-top-right-radius: 5px;
      border-top-right-radius: 5px;
      background-color: #e7e7e7; }
      .SPEvent-portlet .event-box .event-box-head .div-title,
      .portlet-calendar .event-box .event-box-head .div-title {
        background: #16538e; }
        .SPEvent-portlet .event-box .event-box-head .div-title span,
        .portlet-calendar .event-box .event-box-head .div-title span {
          font-size: 11pt;
          font-weight: 400;
          color: #FFF; }
    .SPEvent-portlet .event-box .infobox-event,
    .portlet-calendar .event-box .infobox-event {
      height: 160px; }
    .SPEvent-portlet .event-box:hover .more,
    .portlet-calendar .event-box:hover .more {
      background: rgba(255, 255, 255, 0.9);
      opacity: 1; }
      .SPEvent-portlet .event-box:hover .more a,
      .portlet-calendar .event-box:hover .more a {
        text-decoration: underline; }
    .SPEvent-portlet .event-box .more,
    .portlet-calendar .event-box .more {
      top: 0;
      left: 0;
      opacity: 0; }
  .SPEvent-portlet .event-arrow,
  .portlet-calendar .event-arrow {
    position: absolute;
    top: 45%;
    display: inline-block;
    *display: inline;
    zoom: 1;
    width: 30px; }
    .SPEvent-portlet .event-arrow:first-child,
    .portlet-calendar .event-arrow:first-child {
      right: 100%; }
      .SPEvent-portlet .event-arrow:first-child a::before,
      .portlet-calendar .event-arrow:first-child a::before {
        font-family: "FontAwesome";
        font-size: 28pt;
        font-weight: bold;
        color: #999999;
        content: "\f104";
        margin-right: 2px; }
    .SPEvent-portlet .event-arrow:last-child,
    .portlet-calendar .event-arrow:last-child {
      left: 100%; }
      .SPEvent-portlet .event-arrow:last-child a::before,
      .portlet-calendar .event-arrow:last-child a::before {
        font-family: "FontAwesome";
        font-size: 28pt;
        font-weight: bold;
        color: #999999;
        content: "\f105";
        margin-left: 2px; }
    .SPEvent-portlet .event-arrow a,
    .portlet-calendar .event-arrow a {
      display: block;
      width: 30px;
      vertical-align: middle;
      height: 30px;
      text-align: center;
      -webkit-border-radius: 50%;
      -ms-border-radius: 50%;
      -moz-border-radius: 50%;
      -o-border-radius: 50%;
      border-radius: 50%;
      padding: 5px; }
      .SPEvent-portlet .event-arrow a img,
      .portlet-calendar .event-arrow a img {
        display: none; }
  .SPEvent-portlet .lfr-input-time,
  .portlet-calendar .lfr-input-time {
    width: auto; }
  .SPEvent-portlet .lfr-panel-container,
  .portlet-calendar .lfr-panel-container {
    background-color: transparent; }
  .SPEvent-portlet .taglib-discussion .lfr-discussion *,
  .portlet-calendar .taglib-discussion .lfr-discussion * {
    text-decoration: none; }
  .SPEvent-portlet .taglib-discussion .lfr-discussion .lfr-discussion-details,
  .portlet-calendar .taglib-discussion .lfr-discussion .lfr-discussion-details {
    margin-right: -100px;
    width: 100px; }
    .SPEvent-portlet .taglib-discussion .lfr-discussion .lfr-discussion-details .lfr-discussion-details-content,
    .portlet-calendar .taglib-discussion .lfr-discussion .lfr-discussion-details .lfr-discussion-details-content {
      padding: 0; }
      .SPEvent-portlet .taglib-discussion .lfr-discussion .lfr-discussion-details .lfr-discussion-details-content .taglib-user-display,
      .portlet-calendar .taglib-discussion .lfr-discussion .lfr-discussion-details .lfr-discussion-details-content .taglib-user-display {
        padding: 0;
        text-align: center; }
        .SPEvent-portlet .taglib-discussion .lfr-discussion .lfr-discussion-details .lfr-discussion-details-content .taglib-user-display a,
        .portlet-calendar .taglib-discussion .lfr-discussion .lfr-discussion-details .lfr-discussion-details-content .taglib-user-display a {
          display: block; }
          .SPEvent-portlet .taglib-discussion .lfr-discussion .lfr-discussion-details .lfr-discussion-details-content .taglib-user-display a .user-profile-image,
          .portlet-calendar .taglib-discussion .lfr-discussion .lfr-discussion-details .lfr-discussion-details-content .taglib-user-display a .user-profile-image {
            float: none; }
            .SPEvent-portlet .taglib-discussion .lfr-discussion .lfr-discussion-details .lfr-discussion-details-content .taglib-user-display a .user-profile-image img,
            .portlet-calendar .taglib-discussion .lfr-discussion .lfr-discussion-details .lfr-discussion-details-content .taglib-user-display a .user-profile-image img {
              width: 100%;
              height: auto; }
  .SPEvent-portlet .taglib-discussion .lfr-discussion .lfr-discussion-body .lfr-discussion-body-content,
  .portlet-calendar .taglib-discussion .lfr-discussion .lfr-discussion-body .lfr-discussion-body-content {
    margin-left: 120px; }
  .SPEvent-portlet .taglib-discussion .lfr-discussion .lfr-discussion-message,
  .portlet-calendar .taglib-discussion .lfr-discussion .lfr-discussion-message {
    padding: 20px;
    background-color: #F7F7F7;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
    margin-bottom: 10px;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; }
  .SPEvent-portlet .taglib-discussion .lfr-discussion .lfr-discussion-form-reply,
  .portlet-calendar .taglib-discussion .lfr-discussion .lfr-discussion-form-reply {
    display: block; }
    .SPEvent-portlet .taglib-discussion .lfr-discussion .lfr-discussion-form-reply .taglib-user-display img,
    .portlet-calendar .taglib-discussion .lfr-discussion .lfr-discussion-form-reply .taglib-user-display img {
      height: 40px; }

/** events- detail css **/
.event-maindiv-title {
  background-color: #3c3c3c;
  color: #ffffff;
  font-size: 14px;
  text-align: left;
  padding: 10px;
  padding-left: 20px; }

.event-maindiv {
  width: 100%;
  background-color: #FFF; }
  .event-maindiv .accordion-toggle,
  .event-maindiv .accordion-inner {
    padding-left: 0 !important; }

.event-detail-table1 {
  color: #D8DCE2;
  background-color: #D8DCE2;
  height: auto; }

.event-detail-table1.border-all {
  border: none; }

.event-detail-table1 .table {
  border-radius: 0; }

.event-detail-right {
  display: inline-block;
  height: 372px;
  padding: 0 0 0 5px;
  position: relative;
  vertical-align: top;
  width: 45%; }

.event-detail-left {
  width: 54%;
  vertical-align: top;
  display: inline-block;
  min-width: 305px; }

.event-detail-left {
  width: 54%; }

#images {
  width: 100%;
  height: 370px;
  position: relative;
  border: 1px solid white;
  background-size: 586px 248px;
  min-width: 305px;
  overflow: hidden; }

#images img {
  width: 100%;
  top: 0;
  z-index: 1;
  position: absolute;
  transition: all linear 300ms;
  -o-transition: all linear 300ms;
  -moz-transition: all linear 300ms;
  -webkit-transition: all linear 300ms;
  -webkit-animation: slideOut 0.6s ease-in-out;
  -moz-animation: slideOut 0.6s ease-in-out;
  -o-animation: slideOut 0.6s ease-in-out;
  -ms-animation: slideOut 0.6s ease-in-out;
  animation: slideOut 0.6s ease-in-out;
  min-width: 305px; }

#sliderevent a {
  color: #222222;
  padding: 0 5px 0 0;
  text-decoration: none; }

#sliderevent {
  margin-top: -30px;
  z-index: 1;
  position: relative;
  background: #ffffff;
  width: 98.3%;
  opacity: 0.75;
  padding-left: 10px;
  padding: 5px; }

.aftermove {
  left: 0;
  opacity: 1; }

.beforemove {
  left: -602px;
  opacity: 1; }

.btn-readmore:hover a {
  text-decoration: none; }

a.urlLink:hover {
  text-decoration: none;
  color: #666666; }

.event-detail-rightRow1 {
  background-color: #ffffff;
  padding: 10px 10px 12px; }

.event-detail-description {
  max-height: 100px;
  vertical-align: top;
  overflow: hidden; }

.event-detail-rightRow1 span {
  color: #666666;
  font-size: 14px; }

.spEventSocialBookmarks {
  padding-top: 10px; }

.file-preview {
  display: inline-block;
  padding: 0 20px;
  vertical-align: top; }
  .file-preview img {
    width: 200px; }
  .file-preview .state-success {
    border: none !important;
    background: none !important;
    display: inline-block;
    padding: 0; }
  .file-preview .state-error {
    display: inline-block;
    margin: 0;
    border: none !important;
    background: none !important; }

.uploader {
  display: inline-block;
  width: 96%;
  border: 1px solid #eee;
  padding: 20px;
  vertical-align: top; }

.file-metas {
  display: inline-block;
  width: auto; }

.event-detail-right {
  width: 53%; }

.event-detail-table1 {
  /** event-detail-right **/
  /**event-detail-icon **/ }
  .event-detail-table1 .event-detail-left {
    max-width: 560px;
    height: 374px;
    overflow: hidden; }
    .event-detail-table1 .event-detail-left div img {
      width: 100%;
      height: 100%; }
  .event-detail-table1 .event-detail-right {
    padding: 0;
    max-width: 655px;
    /** table **/
    /** tr **/ }
    .event-detail-table1 .event-detail-right table tr td {
      padding: 10px 20px;
      border-top: none;
      background: transparent; }
    .event-detail-table1 .event-detail-right table tr:nth-child(2) td {
      padding: 0; }
    .event-detail-table1 .event-detail-right table tr:nth-child(1) td {
      padding-top: 20px;
      padding-bottom: 20px; }
    .event-detail-table1 .event-detail-right tr:nth-child(2) td {
      font-size: 0; }
    .event-detail-table1 .event-detail-right tr:nth-child(1) td {
      font-size: 0; }
    .event-detail-table1 .event-detail-right tr:nth-child(4) td .width-95 {
      width: 93%; }
    .event-detail-table1 .event-detail-right:nth-child(5) td {
      text-align: left; }
      .event-detail-table1 .event-detail-right:nth-child(5) td .event-cta {
        display: inline-block;
        zoom: 1;
        margin-right: 10px;
        font-size: 0; }
        .event-detail-table1 .event-detail-right:nth-child(5) td .event-cta:last-child a {
          margin-left: 0; }
  .event-detail-table1 .event-detail-title {
    padding-left: 10px; }
    .event-detail-table1 .event-detail-title h2 {
      font-size: 14pt;
      font-weight: 600; }
  .event-detail-table1 .event-detail-icon {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-weight: 10pt;
    padding-right: 10px;
    width: 20px; }
    .event-detail-table1 .event-detail-icon:before {
      font-size: 10pt; }
    .event-detail-table1 .event-detail-icon.icon-details {
      vertical-align: middle; }
    .event-detail-table1 .event-detail-icon img {
      display: none; }
  .event-detail-table1 .fieldset {
    background: #f5f5f5;
    font-size: 12pt;
    color: #333333;
    padding-top: 20px; }

@media screen and (min-width: 320px) and (max-width: 767px) {
  .calendar-portlet .form input[type="text"], .calendar-portlet .form input[type="password"], .calendar-portlet .form input[type="file"], .calendar-portlet .form select, .calendar-portlet .form textarea, .calendar-portlet .form .textarea {
    width: auto !important; }

  .SPEvent-portlet .event-box .infobox-event,
  .portlet-calendar .event-box .infobox-event {
    height: auto; }

  .SPEvent-portlet .event-detail-table .event-detail-right tr:nth-child(4) td .width-95,
  .portlet-calendar .event-detail-table .event-detail-right tr:nth-child(4) td .width-95 {
    width: 90%; }

  .SPEvent-portlet .event-detail-table .event-detail-left,
  .portlet-calendar .event-detail-table .event-detail-left {
    max-width: 100%;
    min-width: 100%;
    height: 374px;
    overflow: hidden; }

  .event-maindiv {
    width: 100%; }

  .event-detail-table1 .event-detail-right {
    width: 100%; }

  .SPEvent-portlet .event-filter .filter-dropdown,
  .portlet-calendar .event-filter .filter-dropdown {
    width: 250px;
    margin-bottom: 5px; }

  .SPEvent-portlet .event-detail-table .event-detail-left,
  .portlet-calendar .event-detail-table .event-detail-left {
    width: 100%;
    height: auto; }
    .SPEvent-portlet .event-detail-table .event-detail-left img,
    .portlet-calendar .event-detail-table .event-detail-left img {
      height: auto !important; }
  .SPEvent-portlet .event-detail-table .event-detail-right,
  .portlet-calendar .event-detail-table .event-detail-right {
    display: inline-block;
    padding: 5px 0 0;
    position: relative;
    vertical-align: top;
    width: 100%;
    min-height: 454px; }
    .SPEvent-portlet .event-detail-table .event-detail-right .event-detail-title,
    .portlet-calendar .event-detail-table .event-detail-right .event-detail-title {
      padding-left: 10px;
      width: 85%; }
      .SPEvent-portlet .event-detail-table .event-detail-right .event-detail-title h2,
      .portlet-calendar .event-detail-table .event-detail-right .event-detail-title h2 {
        text-align: left;
        line-height: 24px; }
    .SPEvent-portlet .event-detail-table .event-detail-right .event-detail-date,
    .portlet-calendar .event-detail-table .event-detail-right .event-detail-date {
      width: 100%;
      border-bottom: 1px solid #bfbfbf; }
    .SPEvent-portlet .event-detail-table .event-detail-right .event-detail-time-venue,
    .portlet-calendar .event-detail-table .event-detail-right .event-detail-time-venue {
      width: 100%;
      border-left: none; }
  .SPEvent-portlet .event_wrap .event-box,
  .portlet-calendar .event_wrap .event-box {
    width: 100%; }
  .SPEvent-portlet #geoMap #mapcanvas,
  .portlet-calendar #geoMap #mapcanvas {
    width: 100% !important;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box; } }
@media screen and (min-width: 768px) and (max-width: 1100px) and (orientation: landscape) {
  #images img {
    position: relative; } }

/*# sourceMappingURL=sp_events.css.map */
