<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>Video Conversion Notification Servlet</servlet-name>
		<servlet-class>com.sambaash.platform.video.servlet.VideoConversionNotificationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Video Conversion Notification Servlet</servlet-name>
		<url-pattern>/videonotification</url-pattern>
	</servlet-mapping>
</web-app>