/** profile_form_navigation -- additional text **/
/** sp_custom.scss **/
/** main wrapper bg color -- declared as variable in sp_custom.scss **/
/** main navigation list bg & on hover color **/
/** signed in menu list on hover bg color & aui-dialog - header bg color **/
/** footer bg color, spchallenges .navBar **/
/** signed-in menu li hover bg **/
/** signed-in menu li a text color  **/
/** signed-in menu li a action icons border color **/
/** signed-in menu li ul bg color, form group field border, form_section_content - bg & border, profileimagewrapper- bg **/
/** register buton text color **/
/** .section_box - border **/
/** video bg **/
/** page status bg color in gradient - along with #e0e0e0 **/
/** .innerPage_header **/
/** .innerPage_header - gratient bg **/
/** .innerPage_header - gratient bg **/
/** .form-title **/
/** form validator error color **/
/** input field border **/
/** input, textarea border bottom **/
/** select field text color **/
/** .pi-or-hr text color , .pi-drop-text text color **/
/** .bulleted-square-title - title **/
/** .bulleted-square-title - title **/
/** .bulleted-square-title - title **/
/** .bulleted-square-title - title **/
/** .bulleted-square-title - title **/
/** .bulleted-square-title - title **/
/** adminCtrls a bg color**/
/** .emphaTxt text color**/
/** documnet library **/
/** .document-library-breadcrumb **/
/** .aui-paginator-container **/
/** .lfr-discussion-message **/
/** sp_events **/
/** .event-maindiv-title bg **/
/** .event-maindiv,.event-detail-table1 **/
/** .event-maindiv - border **/
/** a.urlLink:hover **/
/** .event-detail-rightRow1 **/
/** sp_feeds **/
/** .sp-af-comment-entry-container li border **/
/** .sp-feeds-activity-filter li bg**/
/** .sp-feeds-activity-filter li border**/
/** .sp-feeds-tabs b **/
/** sp_filter **/
/** figure, .result_item_image bg gradient**/
/** figure, .result_item_image bg gradient**/
/** .result_item_title **/
/** .result_item_desc **/
/** .sp_filter  /.profile_form_navigation - bg**/
/** sp_gallery **/
/** #spAssetDetailViewListDiv / .yt-uix-slider-prev - bg**/
/** #spAssetDetailViewListDiv / .yt-uix-slider-prev - border **/
/** .menu-steps a - text color  **/
/** sp_user-profile **/
/** button border **/
/** sp_groups **/
/** .sp-group-member **/
/** .sp-group-nav li text color **/
/** .ip-si-x text color**/
/** &.mobileSignOut **/
/** inbox.css **/
/** #mailsTable tr border **/
/** &.msgUnread bg color **/
/** .sp-login-new-user border **/
/** sp_mobile **/
/** .dl-menu-sub-title - bg **/
/** .dl-menu-sub-title - text color **/
/** .menu_back_btn **/
/** footer box - text color **/
/** startup profile mobile **/
/** navigation .mobileNavSelect **/
/** startup profile **/
/** .avatar_container border **/
/** .avatar_cta input border **/
/** .avatar_cta input bg **/
/** separatot line **/
/** .avatar_cta cancel button  bg **/
/** .avatar_cta cancel button  border **/
/** section.profile_content / .profile_forms_wrap - bg**/
/** .tab_helpText - bg**/
/**  .icon_helpText - border **/
/**  .icon_helpText - text color **/
/** .title_helpText - text color **/
/** drag drop .fd_container - border**/
/** .col_section_item{ -border **/
/** #toggler a-active bg & text color **/
/** user profile **/
/** profile header border **/
/** profile header border **/
/** input field text colot**/
/** .callout-counter -gradient bg **/
/** .callout-counter -gradient bg **/
/** forms input bg **/
/**  forms input text color**/
/** table striped bg **/
/** table header bg **/
/** alert success bg **/
/** alert success text color **/
/** alert failed bg **/
/** alert failed text color **/
/** alert update bg **/
/** alert failed text color **/
/** #spblogs-stream-list ul li border **/
/** ip-sb-options bg **/
/** .header-circle  border **/
/** .innerPage_header_social_cta bradient bg **/
/** .main-header bg **/
/** .aui .dshHeadWrap .dsh_greeting **/
/** .main-navigation ul li hover border **/
/** startup_list{ **/
/** .closePop **/
/** .aui-dialog box-shadow **/
/** .portlet-content box-shadow **/
/** #spblogs-stream-list ul li border **/
/** input focus & hover **/
/** .aui-field-input-text - bg **/
/** .sp-af-comment-entry-container **/
/** .sp-activity-like-comment-stat **/
/** **/
/** .ip-sb{ hover **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/*startupprofile*/
/** profile_form_navigation -- additional text **/
/** sp_custom.scss **/
/** main wrapper bg color -- declared as variable in sp_custom.scss **/
/** main navigation list bg & on hover color **/
/** signed in menu list on hover bg color & aui-dialog - header bg color **/
/** footer bg color, spchallenges .navBar **/
/** signed-in menu li hover bg **/
/** signed-in menu li a text color  **/
/** signed-in menu li a action icons border color **/
/** signed-in menu li ul bg color, form group field border, form_section_content - bg & border, profileimagewrapper- bg **/
/** register buton text color **/
/** .section_box - border **/
/** video bg **/
/** page status bg color in gradient - along with #e0e0e0 **/
/** .innerPage_header **/
/** .innerPage_header - gratient bg **/
/** .innerPage_header - gratient bg **/
/** .form-title **/
/** form validator error color **/
/** input field border **/
/** input, textarea border bottom **/
/** select field text color **/
/** .pi-or-hr text color , .pi-drop-text text color **/
/** .bulleted-square-title - title **/
/** .bulleted-square-title - title **/
/** .bulleted-square-title - title **/
/** .bulleted-square-title - title **/
/** .bulleted-square-title - title **/
/** .bulleted-square-title - title **/
/** adminCtrls a bg color**/
/** .emphaTxt text color**/
/** documnet library **/
/** .document-library-breadcrumb **/
/** .aui-paginator-container **/
/** .lfr-discussion-message **/
/** sp_events **/
/** .event-maindiv-title bg **/
/** .event-maindiv,.event-detail-table1 **/
/** .event-maindiv - border **/
/** a.urlLink:hover **/
/** .event-detail-rightRow1 **/
/** sp_feeds **/
/** .sp-af-comment-entry-container li border **/
/** .sp-feeds-activity-filter li bg**/
/** .sp-feeds-activity-filter li border**/
/** .sp-feeds-tabs b **/
/** sp_filter **/
/** figure, .result_item_image bg gradient**/
/** figure, .result_item_image bg gradient**/
/** .result_item_title **/
/** .result_item_desc **/
/** .sp_filter  /.profile_form_navigation - bg**/
/** sp_gallery **/
/** #spAssetDetailViewListDiv / .yt-uix-slider-prev - bg**/
/** #spAssetDetailViewListDiv / .yt-uix-slider-prev - border **/
/** .menu-steps a - text color  **/
/** sp_user-profile **/
/** button border **/
/** sp_groups **/
/** .sp-group-member **/
/** .sp-group-nav li text color **/
/** .ip-si-x text color**/
/** &.mobileSignOut **/
/** inbox.css **/
/** #mailsTable tr border **/
/** &.msgUnread bg color **/
/** .sp-login-new-user border **/
/** sp_mobile **/
/** .dl-menu-sub-title - bg **/
/** .dl-menu-sub-title - text color **/
/** .menu_back_btn **/
/** footer box - text color **/
/** startup profile mobile **/
/** navigation .mobileNavSelect **/
/** startup profile **/
/** .avatar_container border **/
/** .avatar_cta input border **/
/** .avatar_cta input bg **/
/** separatot line **/
/** .avatar_cta cancel button  bg **/
/** .avatar_cta cancel button  border **/
/** section.profile_content / .profile_forms_wrap - bg**/
/** .tab_helpText - bg**/
/**  .icon_helpText - border **/
/**  .icon_helpText - text color **/
/** .title_helpText - text color **/
/** drag drop .fd_container - border**/
/** .col_section_item{ -border **/
/** #toggler a-active bg & text color **/
/** user profile **/
/** profile header border **/
/** profile header border **/
/** input field text colot**/
/** .callout-counter -gradient bg **/
/** .callout-counter -gradient bg **/
/** forms input bg **/
/**  forms input text color**/
/** table striped bg **/
/** table header bg **/
/** alert success bg **/
/** alert success text color **/
/** alert failed bg **/
/** alert failed text color **/
/** alert update bg **/
/** alert failed text color **/
/** #spblogs-stream-list ul li border **/
/** ip-sb-options bg **/
/** .header-circle  border **/
/** .innerPage_header_social_cta bradient bg **/
/** .main-header bg **/
/** .aui .dshHeadWrap .dsh_greeting **/
/** .main-navigation ul li hover border **/
/** startup_list{ **/
/** .closePop **/
/** .aui-dialog box-shadow **/
/** .portlet-content box-shadow **/
/** #spblogs-stream-list ul li border **/
/** input focus & hover **/
/** .aui-field-input-text - bg **/
/** .sp-af-comment-entry-container **/
/** .sp-activity-like-comment-stat **/
/** **/
/** .ip-sb{ hover **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/*startupprofile*/
/** SP Mixins **/
address {
  font-style: normal; }

.btnDetails button.Blue {
  background-color: #0066B3;
  color: #ffffff;
  font-size: 10pt;
  font-weight: 400;
  border: none; }

.btnDetails button.Blue:hover {
  background-color: #2fa7de;
  color: #ffffff; }

.btnDetails button.Green {
  background-color: #13b288;
  color: #ffffff;
  font-size: 10pt;
  font-weight: 400; }

.btnDetails button.Green:hover {
  background-color: #2eeab9;
  color: #ffffff; }

.btnDetails button.Yellow {
  background-color: #ffc72c;
  color: #000000;
  font-size: 10pt;
  font-weight: 600; }

.btnDetails button.Yellow:hover {
  background-color: #FFEB3B;
  color: #000000; }

.g-detail-banner-container {
  background-image: linear-gradient(282deg, #00b388, #0085ca 50%, #005eb8);
  background-image: -webkit-linear-gradient(192deg, #00b388, #0085ca 50%, #005eb8);
  background-image: -o-linear-gradient(192deg, #00b388, #0085ca 50%, #005eb8);
  background-image: linear-gradient(282deg, #00b388, #0085ca 50%, #005eb8); }

.gdb-content-section {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000); }

.gdb-content-section .gdb-image {
  margin: 30px 0 0 0; }

.gdb-content-section .gdb-title {
  color: #f4f4f4;
  font-size: 14pt;
  font-weight: 500;
  text-shadow: 1px 1px #555; }

.gdb-content-section .gdb-description ul li p {
  font-size: 10pt;
  font-weight: 400;
  color: #ffffff; }

.gdb-content-section .gdb-description ul li.separated:after {
  background-color: #fed02f;
  border: none; }

.gdb-navlink {
  background-color: rgba(0, 94, 184, 0.5); }

.gdb-navlink ul li a {
  font-size: 10pt;
  font-weight: 400;
  color: #ffffff; }

.gdb-navlink ul li a:hover {
  color: #fed02f; }

.gdb-navlink ul li a.is-active {
  color: #fed02f; }

.gdb-navlink ul li.separated:after {
  background-color: #fed02f;
  border: none; }

.gdb-navlink ul li:last-child.separated:after {
  background-color: #000;
  border: none; }

.lightbox:after {
  color: #fed02f;
  font-size: 18pt; }

.lightbox-background {
  background: rgba(0, 0, 0, 0.95); }

.lightbox-caption {
  background: rgba(0, 0, 0, 0.9);
  color: white;
  font-size: 20px; }

.lightbox-loader svg path,
.lightbox-loader svg rect {
  fill: #fed02f; }

.gdb-box-sec {
  background-color: #ffffff;
  border: solid 1px #ececec; }

.detail-content-wrap iframe {
  border: solid 1px #979797; }

.detailed-title {
  color: #555555;
  font-size: 14pt;
  font-weight: 500; }

.detailed-title-big {
  color: #555555;
  font-size: 14pt;
  font-weight: 500; }

.detailed-description {
  color: #555555;
  font-size: 11pt;
  font-weight: 300;
  text-align: justify; }

.detailed-title-small {
  color: #555555;
  font-size: 10pt;
  font-weight: 400; }

.detailed-title-small-bold {
  color: #555555;
  font-size: 10pt;
  font-weight: 700; }

.box-section .layout-contact {
  border-right: solid 1px #e1e1e1; }

.box-section .layout-contact:last-child {
  border-right: 0; }

.box-section .layout-contact .cont-desc {
  font-size: 14px;
  font-weight: 700;
  color: #1a5aa5; }

.box-section .layout-contact a {
  color: #1a5aa5; }

.box-section .layout-contact:hover a {
  color: #fec92f; }

@media screen and (min-width: 320px) and (max-width: 480px) {
  .box-section .layout-contact {
    border-right: 0; } }
@media screen and (min-width: 360px) and (max-width: 640px) {
  .box-section .layout-contact {
    border-right: 0; } }
@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .box-section .layout-contact {
    border-right: 0; } }
/*# sourceMappingURL=sp_eventDetails.css.map */

