.aui input[type=checkbox]:checked {
	opacity: 1 !important;
}

.aui body label input[type=checkbox] {
	display: inline-block !important;
}

.Table-Layout {
	display: table;
	width: 100%;
	text-align: left;
	border: 1.5px solid #d9dce3;
}

.Table-Layout .Heading {
	display: table-row;
	padding: 10px 0;
	height: auto;
}

.Table-Layout .Heading .Cell {
	display: table-cell;
	padding: 5px;
	text-align: left;
    vertical-align: middle;
}

.Table-Layout .Heading .Cell p {
	margin: 0;
	padding: 0;
	color: #060606 !important;
	font-size: 11px !important;
	line-height: 15px !important;
}

.Table-Layout .Heading .Cell:last-child {
	width: 5% !important;
	text-align: left;
}

.Table-Layout .Row {
	display: table-row;
}

.Table-Layout .Row .Cell {
	display: table-cell;
	padding: 10px;
	position: relative;
	vertical-align: top;
}

.Table-Layout .Row .Cell p {
	margin: 0;
	padding: 0;
}

.Table-Layout .Row .Cell:last-child {
	width: 5% !important;
	text-align: center;
}
.btn-state {
	border-radius: 3px;
	font-weight: 600;
	color: #ffffff !important;
	text-transform: uppercase
}

.btn-update {
	background-color: #292984!important;
	border-radius: 0px !important;
}

.btn-delete {
	background-color: #d44848 !important;
	border-radius: 0px !important;
}

.btn-create {
	background-color: #058e2f !important;
	width: 100% !important;
}
.enrollmentTitle{
	background-color: #f5f8fb;
}
.enrolledCandidates{
	font-size: 10px;
    text-align: right;
}
.pendingCandidatesAssignment{
	font-size: 10px;
}
.candidateCount{
	color: #66c3ad;
    font-weight: 600;
}

.deleteButttonAssign{
	margin-left: -11% !important;
}

.buttonDelete{
	margin-left: 0% !important;
}
.warningReset{
	font-size: 1.5em !important;
}
.seating-plan-setup-text{
	font-weight: 500 !important;
}
