.mainDiv {
	display: none;
	width: 100%;
	height: 100%;
	display: none;
	position: fixed;
	background: #b8b9bf40;
	top: 0;
	z-index: 100000;
	right: 0;
}

.aui .head {
	background-color: white !important;
	padding-left: 184px !important;
}

.paymentDiv {
	width: 0%;
	background: white;
	height: 100%;
	right: 0;
	position: absolute;
	-webkit-box-shadow: -3px 3px 5px 6px #00000012;
	-moz-box-shadow: -3px 3px 5px 6px #00000012;
	box-shadow: -3px 3px 5px 6px #00000012;
}

.paymentDiv .headingImage {
	float: left;
}

.paymentDiv .headingCloseImage {
	float: right;
	margin-top: 10px;
	margin-right: 22px
}

.paymentDiv .payment-info {
	width: 138px;
	height: 21px;
	font-size: 18px;
	font-weight: 500;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #152935;
	border-bottom: 2px solid rgba(77, 161, 255, 0.2);
	margin-left: 9px !important;
	padding-top: 3px;
	float: left;
	height: 34px;
}

.paymentDiv .totalDiv {
	border-radius: 5px;
	border: 2px dotted #b1bed7;
	padding: 25px 30px 25px 30px;
	display: none
}

.paymentDiv .subTotalDiv {
	padding-bottom: 12px;
}

.paymentDiv .gstDiv {
	margin-bottom: 12px;
	padding-bottom: 7px;
	border-bottom: 2px solid #b1bed7;
}

.paymentDiv .leftLabel {
	float: left;
	font-size: 14px !important;
	font-weight: 500 !important;
	font-style: normal !important;
	font-stretch: normal !important;
	line-height: 1.23 !important;
	letter-spacing: normal !important;
	color: #274a5e !important;
	height: 25px !important;
}

.paymentDiv .rightLabel {
	font-size: 14px !important;
	font-weight: 450 !important;
	font-style: normal !important;
	font-stretch: normal !important;
	line-height: normal !important;
	letter-spacing: normal !important;
	text-align: right !important;
	color: #333333 !important;
}

.paymentDiv .grandTotal {
	height: 25px !important;
	font-size: 22px !important;
	font-weight: 500 !important;
	font-style: normal !important;
	font-stretch: normal !important;
	line-height: normal !important;
	letter-spacing: normal !important;
	text-align: right !important;
	color: #23910e !important;
}

.paymentDiv .heading {
	padding: 20px 45px 20px 45px;
	/*border: 1px solid black;*/
	height: 85px;
	position: absolute;
	top: 0;
	width: 100%;
	right: 0;
	left: 0;
}

.paymentDiv .contentScrollDiv {
	overflow-y: auto;
	/*border: 1px solid black;*/
	top: 85px;
	bottom: 130px;
	position: absolute;
	right: 0;
	left: 0;
}

.paymentDiv .contentDiv {
	margin: 10px 45px 20px 45px;
}

.paymentDiv .buttonDiv {
	bottom: 0;
	position: absolute;
	padding: 25px;
	/*border: 1px solid black;*/
	height: 130px;
	right: 0;
	left: 0;
	box-shadow: 0 0 15px 0 #e1e6eb;
}

.paymentDiv .buttonDiv .btn-default:hover {
	color: blue
}

.paymentDiv .paymentModeDiv {
	padding-top: 35px
}

.paymentDiv .buttonDiv button {
	width: 100% !important;
	height: 40px !important;
}

.paymentDiv #paymentForm label {
	float: left;
	font-size: 14px !important;
	font-weight: 500 !important;
	font-style: normal !important;
	font-stretch: normal !important;
	line-height: 1.23 !important;
	letter-spacing: normal !important;
	color: #274a5e !important;
	margin-left: 12px !important;
	font-family: "Work Sans", sans-serif !important
}

.paymentDiv .paymentTotalDiv {
	padding: 15px 30px 10px 30px
}

.paymentDiv .paymentModeRow {
	border-radius: 5px;
	box-shadow: 0 0 15px 0 #e1e6eb;
	margin-bottom: 15px;
	padding: 10px;
	display: none
}

.paymentDiv .paymentModeRow .headingLabel {
	margin-top: 3px;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: inline-block;
}

.paymentDiv .paymentModeRow .headingAmountLabel {
	float: right !important;
	margin-top: 3px;
}

.paymentDiv .minimizeIcon {
	cursor: pointer;
	margin-top: 3px;
	display: none;
}

.paymentDiv .maximizeIcon {
	cursor: pointer;
	margin-top: 3px;
}

.paymentDiv .closeIcon {
	cursor: pointer;
}

.paymentModeContentDiv {
	margin: 15px;
	display: none
}

.paymentDiv input[type=checkbox] {
	display: block !important;
	opacity: 1;
}

.paymentDiv input[type=checkbox]:checked {
	display: block !important;
	opacity: 1 !important;
}
#receipt-feedback-popup #success-msg {
	padding-top: 17px;
    font-size: 20px;
    font-size: 20px;
  	font-weight: 500;
}
#receipt-feedback-popup .popup-backtolist-button {
	width: 100%
}
#receipt-feedback-popup-box {
	    padding-top: 15px;
}

.slider {
	margin-left: 319px;
	width: 65.3%;
	height: 45px;
	background: white;
	float: right;
	position: absolute;
	bottom: 0px;
	transition: height .3s ease-in-out;
	display: none;
	z-index: 1;
}
.aui .eligible{
	padding-left: 3.5%;
}
.aui .newPortlets .form-group {
    padding-left: 41px;
}
.aui .formContainer .formio-component-textfield .form-control {
    width: 96.5%;
}
.aui .newPortlets .formio-form {
	padding-top: 0px !important;
}