@import "sp_custom_variables";
@import "sp_media-queries";
@import "sp_mixins";

//Changes Done by karthik

div#_20_ocerSearchContainer {
    border: 1px solid #CCC;
}

.portlet-document-library{
	.lfr-app-column-view{
		border: 0px solid #C9C9C9;;
		padding-bottom:20px;
		.aui-column{
			&::before{
				border-right: none;
			}
		}
	}
	
	.lfr-header-row{
		border: none;
		background: none;
		background-color: $custom-color-5;

		.lfr-header-row-content{
		    @include vendor-prefix(box-sizing, border-box);
		    .toolbar{

		    	.select-documents{
		    		border: none;
		    	}

		    	.tool-item{
		    		@include vendor-prefix(box-sizing, border-box);

		    	}
		    	.aui-toolbar-item{
    				border: none;

    				@include vendor-prefix(box-sizing, border-box);

    				.aui-icon-display-icon{
    				}

		    	}
		    }
		    .lfr-actions{
		    	&.lfr-extended{
		    		border: none;
		    	}

		    		&.show-arrow{
		    			&.direction-down{
		    				.lfr-trigger {
		    					strong{
		    						 a{
		    						 	background-position: 98% -3px !important;
		    						 }
		    					}
		    				}

		    			}
		    		}

		    }
		    .actions-button{

		    }
		    .document-search {
		    	.lfr-search-combobox {
		    		border: none;
		    	}

		    	.aui-layout-content{
		    		font-size: 0;

		    		.aui-column {

		    			&::before{
		    				border-right: none;
		    			}

		    			&.aui-w70{
		    				.aui-column-content{
		    					.lfr-search-combobox-item{
		    						border-radius: 0;

		    					}
		    				}
		    			}

		    			&.aui-w30{
		    				.aui-column-content {

    							.lfr-search-combobox-item{

								    		.aui-button-content{

									    		.aui-button-input{

												    border: none;

    												border-bottom: 1px solid $white;
												    @include vendor-prefix(box-sizing, border-box);
												    @include vendor-prefix(border-radius, 0px 4px 4px 0px);

										    	}
										    }




    							}
		    				}
		    			}

		    			.aui-column-content{
		    				border-right: 0;
		    			}
		    		}
		    	}

		    	.aui-field-input-text{
		    		@include vendor-prefix(border-radius, 0);
		    		background-color: $custom-color-123;
		    		border: none !important;
		    		border-radius: 0 !important;
		    	}

		    }
		    .select-button{
		    	.select-documents{
		    		 .aui-field-element{
		    		 	border: none;
		    		 }
		    	}
		    }
		}
	}
	.aui-layout-content{
		font-size: 0;
		.navigation-pane{
			border: none;

			.folder-display-style{
				.folder{

					&.selected{
						background-color: $bgColor-activeState;

						a{
							color: $dark-gray;
						}
					}
				}
			}

		}
		.context-pane{
			border: none;

			.context-pane-content{
				border: none;
			}

			.document-container{
				background-color: $light-gray;

			}

			.document-display-style{

				.document-thumbnail{
					img{
						background: $white;
					}
				}
			}
		}
	}


	.document-library-breadcrumb{
		background: none !important;
    	background-color: $custom-color-46 !important;
	}

	.aui-paginator-container{
		background: none !important;
		background-color: $custom-color-47 !important;
	}

	.view{
		max-width: $screen-max-width;
		@include vendor-prefix(box-sizing, border-box);

		.aui-column{
			@include vendor-prefix(box-sizing, border-box);

			font-size: 12pt;
		}

	}

	.document-info{
		background-color: $light-gray !important;
	}

	.taglib-ratings{
		&.stars{
			background: none !important;
			background-color: transparent !important;
			border: none !important;

			&:hover{
				.liferay-rating-vote{
					background: none !important;
					background-color: transparent !important;
					border: none !important;
				}
			}
		}



	}

	.taglib-header {
		max-width: $screen-max-width;
		@include vendor-prefix(box-sizing, border-box);
		border: none;

	}
}




#_20_documentLibraryContainer{
	font-size: 10pt;
	letter-spacing: 1px;
	background: #fff none repeat scroll 0 0 !important;
	
	.lfr-app-column-view {
		border: 0px solid #C9C9C9;
	}
	
	.entry-action .btn-group{
	 	background-color: transparent;
	}
	
	.span10 {
		border:0px solid #bfbfbf;
	}

	.nav-item-label{
		line-height: 18px;
		word-wrap: inherit;
		 white-space: normal;
	}
	
	dl,.dl-title {
		font-size:inherit;
	}
	
	.app-view-entry .entry-title{
		word-wrap: break-word;
		white-space: inherit;
	}
}

#portlet_20 {
	
	.table .table-sort-liner a, .table th {
	    font-weight: 500!important;
	    text-decoration: none;
	}
	
	.well{
		background:transparent;
		border:none;
	}
	
	.dropdown-toggle{
		background:none;
		border:none;
	}
	
	.lfr-icon-menu{
		background:transparent;
		border:none;
	}
	
	.table-striped {
	    border: 0px solid #bfbfbf;
	}
	
	#_20_tiym_column1_0_menu{ /** need to check this in ui copied from adv.styling -- harini**/
		border:none;
	}
}

#share_details input[type="text"]{
	color: #333 !important;
}
div#share_details{
	font-size: 0;
}

.user_item{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	background: #ddd;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	font-size: 8pt;
	
}

#share_details .accor_list>li>a{
	text-transform: uppercase !important;
	font-size: 2em;
    color: #000;
    font-weight: bold;
}

#share_details .accor_list > li > a.clicked::after{
	content: "-";
	position: relative;
	display: inline-block;
	*display: inline;
	zoom: 1;
	padding: 5px 0;
	padding-left: 75px;
}

#share_details .accor_list>li>a:hover{
	color: $themeColor;
}


.share_title{
	font-size: 12pt !important;
}



#share_details form{
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}


.sharedFiles-table{
	background: #fff;
}

.sharedFiles-table tr{
	border-bottom: 1px solid #ccc;
}

.sharedFiles-table tr:last-child{
	border-bottom: none;
}

.sharedFiles-table tr:first-child td{
	background: #4d5d63;
	color: #FFF;
	text-transform: uppercase;
	font-weight: 400 !important;
	
}

.sharedFiles-table tr td{
	font-size: 11pt;
	letter-spacing: 1px;
	
	border-right: 1px solid #333;
	text-align: left;
	color: #000;
	word-wrap: break-word;
	background: #fff;
}

.sharedFiles-table tr td:last-child{
	border-bottom: 1px solid #ccc;
}

#share_details{
	.ip-sb {
	    background: none repeat scroll 0 0 $white;
	    border-color: $custom-color-21;
	    border-style: solid;
	    border-width: 0 1px 1px;
	}
	
	.ip-sb-c {
	    background: url("../images/x.png") no-repeat scroll 0 0 transparent;
	}
	
	.ip-sb-option {
	    color: $custom-color-6;
	    cursor: pointer;
	    list-style: none outside none;
	    white-space: nowrap;
	}
	
	.ip-sb-option.hover {
	    background-color: $custom-color-1;
	    border-color: $custom-color-24;
	    border-style: dotted;
	    border-width: 1px 0;
	}
	
	.sp-group-clearfix:after {
	    font-size: 0;
	}
	
	.sp-group-fwb {
	    font-weight: bold;
	}
	
	.ip-to {
	    background: none repeat scroll 0 0 $white;
	    border: 1px solid $custom-color-142;
	    box-shadow: 0 1px 3px rgba(0,0,0,0.1) inset;
	    color: $custom-color-141;
	}
	
	.ip-si-x {
	    background: url("../images/x_light.png") no-repeat scroll 0 0 transparent;
	    cursor: pointer;
	}
	
	input[type="text"].ip-to-input {
	    background-color: rgba(0,0,0,0);
	    border: 0 none;
	    box-shadow: none;
	    font-size: inherit;
	}
	
	form.s1 .fieldset, .form.s1 .fieldset {
	    border-bottom: 1px solid $custom-color-24;
	}
}

.lfr-header-row{
	background: none !important;
	background-color: #62486d !important;
}

.lfr-panel.lfr-extended .lfr-panel-titlebar{
	background: none !important;
	background-color: #e2e2e2 !important;
}

.lfr-app-column-view .aui-column:before{
	border-right: none !important;
}

.portlet-document-library .select-documents .aui-field-element, .portlet-document-library-display .select-documents .aui-field-element{
	border: none !important;
}

.portlet-document-library .lfr-header-row .aui-button-input{
	color: #333 !important;
	background: #fff !important;
	font-size: 10pt !important;
	font-weight: bold !important;
	
}

.portlet-document-library .lfr-header-row-content .parent-folder-title, 
.portlet-document-library-display .lfr-header-row-content .parent-folder-title{
	font-size: 12pt;
	text-shadow: none;
}

#documentLibraryAssetPanelContainer{
	background: #f3f3f3;
	
}

.portlet-document-library .common-file-metadata-container.selected, 
.portlet-document-library-display .common-file-metadata-container.selected{
	background-color: #e9e9e9 !important;
}

.portlet-content-container .aui-paginator-page-container a{
	color: #333 !important;
}

.lfr-header-row .lfr-actions.lfr-extended, 
.lfr-header-row .lfr-search-combobox{
	border: none !important;
}

.shareSelect{
	background-color: $custom-color-139 !important;
    border-radius: none;
    border:none!important;
}

#share_details input{
	color: $black!important;
    letter-spacing: 1px!important;
    text-transform: none!important;
    font-weight: 400!important;
    padding: 10px 15px!important;
    border-radius: 5px!important;
    -webkit-border-radius: 5px!important;
    -moz-border-radius: 5px!important;
    -ms-border-radius: 5px!important;
    border: 0!important;
    text-shadow: none!important;
    transition: all ease-out .5s;
    -webkit-transition: all ease-out .5s;
    -moz-transition: all ease-out .5s;
    -moz-transition: all ease-out .5s;
    -o-transition: all ease-out .5s;
}

.sharedFiles-table tr td{
	font-size: 10pt;
}

#share_details .ip-si{
	background-color: $custom-color-139;
    border-right: 1px solid $custom-color-140;
    border-bottom: 1px solid $custom-color-140;
}

.lfr-app-column-view .aui-column-content{
	border-right: 0;
}

.lfr-header-row .lfr-actions.show-arrow.direction-down .lfr-trigger strong a{
	background-position: 100% -3px;
}

.document-container .lfr-actions.show-arrow.direction-down .lfr-trigger strong a{
	background-position: 98% -2px !important;
}

.accor_list, .accor_list ul, .accor_list a, .accor_list span {
  border: none;
  outline: none; }

.accor_list li {
  list-style: none;
  border-radius: 5px;
  background:transparent;
  }

.accor_list > li > a {
  color: #333333;
  vertical-align: middle;
  font-size: 15px;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

.accor_list li.accor_list_item > a:after {
  font-weight: bold;
  font-size: 15px; }

.accor_list li.accordion_enable > a:after {
  font-weight: bold;
  font-size: 15px; }

.accor_list li .accor_subContent {
  overflow: hidden;
  -webkit-transition: height .4s ease-in-out;
  -moz-transition: height .4s ease-in-out;
  -o-transition: height .4s ease-in-out;
  -ms-transition: height .4s ease-in-out;
  transition: height .4s ease-in-out;
  background: transparent; }

.accor_list li.accordion_enable .accor_subContent {
  border-top: 1px solid $themeColor;
  font-size: 16px; }

.accor_list li .accor_subContent p {
  font-size: 16px;
  color: #333333; }

.accor_list li .accor_subContent a {
  color: #333333;
  text-decoration: none; }

.accor_list_item table {
  border: 1px solid #b0b0b0;
}

.accor_list_item table th, .accor_list_item table td {
  margin: 0;
  padding: 20px 30px; }

.accor_list_item table th {
  background: #d5d5d5;
  font-size: 14pt;
  font-weight: 500;
  letter-spacing: 1px;
  text-align: center; }

.accor_list_item table td {
  background: #efefef;
  border-bottom: 1px solid #d5d5d5;
  font-size: 14pt;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: left; }

.accor_subContent ul li {
  font-size: 12pt;
  color: #000;
  list-style: disc outside;
  display: list-item; }


@include screen(320px, 767px){
	
	.portlet-document-library{
		.document-library-wrap{

			.aui-layout-content {
				.navigation-pane{
					@include vendor-prefix(box-sizing, border-box);
				}

				.context-pane{
					@include vendor-prefix(box-sizing, border-box);

					.document-display-style{
						&.display-icon{
							.document-link{
								img{
									@include vendor-prefix(box-sizing, border-box);
								}
							}
						}
					}
				}
			}
		}

	}

}




@include screen(768px, 1100px, portrait){
	.portlet-document-library{
		.document-library-wrap{

			.aui-layout-content {
				.navigation-pane{
					@include vendor-prefix(box-sizing, border-box);
				}

				.context-pane{
					@include vendor-prefix(box-sizing, border-box);

					.document-display-style{
						&.display-icon{

							.document-link{
								img{
									@include vendor-prefix(box-sizing, border-box);
								}
							}
						}
					}
				}
			}
		}

	}

}


@include screen(768px, 1100px, landscape){
	.vp2{
		.portlet-document-library{

			.lfr-header-row {
				.lfr-header-row-content {
					.document-search {
						.aui-layout-content {
							.aui-column.aui-w30 {
								.aui-column-content {
									.lfr-search-combobox-item {
										.aui-button-content {
											.aui-button-input{
												font-size: 8pt;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
