/** profile_form_navigation -- additional text **/
/** sp_custom.scss **/
/** main wrapper bg color -- declared as variable in sp_custom.scss **/
/** main navigation list bg & on hover color **/
/** signed in menu list on hover bg color & aui-dialog - header bg color **/
/** footer bg color, spchallenges .navBar **/
/** signed-in menu li hover bg **/
/** signed-in menu li a text color  **/
/** signed-in menu li a action icons border color **/
/** signed-in menu li ul bg color, form group field border, form_section_content - bg & border, profileimagewrapper- bg **/
/** register buton text color **/
/** .section_box - border **/
/** video bg **/
/** page status bg color in gradient - along with #e0e0e0 **/
/** .innerPage_header **/
/** .innerPage_header - gratient bg **/
/** .innerPage_header - gratient bg **/
/** .form-title **/
/** form validator error color **/
/** input field border **/
/** input, textarea border bottom **/
/** select field text color **/
/** .pi-or-hr text color , .pi-drop-text text color **/
/** .bulleted-square-title - title **/
/** .bulleted-square-title - title **/
/** .bulleted-square-title - title **/
/** .bulleted-square-title - title **/
/** .bulleted-square-title - title **/
/** .bulleted-square-title - title **/
/** adminCtrls a bg color**/
/** .emphaTxt text color**/
/** documnet library **/
/** .document-library-breadcrumb **/
/** .aui-paginator-container **/
/** .lfr-discussion-message **/
/** sp_events **/
/** .event-maindiv-title bg **/
/** .event-maindiv,.event-detail-table1 **/
/** .event-maindiv - border **/
/** a.urlLink:hover **/
/** .event-detail-rightRow1 **/
/** sp_feeds **/
/** .sp-af-comment-entry-container li border **/
/** .sp-feeds-activity-filter li bg**/
/** .sp-feeds-activity-filter li border**/
/** .sp-feeds-tabs b **/
/** sp_filter **/
/** figure, .result_item_image bg gradient**/
/** figure, .result_item_image bg gradient**/
/** .result_item_title **/
/** .result_item_desc **/
/** .sp_filter  /.profile_form_navigation - bg**/
/** sp_gallery **/
/** #spAssetDetailViewListDiv / .yt-uix-slider-prev - bg**/
/** #spAssetDetailViewListDiv / .yt-uix-slider-prev - border **/
/** .menu-steps a - text color  **/
/** sp_user-profile **/
/** button border **/
/** sp_groups **/
/** .sp-group-member **/
/** .sp-group-nav li text color **/
/** .ip-si-x text color**/
/** &.mobileSignOut **/
/** inbox.css **/
/** #mailsTable tr border **/
/** &.msgUnread bg color **/
/** .sp-login-new-user border **/
/** sp_mobile **/
/** .dl-menu-sub-title - bg **/
/** .dl-menu-sub-title - text color **/
/** .menu_back_btn **/
/** footer box - text color **/
/** startup profile mobile **/
/** navigation .mobileNavSelect **/
/** startup profile **/
/** .avatar_container border **/
/** .avatar_cta input border **/
/** .avatar_cta input bg **/
/** separatot line **/
/** .avatar_cta cancel button  bg **/
/** .avatar_cta cancel button  border **/
/** section.profile_content / .profile_forms_wrap - bg**/
/** .tab_helpText - bg**/
/**  .icon_helpText - border **/
/**  .icon_helpText - text color **/
/** .title_helpText - text color **/
/** drag drop .fd_container - border**/
/** .col_section_item{ -border **/
/** #toggler a-active bg & text color **/
/** user profile **/
/** profile header border **/
/** profile header border **/
/** input field text colot**/
/** .callout-counter -gradient bg **/
/** .callout-counter -gradient bg **/
/** forms input bg **/
/**  forms input text color**/
/** table striped bg **/
/** table header bg **/
/** alert success bg **/
/** alert success text color **/
/** alert failed bg **/
/** alert failed text color **/
/** alert update bg **/
/** alert failed text color **/
/** #spblogs-stream-list ul li border **/
/** ip-sb-options bg **/
/** .header-circle  border **/
/** .innerPage_header_social_cta bradient bg **/
/** .main-header bg **/
/** .aui .dshHeadWrap .dsh_greeting **/
/** .main-navigation ul li hover border **/
/** startup_list{ **/
/** .closePop **/
/** .aui-dialog box-shadow **/
/** .portlet-content box-shadow **/
/** #spblogs-stream-list ul li border **/
/** input focus & hover **/
/** .aui-field-input-text - bg **/
/** .sp-af-comment-entry-container **/
/** .sp-activity-like-comment-stat **/
/** **/
/** .ip-sb{ hover **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/*startupprofile*/
/** sp_filter **/
/** figure, .result_item_image bg gradient**/
/** figure, .result_item_image bg gradient**/
/** .result_item_title **/
/** .result_item_desc **/
/** .sp_filter  /.profile_form_navigation - bg**/
/** sp_groups **/
/** .sp-group-member **/
/** .sp-group-nav li text color **/
/** .ip-si-x text color**/
/** &.mobileSignOut **/
/** startup profile **/
/** .avatar_container border **/
/** .avatar_cta input border **/
/** .avatar_cta input bg **/
/** separatot line **/
/** .avatar_cta cancel button  bg **/
/** .avatar_cta cancel button  border **/
/** section.profile_content / .profile_forms_wrap - bg**/
/** .tab_helpText - bg**/
/**  .icon_helpText - border **/
/**  .icon_helpText - text color **/
/** .title_helpText - text color **/
/** drag drop .fd_container - border**/
/** .col_section_item{ -border **/
/** #toggler a-active bg & text color **/
/** user profile **/
/** profile header border **/
/** profile header border **/
/** input field text colot**/
/** .callout-counter -gradient bg **/
/** .callout-counter -gradient bg **/
/** forms input bg **/
/**  forms input text color**/
/** table striped bg **/
/** table header bg **/
/** alert success bg **/
/** alert success text color **/
/** alert failed bg **/
/** alert failed text color **/
/** alert update bg **/
/** alert failed text color **/
/** #spblogs-stream-list ul li border **/
/** ip-sb-options bg **/
/** .header-circle  border **/
/** .innerPage_header_social_cta bradient bg **/
/** .main-header bg **/
/** .aui .dshHeadWrap .dsh_greeting **/
/** .main-navigation ul li hover border **/
/** startup_list{ **/
/** .closePop **/
/** .aui-dialog box-shadow **/
/** .portlet-content box-shadow **/
/** #spblogs-stream-list ul li border **/
/** input focus & hover **/
/** .aui-field-input-text - bg **/
/** .sp-af-comment-entry-container **/
/** .sp-activity-like-comment-stat **/
/** **/
/** .ip-sb{ hover **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/*startupprofile*/
/** profile_form_navigation -- additional text **/
/** sp_custom.scss **/
/** main wrapper bg color -- declared as variable in sp_custom.scss **/
/** main navigation list bg & on hover color **/
/** signed in menu list on hover bg color & aui-dialog - header bg color **/
/** footer bg color, spchallenges .navBar **/
/** signed-in menu li hover bg **/
/** signed-in menu li a text color  **/
/** signed-in menu li a action icons border color **/
/** signed-in menu li ul bg color, form group field border, form_section_content - bg & border, profileimagewrapper- bg **/
/** register buton text color **/
/** .section_box - border **/
/** video bg **/
/** page status bg color in gradient - along with #e0e0e0 **/
/** .innerPage_header **/
/** .innerPage_header - gratient bg **/
/** .innerPage_header - gratient bg **/
/** .form-title **/
/** form validator error color **/
/** input field border **/
/** input, textarea border bottom **/
/** select field text color **/
/** .pi-or-hr text color , .pi-drop-text text color **/
/** .bulleted-square-title - title **/
/** .bulleted-square-title - title **/
/** .bulleted-square-title - title **/
/** .bulleted-square-title - title **/
/** .bulleted-square-title - title **/
/** .bulleted-square-title - title **/
/** adminCtrls a bg color**/
/** .emphaTxt text color**/
/** documnet library **/
/** .document-library-breadcrumb **/
/** .aui-paginator-container **/
/** .lfr-discussion-message **/
/** sp_events **/
/** .event-maindiv-title bg **/
/** .event-maindiv,.event-detail-table1 **/
/** .event-maindiv - border **/
/** a.urlLink:hover **/
/** .event-detail-rightRow1 **/
/** sp_feeds **/
/** .sp-af-comment-entry-container li border **/
/** .sp-feeds-activity-filter li bg**/
/** .sp-feeds-activity-filter li border**/
/** .sp-feeds-tabs b **/
/** sp_filter **/
/** figure, .result_item_image bg gradient**/
/** figure, .result_item_image bg gradient**/
/** .result_item_title **/
/** .result_item_desc **/
/** .sp_filter  /.profile_form_navigation - bg**/
/** sp_gallery **/
/** #spAssetDetailViewListDiv / .yt-uix-slider-prev - bg**/
/** #spAssetDetailViewListDiv / .yt-uix-slider-prev - border **/
/** .menu-steps a - text color  **/
/** sp_user-profile **/
/** button border **/
/** sp_groups **/
/** .sp-group-member **/
/** .sp-group-nav li text color **/
/** .ip-si-x text color**/
/** &.mobileSignOut **/
/** inbox.css **/
/** #mailsTable tr border **/
/** &.msgUnread bg color **/
/** .sp-login-new-user border **/
/** sp_mobile **/
/** .dl-menu-sub-title - bg **/
/** .dl-menu-sub-title - text color **/
/** .menu_back_btn **/
/** footer box - text color **/
/** startup profile mobile **/
/** navigation .mobileNavSelect **/
/** startup profile **/
/** .avatar_container border **/
/** .avatar_cta input border **/
/** .avatar_cta input bg **/
/** separatot line **/
/** .avatar_cta cancel button  bg **/
/** .avatar_cta cancel button  border **/
/** section.profile_content / .profile_forms_wrap - bg**/
/** .tab_helpText - bg**/
/**  .icon_helpText - border **/
/**  .icon_helpText - text color **/
/** .title_helpText - text color **/
/** drag drop .fd_container - border**/
/** .col_section_item{ -border **/
/** #toggler a-active bg & text color **/
/** user profile **/
/** profile header border **/
/** profile header border **/
/** input field text colot**/
/** .callout-counter -gradient bg **/
/** .callout-counter -gradient bg **/
/** forms input bg **/
/**  forms input text color**/
/** table striped bg **/
/** table header bg **/
/** alert success bg **/
/** alert success text color **/
/** alert failed bg **/
/** alert failed text color **/
/** alert update bg **/
/** alert failed text color **/
/** #spblogs-stream-list ul li border **/
/** ip-sb-options bg **/
/** .header-circle  border **/
/** .innerPage_header_social_cta bradient bg **/
/** .main-header bg **/
/** .aui .dshHeadWrap .dsh_greeting **/
/** .main-navigation ul li hover border **/
/** startup_list{ **/
/** .closePop **/
/** .aui-dialog box-shadow **/
/** .portlet-content box-shadow **/
/** #spblogs-stream-list ul li border **/
/** input focus & hover **/
/** .aui-field-input-text - bg **/
/** .sp-af-comment-entry-container **/
/** .sp-activity-like-comment-stat **/
/** **/
/** .ip-sb{ hover **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/*startupprofile*/
/** sp_filter **/
/** figure, .result_item_image bg gradient**/
/** figure, .result_item_image bg gradient**/
/** .result_item_title **/
/** .result_item_desc **/
/** .sp_filter  /.profile_form_navigation - bg**/
/** sp_groups **/
/** .sp-group-member **/
/** .sp-group-nav li text color **/
/** .ip-si-x text color**/
/** &.mobileSignOut **/
/** startup profile **/
/** .avatar_container border **/
/** .avatar_cta input border **/
/** .avatar_cta input bg **/
/** separatot line **/
/** .avatar_cta cancel button  bg **/
/** .avatar_cta cancel button  border **/
/** section.profile_content / .profile_forms_wrap - bg**/
/** .tab_helpText - bg**/
/**  .icon_helpText - border **/
/**  .icon_helpText - text color **/
/** .title_helpText - text color **/
/** drag drop .fd_container - border**/
/** .col_section_item{ -border **/
/** #toggler a-active bg & text color **/
/** user profile **/
/** profile header border **/
/** profile header border **/
/** input field text colot**/
/** .callout-counter -gradient bg **/
/** .callout-counter -gradient bg **/
/** forms input bg **/
/**  forms input text color**/
/** table striped bg **/
/** table header bg **/
/** alert success bg **/
/** alert success text color **/
/** alert failed bg **/
/** alert failed text color **/
/** alert update bg **/
/** alert failed text color **/
/** #spblogs-stream-list ul li border **/
/** ip-sb-options bg **/
/** .header-circle  border **/
/** .innerPage_header_social_cta bradient bg **/
/** .main-header bg **/
/** .aui .dshHeadWrap .dsh_greeting **/
/** .main-navigation ul li hover border **/
/** startup_list{ **/
/** .closePop **/
/** .aui-dialog box-shadow **/
/** .portlet-content box-shadow **/
/** #spblogs-stream-list ul li border **/
/** input focus & hover **/
/** .aui-field-input-text - bg **/
/** .sp-af-comment-entry-container **/
/** .sp-activity-like-comment-stat **/
/** **/
/** .ip-sb{ hover **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/** **/
/*startupprofile*/
/** SP Mixins **/
/* FONT MIXINS */
/*********************

RESPONSIVE BREAKPOINT
**********************/
/** company-news -- ESN Dashboard - News Section -- 128285 **/
.mentors-list ul li {
  width: 24%; }

@media screen and (min-width: 320px) and (max-width: 767px) {
  .mentors-list ul li {
    width: 100% !important;
    margin: 1% 0 !important;
    height: auto !important;
    min-height: auto !important; }

  .vp2 .mentors-list ul li {
    width: 49%; }

  .mentors-list ul li figure {
    height: auto; }

  .headCTA {
    position: relative !important;
    right: auto !important;
    top: auto !important;
    padding: 10px !important; }

  .ab-us .slide .mobileimg img {
    display: none; }

  .ab-us #bgvid1 {
    background: url(/documents/12788/13212/AboutUs_BG_04.jpg?t=1434360586271);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover; }

  .ab-us .casestudy {
    text-align: center; }

  .slide {
    min-height: initial !important; }

  .mainCS {
    margin: 0px;
    width: 100%;
    padding: 2%; }

  .videodts {
    width: 100%;
    padding: 25px; }

  .share {
    margin-top: 10%;
    text-align: left; }

  .videothumb1 {
    width: 100%; }

  .video {
    left: 50%; }

  .slider-list {
    margin: 0; }

  .item {
    width: 100%;
    margin: 0 0 10px 0; }

  .CTAButton:after {
    display: none; }

  .graybox {
    margin-left: 5px; }

  .mobileSlider {
    display: block; }

  .slider-list {
    margin: 0; }

  .mcts1 .slidebox {
    width: 100%;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    background-color: #fff; }

  .galleryListing .style2 .search-stream-mosaic-block-description {
    height: auto !important;
    min-height: auto !important;
    margin-bottom: 10px !important;
    text-align: justify !important; }

  .coverImageDiv.img-tn-large {
    height: auto;
    width: 100%;
    box-sizing: border-box;
    position: relative; }

  .width-30 {
    width: 100%; }

  .width-35 {
    width: 100%; }

  .width-65 {
    width: 100%; }

  .aui-w65,
  .aui-w35,
  .aui-w50,
  .aui-w80,
  .aui-w20 {
    float: none !important;
    display: block !important;
    clear: both !important;
    width: 100% !important; }

  .video-list ul {
    -webkit-column-count: 1;
    column-count: 1;
    -moz-column-count: 1; }

  .colRight {
    width: 100% !important;
    overflow: auto !important; }

  .colLeft {
    width: 100% !important;
    padding: 20px !important;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; }

  .eventCTALinks {
    margin-left: 0; }

  sliderView {
    display: none; }

  .slider-list {
    margin: 0; }

  .mcts1 .slidebox {
    width: 100%;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    background-color: #fff; }

  .upcomingEventsCTALinks {
    margin-top: 20px;
    padding-bottom: 20px; }

  .fv-content {
    max-height: 100%; }

  .fv-details {
    width: 100%;
    padding: 20px; }

  .fv-video {
    width: 100%; }

  .video-list ul {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1; } }
@media screen and (min-width: 768px) and (max-width: 1100px) {
  .columns1_3 .row-fluid .span3 {
    width: 100%; }

  .aui .dockbar-ready #wrapper {
    margin-top: 0;
    padding-top: 62px; }

  .mentors-list ul li .mentor-details {
    height: 129px;
    max-height: 129px; }

  .vp1 .mentors-list ul li {
    width: 48%;
    margin: 1% 0.5%;
    height: auto; }

  .mentors-list ul li {
    height: auto; }

  .mentors-list ul li figure {
    height: auto; }

  .vp2 .mentors-list ul li figure {
    height: 230px; }

  .vp1 .mentors-list ul li figure {
    height: 340px; }

  .vp1 .headCTA {
    position: relative;
    right: auto;
    top: auto;
    padding: 10px; }

  .descriptive-list li {
    width: 100% !important;
    padding: 20px !important;
    margin: 1% auto !important;
    height: auto !important;
    max-height: 100% !important;
    word-break: break-word; }

  .cta-section-content {
    text-align: center; }

  .cta-section-content a {
    display: inline-block;
    margin-left: 0; }

  .investment-brands ul li {
    width: 100% !important;
    min-height: auto !important;
    margin: 1% 0; }

  .event_wrapper {
    width: 100%;
    padding: 2%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0; }

  .vp1.ab-us .slide .mobileimg img {
    display: none; }

  .vp1.ab-us #bgvid1, .vp2.ab-us #bgvid1 {
    background: url(/documents/12788/13212/AboutUs_BG_04.jpg?t=1434360586271);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover; }

  .vp2.ab-us .bg8 {
    height: 100vh;
    padding-bottom: 50px; }

  .vp2.ab-us .slide.plx {
    background-attachment: scroll !important; }

  .vp1.ab-us .casestudy {
    text-align: center; }

  .slide {
    min-height: initial !important; }

  .vp2 #bgvid1 {
    display: block;
    background-image: url("/UnileverFoundry-theme/images/videos/UnileverMobileBGVideoLandscape.gif");
    background-attachment: fixed;
    background-position: 0 0;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }

  .event_wrapper {
    width: 100%;
    padding: 2%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0; }

  .vp1 .mcts1 .slidebox {
    width: 100%;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    background-color: #fff; }

  .graybox {
    margin-left: 5px; }

  .mcts1 .slidebox {
    width: 100%;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    background-color: #fff; } }
/*# sourceMappingURL=sp_templates.css.map */

